$orange_gradient: linear-gradient(to right, #FF7300, #FFC200);
$blue_gradient: linear-gradient(to right, #3D52EF, #55B9FC);
$ghost_white: #F4F6FD;
$white: #fff;
$black: #000;
$gray :#7f7e7e;

$d_bg:#282828;
$d_gold: #F64E60;
$hover_gold: #b89c5f;
$l_gray: #b8b8b8;
$second_gray:#F7F8FC;
$d_text:#808080;
$l_text:#b4b4b4;
$box_shadow:#e6e6e6;



// $d_gold: #CAAB68;