@import '../Partials/main-color';
@import '../Partials/mixin';
@import '../Partials/checkbox-design';
@import '../Partials/header-text';
@import '../Partials/table-header';
@import '../Partials/table-option';
@import '../Partials/table';
@import '../Partials/pagination';
@import '../Partials/error';
@import '../Partials/table_image';
@import '../Partials/modal';
@import '../Partials/modal2';
@import '../Partials/btn';
@import '../Partials/table-error';

.main_body {
    @include main_field
}

.main_col {
    @include main_col;
}

.pagination {
    padding: 0;
}


// comments custom table

.QT_image {
    div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 120px;
    }
}

.comment_info {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
    position: absolute;
    top: 47px;
}

.article_name_field {
    width: 140px;
}

.message_info {
    text-align: right;
    width: 360px;
    position: relative;

    div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 360px;
    }

    p {
        margin-top: 5px;
        display: inline-block;
        margin-bottom: 0;

        a {
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 100px;
            position: relative;
            top: 7px;
        }
    }
}

.modal_info_col {
    font-weight: bold;
    font-size: 0.9rem;
}

.modal_messages {
    text-align: justify;
    direction: rtl;
    line-height: 30px;
    font-size: 0.9rem;
}

.user_img_modal {
    width: 100%;
    border-radius: 7px;
}

.table_accept_btn {
    width: 35px;
    height: 35px;
    background-color: $l_blue;
    border-radius: 4px;
    color: $d_blue;
    position: absolute;
    left: 43px;
    top: 12px;

    i {
        position: relative;
        left: 2.8px;
        top: 0.8px;
    }

    &:hover {
        background-color: $d_blue;
        color: white;
    }
}

.header_field .table_header .tr_select {
    position: absolute;
    top: 12px;
    left: 86px;
}

.header_field .t_search {
    position: absolute;
    width: 270px;
    left: 260px;
    top: 13px;
}

.reply_to_summary{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 120px;
    position: relative;
    top: 8px;
    right: 6px;
}

.Q_table .QT_truncate div {
    max-width: 120px;
}