@import '../Partials/main-color';
@import '../Partials/mixin';
@import '../Partials/checkbox-design';
@import '../Partials/header-text';
@import '../Partials/table-header';
@import '../Partials/table-option';
@import '../Partials/table';
@import '../Partials/pagination';
@import '../Partials/error';
@import '../Partials/table-error';

.main_body {
    @include main_field
}

.main_col {
    @include main_col;
}

.pagination{
    padding: 0;
}

#article_collaps{
    max-height: 80px;
}

#article_list{
    p{
        color: white;
        background-color: #1B1B28;
    }
}