@import '../../css/general/main_color';
@import '../../css/general/general-scss';
@import '../../css/general/chose-file-design';

.main_field_of_add_article {
    @include main_field;
}

.main_col {
    @include main_col;
    padding-bottom: 60px !important;
}

.header_of_add_article {
    @include header_custom;
}

.small_of_header_add_article {
    @include small_of_header;
}

.btn_of_save_changes {
    background-color: $l_green;
    color: $d_green;
    position: absolute;
    left: 0;
}

.main_lable_design {
    font-size: 1rem;
}

.box_of_img_template {
    width: 376px;
    height: 230px;
}

.btn-tertiary2 {
    font-size: 1.2rem;
    line-height: 230px;
}

// editor customize

.fr-toolbar,
.second-toolbar,
.fr-box.fr-basic .fr-wrapper {
    background-color: #F3F6F9;
    border: none;
}

.fr-box.fr-basic .fr-element {
    text-align: right;
    direction: rtl;
    font-family: main-font;
    min-height: 300px;
}

.fr-toolbar .fr-more-toolbar {
    background-color: #F3F6F9;
}
#logo{
    display: none !important;
}