.main_field_of_users_profile {
    background-color: white;
    padding: 30px 50px;
}

.users_list_title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 40px;
    border-right: 5px solid #E13A58;
    background-color: white;
    padding: 10px 20px;
    border-radius: 3px;
}

.main_field_of_users_list {
    width: 76%;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 3.5%;
    padding: 20px 20px;
    direction: rtl;
    text-align: right;
}

.img_of_users_list {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.more_option_of_list {
    color: #9b9b9b;
}

.header_list_custom {
    padding: 20px .75rem !important;
}

.list_detail_custom {
    padding-top: 24px !important;
}

.btn_padding_custm{
    padding-top: 16px;
}

.img_padding_custom{
    padding-top: 12px !important;
}

.user_list_dropdown_btn{
    margin-top: 8px;
}

.dropdown-toggle::after {
    display: none;

}

.user_list_ellipsis{
    color: #7d7d7d;
}

.situation_main_field_true{
    background-color: #E6F8F3;
    border-radius: 500px;
    color: #0ABB87;
    width: 99px;
    height: 30px;
    line-height: 28px;
    margin: 0 auto;
}

.situation_main_field_false{
    background-color: #F8D7DA;
    border-radius: 500px;
    color: #ff3748;
    width: 99px;
    height: 30px;
    line-height: 28px;
    margin: 0 auto;
}

.padding_customize{
    padding-left: 0px !important;
}

.search_btn_of_category {
    border-right: 1px solid #CED4DA;
    border-top: 1px solid #CED4DA;
    border-bottom: 1px solid #CED4DA;
    border-left: 0px;
    border-radius: 0px 4px 4px 0px !important;
    color: rgb(138, 138, 138);
}

.search_btn_of_category:hover {
    color: #272B2F;
    background-color: white;
    border-right: 1px solid #CED4DA;
    border-top: 1px solid #CED4DA;
    border-bottom: 1px solid #CED4DA;
}



.search_category_inp {
    border-right: 0px;
    border-radius: 4px 0px 0px 4px !important;
}

.search_category_inp:focus {
    border-color: #CED4DA;
    box-shadow: none;
}