.main_field_of_users_profile {
    background-color: white;
    padding: 30px 50px;
}

.users_list_title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 40px;
    border-right: 5px solid #E13A58;
    background-color: white;
    padding: 10px 20px;
    border-radius: 3px;
}

.main_field_of_users_list {
    width: 76%;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 3.5%;
    padding: 20px 20px;
    direction: rtl;
    text-align: right;
}

.img_of_users_list {
    width: 50px;
}

.more_option_of_list {
    color: #9b9b9b;
}

.header_list_custom {
    padding: 20px .75rem !important;
}

.list_detail_custom {
    padding-top: 24px !important;
}

.btn_padding_custm{
    padding-top: 16px;
}

.img_padding_custom{
    padding-top: 12px !important;
}

.user_list_dropdown_btn{
    margin-top: 8px;
}

.dropdown-toggle::after {
    display: none;

}

.user_list_ellipsis{
    color: #7d7d7d;
}

.sitation_main_field{
    background-color: #E6F8F3;
    border-radius: 500px;
    color: #0ABB87;
    width: 99px;
    height: 30px;
    line-height: 28px;
    margin: 0 auto;
}