.dashboard_body {
    background-color: #F0F3F7;
}

.dashboard {
    width: 15%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    right: 0px;
    top: 0px;
    box-shadow: 0px 0px 10px 0px #e0e0e0;
}

.dashboard_logo {
    width: 70%;
    padding-right: 15px;
    padding-top: 10px;
}

.close_dashboard ,.open_dashboard {
    position: absolute;
    left: 15px;
    top: 25px;
    color: #4C56D0;
    font-size: 1.6rem;
    cursor: pointer;
}

.display_none {
    display: none;
}