.dashboard_body {
    background-color: #F0F3F7;
}

.dashboard {
    width: 15%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    right: 0px;
    top: 0px;
    box-shadow: 0px 0px 10px 0px #e0e0e0;
}

.dashboard_logo {
    width: 70%;
    padding-right: 15px;
    padding-top: 10px;
}

.close_dashboard ,.open_dashboard {
    position: absolute;
    left: 15px;
    top: 25px;
    color: #4C56D0;
    font-size: 1.6rem;
    cursor: pointer;
}

.open_dashboard{
    left: 20px;
}

.display_none {
    display: none;
}

.dashboard_angle{
    position: absolute;
    left: 16px;
    top: 20px;
}

.dashboard_links{
    color: #000000;
    font-size: 1.1rem;
    padding: 12px 0px;
    width: 100%;
}

.dashboard_links:hover{
    color: #444444;
    background-color: #f7f7f7;
}

.dashboard_ul{
    position: absolute;
    width: 100%;
    top: 55px;
}

.dashboard_text{
    display: inline-block;
}

#sub_collaps{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    padding: 0px;
}

.dashboard_collaps{
    cursor: pointer;
}

.sub_dashboard_link{
    color: black;
    padding: 8px 0px;
    display: block;
    padding-right: 50px;
}

.sub_dashboard_link:hover{
    color: black;
    background-color: #F7F7F7;
}

.dashboard_icons{
    font-size: 1.3rem;
    margin-right: 19px;
}

.dashboard_main{
    width: 85%;
    height: 780px;
    background: red;
}