@import '../Partials/main-color';
@import '../Partials/mixin';


.display_none {
    display: none;
}

.main_cms_field {
    width: 85%;
    @include transition(ease-out, 0.5s);
}

.rotate_parent {
    .rotate {
        @include transform(rotate(-90deg));
    }
}

.main_body_tag {
    background-color: #E7E8F2;
}

.dashboard {

    width: 15%;
    height: 100vh;
    background-color: $dsh_bg;
    position: fixed;
    z-index: 1000000;
    right: 0;
    top: 0;
    direction: rtl;
    text-align: right;
    @include transition(ease-out, 0.5s);

    &_header {

        padding: 10px 10px;
        background-color: $dsh_bg_dark;
        height: 65px;

        p {
            color: white;
            font-size: 2rem;
            margin: 0px;
        }

        i {
            color: $dsh_color;
            position: absolute;
            top: 22px;
            left: 14px;
            font-size: 1.5rem;
            cursor: pointer;
        }

    }

    &_logo {
        width: 55%;
        @include transition(linear, 0.5s);
    }

    &_body {

        &_sub {
            color: $dsh_color;
            font-size: 1rem;
            margin-top: 20px;

            div {
                height: 50px;
                line-height: 50px;
                padding-right: 17px;
                @include transition(ease-out, 0.2s);

                &:hover {
                    background-color: $dsh_bg_dark;
                    border-right: 3px solid $dsh_color_light;

                    i:first-child {
                        color: $dsh_color_light;
                    }

                    i:last-child {
                        color: white;
                    }

                    p {
                        color: white;
                    }

                }

                p {
                    display: inline-block;
                    color: $dsh_text_color;
                    margin: 0px;
                    margin-right: 10px;
                    @include transition(linear, 0.2s);
                    font-size: 0.9rem;
                }

                i {
                    display: inline-block;
                    @include transition(linear, 0.2s);
                    font-size: 1.2rem;

                    &:last-child {
                        position: absolute;
                        left: 20px;
                        top: 16px;
                    }
                }

            }
        }

        &_collaps {

            cursor: pointer;
            color: $dsh_color;
            height: 50px;
            line-height: 50px;
            padding-right: 17px;
            @include transition(linear, 0.2s);


            &:hover {
                background-color: $dsh_bg_dark;
                border-right: 3px solid $dsh_color_light;

                i:first-child {
                    color: $dsh_color_light;
                }

                i:last-child {
                    color: white;
                }

                p {
                    color: white;
                }
            }

            &:hover .hover_field {
                background-color: $dsh_bg;
                border-right: 3px solid $dsh_color_light;
                width: 160px;

                p {
                    color: $dsh_text_color;
                }

            }

            p {
                display: inline-block;
                color: $dsh_text_color;
                margin: 0px;
                margin-right: 10px;
                @include transition(linear, 0.2s);

            }

            i {
                display: inline-block;
                @include transition(linear, 0.2s);
                font-size: 1.2rem;

                &:nth-child(3) {
                    position: absolute;
                    left: 20px;
                    top: 20px;
                    font-size: 0.8rem;
                }
            }

            .hover_field {
                width: 0px;
                overflow: hidden;
                background: #1e1e2d00;
                position: absolute;
                right: 55px;
                top: 0;
                z-index: 100000;
                border-radius: 3px 0px 0px 3px;
                border-right: 3px solid #494b7400;
                display: none;
                @include transition(ease-out, 0.3s);

                p {
                    color: #ff000000;
                }

                a {
                    height: 40px;
                    line-height: 40px;

                    &:hover {
                        background-color: $dsh_bg_dark;

                        p {
                            color: white;
                        }
                    }
                }
            }

        }

    }

    .collaps_field {
        color: $dsh_text_color;
        font-size: 0.8rem;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;

        a {
            color: $dsh_text_color;
        }

        p {

            height: 40px;
            line-height: 40px;
            @include transition(linear, 0.2s);
            margin: 0;
            padding-right: 40px;
            cursor: pointer;

            &:hover {
                color: white;
                background-color: $dsh_bg_dark;

            }
        }
    }

}

// collapse on

.collaps_on {

    background-color: $dsh_bg_dark;
    border-right: 3px solid $dsh_color_light;

    & :last-child {
        color: white;
        @include transform(rotate(-90deg));
    }

    & :first-child {
        color: $dsh_color_light;
    }

    & :nth-child(2) {
        color: white;
    }

}

// close and open classes
.close_dsh {
    width: 3.8%;

    a :nth-child(2) {
        font-size: 0rem;
        color: transparent;
    }

    .dashboard_body_collaps :nth-child(2) {
        font-size: 0rem;
        color: transparent;
    }

    .dashboard_body_collaps :nth-child(3) {
        font-size: 0rem;
        color: transparent;
    }

    .dashboard_body_collaps {

        .hover_field :nth-child(2),
        .hover_field :nth-child(3) {
            font-size: 0.9rem;
            color: $dsh_text_color;
        }

        .hover_field {

            a {
                font-size: 0.9rem;
                display: block;
            }

        }

    }

    .dashboard_header {
        p {
            display: none;
        }
    }

    .close_dsh_btn {
        display: none;
    }

    .open_dsh_btn {
        display: block;
        left: 19px;
    }

    .collaps_field {
        display: none;
    }
}

.open_dsh {
    width: 15%;

    .close_dsh_btn {
        display: block;
    }

    a :nth-child(2) {
        display: inline-block;
    }

    .dashboard_body_collaps :nth-child(2),
    .dashboard_body_collaps :nth-child(3) {
        display: inline-block;
    }

    .dashboard_header {
        p {
            display: inline-block;
        }
    }

    .open_dsh_btn {
        display: none;
    }

}

// add classes

.MCF_larg {
    width: 96.2%;
}

// navbar

.navbar {
    width: 100%;
    height: 55px;
    background-color: white;
    box-shadow: 0px 0px 20px -5px #cacaca;

    &_profile {

        position: absolute;
        right: 0;
        top: 0;
        padding-top: 7.5px;
        padding-right: 10px;
        text-align: right;
        direction: rtl;

        .field_of_name {
            width: 40px;
            height: 40px;
            background-color: $l_red;
            color: $d_red;
            line-height: 0;
            font-weight: bold;
            border-radius: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.15rem;
        }

        .hi_user_text {
            & :first-child {
                color: #bbbbbb;
                margin-right: 6px;
            }

            & :last-child {
                color: $d_red;
                font-weight: bold;
            }
        }

        .messages_icon {
            margin-right: 25px;
            color: #3699FF;
            font-size: 1.2rem;
            position: relative;
            top: 4px;
            cursor: pointer;
        }

        .bell {
            color: $dsh_color_light;
            cursor: pointer;
        }

    }

}

.nav_data_content {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 7.5px;
    padding-left: 10px;

    .nav_icon_field {
        position: relative;
        display: inline-block;
        margin-right: 5px;
        width: 40px;
        height: 40px;
        font-size: 1.4rem;
        line-height: 47px;
        padding-left: 9px;
        border-radius: 5px;
        cursor: pointer;

        i {
            color: $d_blue;
        }

        &:hover {
            background-color: rgb(238, 238, 238);
        }
    }
}

.nav_search_field {
    position: absolute;
    left: 100px;
    top: 55px;
    width: 390px;
    height: 50px;
    border-radius: 7px;
    padding: 10px 20px;
    box-shadow: 0px 0px 20px -5px #cacaca;
    background-color: white;
    direction: rtl;
    text-align: right;
    display: none;

    div {
        display: inline-block;

        .row {
            position: relative;
            top: -3px;
        }

        button {
            font-size: 1.2rem;
            color: #b9b9b9;
            padding: 0;
            position: relative;
            top: -3px;

            &:hover {
                color: #a5a5a5;
            }
        }

        input {
            height: 40px;
            font-size: 0.9rem;
            border: 0;
            width: 100%;
            color: #7a7a7a;
            position: relative;
            top: -3px;
        }
    }
}

.nav_comment_field {
    width: 400px;
    height: 500px;
    background-color: #ffffff;
    position: absolute;
    left: 60px;
    top: 56px;
    overflow: hidden;
    direction: rtl;
    text-align: right;
    box-shadow: 14px 10px 20px -2px #00000017;

    .comment_header_notif {
        width: 100%;
        height: 120px;
        background-image: url(../../img/notif-drd-img.jpg);
        background-size: cover;
        direction: rtl;
        text-align: center;
        padding-top: 27px;
        position: relative;
        border-bottom: 3px solid #C2CBEA;

        h2 {
            color: white;
            font-weight: bold;
            font-size: 1.6rem;
        }
    }

    .nav_comment_info {
        direction: rtl;
        text-align: right;
        padding: 10px;
        border-bottom: 1px solid #efefef;
        display: block;
        color: #5d5d5d;

        &:hover {
            background-color: #F5F5FE;
        }

        div {
            display: inline-block;

        }

        .CI_image {
            width: 12%;
            position: relative;
            top: -8px;

            img {
                width: 100%;
                border-radius: 7px;
                height: 45px;
            }
        }

        .CI_name {
            width: 78%;
            padding-right: 10px;
            position: relative;
            top: 10px;

            p {
                margin: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                &:first-child {
                    max-width: 120px;
                    color: #5d5d5d;
                    font-size: 0.9rem;
                }

                &:last-child {
                    max-width: 230px;
                    font-size: 0.8rem;
                }

                span {
                    font-weight: bold;
                    font-size: 0.8rem;
                }
            }
        }

        .CI_reply_top {
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 140px !important;
        }

        .CI_see_info {
            width: 10%;
            position: relative;
            top: -7px;
            left: -9px;

            i {

                border-radius: 3px;
                padding-right: 5.2px;
                line-height: 29px;

            }
        }
    }
}

.NVI_main_field {
    height: 380px;
    overflow: auto;
}

#shop_comment {
    display: none;
}

.data_row {
    text-align: center;
    direction: rtl;
    padding: 10px;
    font-size: 0.8rem;
    color: #9c9c9c;
    position: relative;
    border-bottom: 1px solid #efefef;

    p {
        background-color: white;
        width: 80px;
        margin: 0 auto;
        position: relative;
        z-index: 1;
    }

    &::after {
        content: '';
        width: 170px;
        height: 1px;
        position: absolute;
        top: 17px;
        background-color: #c2c2c2;
        right: 113px;
    }
}

.comment_partion {
    position: absolute;
    bottom: -2px;
    left: 10px;
    height: 37px;

    p {
        display: inline-block;
        color: #d8d8d8;
        margin-bottom: 0;
        margin-right: 10px;
        padding: 5px 10px;
        cursor: pointer;

        &:hover {
            border-bottom: 3px solid $d_green;
            color: white;
        }
    }
}

.comment_btn {
    border-bottom: 3px solid $d_green;
    color: white;
}


.active_border {
    border-bottom: 3px solid $d_green !important;
    color: white !important;
}