@import '../general/main_color';
@import '../../css/general/general-scss';

.display_none {
    display: none;
}

.main_cms_field {
    width: 85%;
    @include transition(ease-out, 0.5s);

}

.main_body_tag {
    background-color: #E7E8F2;
}

.dashboard {

    width: 15%;
    height: 100vh;
    background-color: $dsh_bg;
    position: fixed;
    z-index: 1000000;
    right: 0;
    top: 0;
    direction: rtl;
    text-align: right;
    @include transition(ease-out, 0.5s);

    &_header {

        padding: 10px 10px;
        background-color: $dsh_bg_dark;
        height: 65px;

        p {
            color: white;
            font-size: 2rem;
            margin: 0px;
        }

        i {
            color: $dsh_color;
            position: absolute;
            top: 22px;
            left: 14px;
            font-size: 1.5rem;
            cursor: pointer;
        }

    }

    &_logo{
        width: 60%;
    }

    &_body {

        &_sub {
            color: $dsh_color;
            font-size: 1rem;
            margin-top: 20px;

            div {
                height: 50px;
                line-height: 50px;
                padding-right: 17px;
                @include transition(ease-out, 0.2s);

                &:hover {
                    background-color: $dsh_bg_dark;
                    border-right: 3px solid $dsh_color_light;

                    i:first-child {
                        color: $dsh_color_light;
                    }

                    i:last-child {
                        color: white;
                    }

                    p {
                        color: white;
                    }

                }

                p {
                    display: inline-block;
                    color: $dsh_text_color;
                    margin: 0px;
                    margin-right: 10px;
                    @include transition(linear, 0.2s);
                    font-size: 0.9rem;
                }

                i {
                    display: inline-block;
                    @include transition(linear, 0.2s);
                    font-size: 1.2rem;

                    &:last-child {
                        position: absolute;
                        left: 20px;
                        top: 16px;
                    }
                }

            }
        }

        &_collaps {

            cursor: pointer;
            color: $dsh_color;
            height: 50px;
            line-height: 50px;
            padding-right: 17px;
            @include transition(linear, 0.2s);


            &:hover {
                background-color: $dsh_bg_dark;
                border-right: 3px solid $dsh_color_light;

                i:first-child {
                    color: $dsh_color_light;
                }

                i:last-child {
                    color: white;
                }

                p {
                    color: white;
                }
            }

            &:hover .hover_field {
                background-color: $dsh_bg;
                border-right: 3px solid $dsh_color_light;
                width: 160px;

                p {
                    color: $dsh_text_color;
                }

            }

            p {
                display: inline-block;
                color: $dsh_text_color;
                margin: 0px;
                margin-right: 10px;
                @include transition(linear, 0.2s);

            }

            i {
                display: inline-block;
                @include transition(linear, 0.2s);
                font-size: 1.2rem;

                &:nth-child(3) {
                    position: absolute;
                    left: 20px;
                    top: 16px;
                    font-size: 0.8rem;
                }
            }

            .hover_field {
                width: 0px;
                overflow: hidden;
                background: #1e1e2d00;
                position: absolute;
                right: 55px;
                top: 0;
                z-index: 100000;
                border-radius: 3px 0px 0px 3px;
                border-right: 3px solid #494b7400;
                display: none;
                @include transition(ease-out, 0.3s);

                p {
                    color: #ff000000;
                }

                a {
                    height: 40px;
                    line-height: 40px;

                    &:hover {
                        background-color: $dsh_bg_dark;

                        p {
                            color: white;
                        }
                    }
                }
            }

        }

    }

    .collaps_field {
        color: $dsh_text_color;
        font-size: 0.8rem;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;

        a {
            color: $dsh_text_color;
        }

        p {

            height: 40px;
            line-height: 40px;
            @include transition(linear, 0.2s);
            margin: 0;
            padding-right: 40px;
            cursor: pointer;

            &:hover {
                color: white;
                background-color: $dsh_bg_dark;

            }
        }
    }

}

// collapse on

.collaps_on {

    background-color: $dsh_bg_dark;
    border-right: 3px solid $dsh_color_light;

    & :last-child {
        color: white;
        @include transform(rotate(-90deg));
    }

    & :first-child {
        color: $dsh_color_light;
    }

    & :nth-child(2) {
        color: white;
    }

}

// close and open classes
.close_dsh {
    width: 3.8%;
    
    a :nth-child(2) {
        font-size: 0rem;
        color: transparent;
    }

    .dashboard_body_collaps :nth-child(2) {
        font-size: 0rem;
        color: transparent;
    }

    .dashboard_body_collaps :nth-child(3) {
        font-size: 0rem;
        color: transparent;
    }

    .dashboard_body_collaps {

        .hover_field :nth-child(2),
        .hover_field :nth-child(3) {
            font-size: 0.9rem;
            color: $dsh_text_color;
        }

        .hover_field {

            a {
                font-size: 0.9rem;
                display: block;
            }

        }

    }

    .dashboard_header {
        p {
            display: none;
        }
    }

    .close_dsh_btn {
        display: none;
    }

    .open_dsh_btn {
        display: block;
        left: 19px;
    }

    .collaps_field {
        display: none;
    }
}

.open_dsh {
    width: 15%;

    .close_dsh_btn {
        display: block;
    }

    a :nth-child(2) {
        display: inline-block;
    }

    .dashboard_body_collaps :nth-child(2),
    .dashboard_body_collaps :nth-child(3) {
        display: inline-block;
    }

    .dashboard_header {
        p {
            display: inline-block;
        }
    }

    .open_dsh_btn {
        display: none;
    }

}

// navbar

.navbar {
    width: 100%;
    height: 55px;
    background-color: white;
    box-shadow: 0px 0px 20px -5px #cacaca;

    &_profile {

        position: absolute;
        right: 0;
        top: 0;
        padding-top: 7.5px;
        padding-right: 10px;
        text-align: right;
        direction: rtl;

        .field_of_name {
            width: 40px;
            height: 40px;
            background-color: $l_red;
            color: $d_red;
            line-height: 0;
            font-weight: bold;
            border-radius: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.15rem;
        }

        .hi_user_text{
            & :first-child{
                color: #bbbbbb;
                margin-right: 6px;
            }
            & :last-child{
                color: $d_red;
                font-weight: bold;
            }
        }

        .messages_icon{
            margin-right: 25px;
            color: #3699FF;
            font-size: 1.2rem;
            position: relative;
            top: 4px;
            cursor: pointer;
        }

        .bell{
            color: $dsh_color_light;
            cursor: pointer;
        }

    }

}