.main_field_of_profile {
    width: 98%;
    margin-left: 1%;
}

.prodile_tabs {
    background-color: white;
    width: 100%;
    border-radius: 7px;
    box-shadow: 0px 0px 10px -5px rgb(201, 201, 201);
}

.pro_logo {
    width: 40%;
    border-radius: 7px;
}

.user_name_pro_page {
    font-size: 1rem;
    font-weight: bold;
}

.user_access_pro {
    font-size: 0.9rem;
    color: #ababab;
}

.pro_chat_btn {
    color: #FEA800;
    background-color: #FFF4DE;
    height: 38px;
    line-height: 13px;
    font-size: 0.9rem;
}

.field_of_user_name {
    position: relative;
    top: 28px;
}

.pro_chat_btn:hover {
    background-color: rgb(255, 235, 195);
    color: #FEA800;
}

.left_text_info {
    position: absolute;
    left: 0;
    color: #B6B6B6;
}

.field_of_tab_info {
    font-size: 0.9rem;
}

.profile_tab{
    cursor: pointer;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    padding-right: 10px;
}

.profile_tab:hover{
    background-color: #F3F6F9;
}

.profile_tab:hover p , .profile_tab:hover i{
    color: #F64E60;
}

.profile_tab i {
    display: inline-block;
    font-size: 1.5rem;
}

.main_field_of_left_pro{
    background-color: white;
    width: 100%;
    border-radius: 7px;
    box-shadow: 0px 0px 10px -5px rgb(201, 201, 201);
}

.header_of_tabs{
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0px;
}

.small_of_tabs{
    font-size: 0.8rem;
    color: #B9B9B9;
}

.btn_of_save_changes{
    color: #1BC5BD;
    background-color: #C9F7F5;
}

.btn_of_cancel_changes{
    color: #F64E60;
    background-color: #FFE2E5;
}

.field_of_pr_btn{
    position: absolute;
    top: 30px;
    left: 23px;
}

.btn_of_cancel_changes:hover{
    color: #F64E60;
    background-color: rgb(255, 200, 206);
}

.btn_of_save_changes:hover{
    color: #1BC5BD;
    background-color: rgb(164, 235, 232);
}

.main_div_of_personal_form{
    padding: 20px 100px;
}