@import '../Partials/main-color';
@import '../Partials/mixin';
@import '../Partials/header-text';
@import '../Partials/uploader';
@import '../Partials/checkbox-design';
@import '../Partials/btn';

.main_field {
    width: 98%;
    margin-left: 1%;
}

.prodile_tabs {
    background-color: white;
    width: 100%;
    border-radius: 7px;
    box-shadow: 0px 0px 10px -5px #c9c9c9;
}

.pro_logo {
    width: 110px;
    border-radius: 7px;
    height: 110px;
}

.user_name_pro_page {
    font-size: 1rem;
    font-weight: bold;
}

.user_access_pro {
    font-size: 0.9rem;
    color: #ababab;
}

.left_text_info {
    position: absolute;
    left: 0;
    color: #B6B6B6;
}

.field_of_tab_info {
    font-size: 0.9rem;
}

.profile_tab {
    cursor: pointer;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    padding-right: 10px;
    margin-top: 10px;
}

.profile_tab_active {
    background-color: #F3F6F9;
    color: $d_red;
}

.profile_tab:hover {
    background-color: #F3F6F9;
}

.profile_tab:hover p,
.profile_tab:hover i {
    color: $d_red;
}

.profile_tab i {
    display: inline-block;
    font-size: 1.5rem;
}

.main_field_of_left_pro {
    background-color: white;
    width: 100%;
    border-radius: 7px;
    box-shadow: 0px 0px 10px -5px #c9c9c9;
    position: relative;
}

.field_of_pr_btn {
    position: relative;
    & :first-child{
        left: 69px;
        position: absolute;
    }
    & :last-child{
        left: 16px;
        position: absolute;
    }
}

.main_div_of_personal_form {
    padding: 10px 100px;
}

.checkbox_pro_text {
    position: relative;
    top: 9px;
}

.birth_day_backslash {
    position: absolute;
    right: -2%;
    top: 10px;
}

.user_text_area {
    line-height: 30px;
}

.box_of_pass_alert_pro {
    width: 100%;
    padding: 10px;
    background-color: $l_red;
    color: $d_red;
    border-radius: 5px;
    border: 1px solid $d_red;
}

.password_alert_pro {
    font-size: 2rem;
    margin: 7px 0px;
}

.alert_pro_text {
    font-size: 0.9rem;
}

.field_of_img_template{
    display: inline-block;
}

.box_of_img_template {
    width: 110px;
    height: 110px;
}

.prrofile_name_field{
    position: absolute;
    top: 61px;
}

.btn-tertiary2 {
    font-size: 0.8rem;
    line-height: 113px;
}

.input-file-custom+.js-labelFile {
    padding: 0 5px;
}