@import '../../css/general/chose-file-design';
@import '../../css/general/checkbox-design';



.main_field_of_profile {
    width: 98%;
    margin-left: 1%;
}

.prodile_tabs {
    background-color: white;
    width: 100%;
    border-radius: 7px;
    box-shadow: 0px 0px 10px -5px rgb(201, 201, 201);
}

.pro_logo {
    width: 110px;
    border-radius: 7px;
    height: 110px;
}

.user_name_pro_page {
    font-size: 1rem;
    font-weight: bold;
}

.user_access_pro {
    font-size: 0.9rem;
    color: #ababab;
}

.left_text_info {
    position: absolute;
    left: 0;
    color: #B6B6B6;
}

.field_of_tab_info {
    font-size: 0.9rem;
}

.profile_tab {
    cursor: pointer;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    padding-right: 10px;
    margin-top: 10px;
}

.profile_tab_active {
    background-color: #F3F6F9;
    color: #F64E60;
}

.profile_tab:hover {
    background-color: #F3F6F9;
}

.profile_tab:hover p,
.profile_tab:hover i {
    color: #F64E60;
}

.profile_tab i {
    display: inline-block;
    font-size: 1.5rem;
}

.main_field_of_left_pro {
    background-color: white;
    width: 100%;
    border-radius: 7px;
    box-shadow: 0px 0px 10px -5px rgb(201, 201, 201);
    position: relative;
}

.header_of_tabs {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0px;
}

.small_of_tabs {
    font-size: 0.8rem;
    color: #B9B9B9;
}

.btn_of_save_changes {
    color: #1BC5BD;
    background-color: #C9F7F5;
    position: absolute;
    left: 70px;
}

.btn_of_cancel_changes {
    color: #F64E60;
    background-color: #FFE2E5;
    position: absolute;
    left: 16px;
}

.field_of_pr_btn {
    position: relative;
}

.btn_of_cancel_changes:hover {
    color: rgb(255, 255, 255);
    background-color: #F64E60;
}

.btn_of_save_changes:hover {
    color: rgb(255, 255, 255);
    background-color: #1BC5BD;

}

.main_div_of_personal_form {
    padding: 20px 100px;
}

.checkbox_pro_text{
    position: relative;
    top: 9px;    
}

.birth_day_backslash{
    position: absolute;
    right: -2%;
    top: 10px;
}

.user_text_area{
    line-height: 30px;
}

.box_of_pass_alert_pro{
    width: 100%;
    padding: 10px;
    background-color: #FFE2E5;
    color: #F64E60;
    border-radius: 5px;
    border: 1px solid #F64E60;
}

.password_alert_pro{
    font-size: 2rem;
    margin: 7px 0px;
}

.alert_pro_text{
    font-size: 0.9rem;
}