@import '../partials/color';
@import '../partials/font';
@import '../partials/mixin';

body {
    background-color: $body_bg;
}

.article_list_header {
    background-image: url(../../img/article-list-header.jpg);
    background-size: cover;
    width: 100%;
    height: $header_height;

    .article_list_layer {
        width: 100%;
        height: 100%;
        background: radial-gradient(circle, rgba(93, 134, 214, 1) 0%, rgba(12, 31, 115, 1) 100%);
        opacity: 0.7;
    }
}

// article normal cards customize

.article_list_cards {
    padding: 0px 100px 50px 100px;

    .MF_of_article_cards {
        width: 100%;
        height: 450px;
        background-color: white;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.048);
        text-align: right;
        direction: rtl;

        &:hover {
            h3 {
                color: $main_color;
            }
        }

        img {
            width: 100%;
            height: 200px;
        }

        div {
            padding: 20px 30px;

            small {
                color: #2998EC;
                font-size: 0.9rem;
                margin-bottom: 10px;
                display: inline-block;
            }

            h3 {
                font-size: 1.4rem;
                font-weight: bold;
                margin-bottom: 15px;
                color: #171717;
                @include transition(0.2s, linear, 0s)
            }

            .card_info {
                color: #818181;
                text-align: justify;
                line-height: 27px;
            }

            .card_read_time {
                font-weight: bold;
                font-size: 0.8rem;
                display: inline-block;
                color: rgb(48, 48, 48);
            }

            .card_like {
                display: inline-block;
                float: left;
                position: relative;
                top: -15px;
                font-weight: bold;
                font-size: 0.9rem;
                color: rgb(48, 48, 48);

                i {
                    margin-left: 5px;
                    color: #FC495C;
                    font-size: 1rem;
                }
            }
        }
    }
}

// filter custom

.filter_part {
    padding: 0 100px;

    .filter_main_field {
        padding: 10px 30px;
        width: 100%;
        height: 60px;
        background-color: white;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.048);
        direction: rtl;
        text-align: right;
        .search_field{
            input{
                border-radius: 7px 2px 2px 7px;
                background-color: white;
                border: 1px solid #e9e9e9;
                border-radius: 0;
                border-right: 0px;
                width: 300px;
                border-radius: 4px 0px 0px 4px;
                font-size: 0.9rem;
            }
            span{
                border-radius: 2px 7px 7px 2px;
                background-color: white;
                border: 1px solid #e9e9e9;
                border-radius: 0;
                border-left: 0px !important;
                padding: 0;
                height: 36px;
                border-radius: 0px 4px 4px 0px;
            }
        }
        .category_dropdown{
            select{
                border: 1px solid #e9e9e9;
                font-size: 0.8rem;
                height: 38px;
                font-weight: bold;
            }
        }
    }
}