@font-face {
    font-family: second-font;
    src: url("../../fonts/IranianSans.ttf");
}

@font-face {
    font-family: rush-team-font;
    src: url("../../fonts/Minbus_Personal-use.otf");
}

body {
    font-family: second-fonrt;
}

.dir_rtl {
    direction: rtl;
}

.dir_ltr {
    direction: ltr;
}

a:hover {
    text-decoration: none;
    color: black;
}

html {
    scroll-behavior: smooth;
}

button:focus {
    outline: none;
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #1e1e2d00;
}

::-webkit-scrollbar-thumb {
    background: rgb(197, 197, 197);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 94, 129);
}

html {
    scroll-behavior: smooth;
}