// table
.QTR {
    width: 100%;
    overflow-x: auto;
    direction: rtl;
    margin-top: 20px;
}

.Q_table {
    width: 100%;
    direction: rtl;
    text-align: center;
    border-collapse: collapse;

    .TQ_hr {
        &:hover {
            background-color: #ffffff;
        }
    }

    tr {
        &:hover {
            background-color: $QT_hover;
        }

        th {
            border-top: 1px solid $tborder;
            padding: 15px 0px;
        }

        td {
            border-top: 1px solid $tborder;
            padding: 25px 20px;
            font-size: 0.9rem;
        }
    }

    .QT_truncate {
        div {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin: 0 auto;
            max-width: 140px;
        }
    }

    .QT_red_pill {
        div {
            @include table_pill($l_red, $d_red);
        }
    }

    .QT_green_pill {
        div {
            @include table_pill($l_green, $d_green);
        }
    }

    .QT_yellow_pill {
        div {
            @include table_pill($l_yellow, $d_yellow);
        }
    }

    .QT_purple_pill {
        div {
            @include table_pill($l_purple, $d_purple);
        }
    }
}

@media only screen and (max-width: 992px) {
    .Q_table {
        tr {
            td {
                border-top: 1px solid #DEE2E6;
                padding: 20px 25px;
                font-size: 0.8rem;
            }

            th {
                border-top: 1px solid #DEE2E6;
                padding: 8px 0px;
                font-size: 0.8rem;
            }
        }
    }
}