@import '../Partials/main-color';
@import '../Partials/mixin';
@import '../Partials/checkbox-design';
@import '../Partials/header-text';
@import '../Partials/table-header';
@import '../Partials/btn';
@import '../Partials/table-option';
@import '../Partials/pagination';
@import '../Partials/table-error';
@import '../Partials/table';
@import '../Partials/error';

.main_body {
    @include main_field
}

.main_col {
    @include main_col;
}

// custom table file manager

.FM_check_box{
    width: 40px;
    padding: 20px 0px !important;
}

.FM_name{
    width: 40px;
}

.FM_icons{
    color: $d_blue;
    i{
        font-size: 2.5rem;
    }
}

.FM_info{
    width: 150px;
}