@import '../Partials/main-color';
@import '../Partials/mixin';
@import '../Partials/checkbox-design';
@import '../Partials/header-text';
@import '../Partials/table-header';

.main_field {
    @include main_field;
}

.main_col {
    @include main_col;
    padding-bottom: 60px !important;
}
.image_of_folders{
    width: 40px;
}

.fr_custom{
    width: 80px;
}

.folder_name_custom{
    line-height: 40px;
}

.sr_custom{
    width: 300px;
}

.thr_custom{
    width: 180px;
}
.fthr_cutom{
    width:150px;
}

.files_table_row{
    cursor: pointer;
    &:hover{
        background-color: #F2F2F2;
    }
}

.table_data{
    line-height: 40px;
}

.padding_custom_f{
    padding-right: 28px !important;
}
.zero_custom{
    width: 40px;
}