@import '../Partials/main-color';
@import '../Partials/mixin';
@import '../Partials/checkbox-design';
@import '../Partials/header-text';
@import '../Partials/table-header';
@import '../Partials/btn';
@import '../Partials/table-option';
@import '../Partials/pagination';
@import '../Partials/table-error';
@import '../Partials/table';
@import '../Partials/error';

.main_body {
    @include main_field
}

.main_col {
    @include main_col;
}

// custom table file manager

.FM_check_box {
    width: 40px;
    padding: 20px 0px !important;
}

.FM_name {
    width: 40px;
}

.FM_icons {
    color: $d_blue;

    i {
        font-size: 2.5rem;
    }
}

.FM_info {
    width: 150px;
}

.table_backward_btn {
    position: absolute;
    left: 42px;
    top: 12px;
    height: 35px;
    width: 35px;

    &:hover {
        i {
            color: white;
        }
    }

    i {
        position: relative;
        left: 4px;
    }
}

.table_home_btn {
    position: absolute;
    left: 84px;
    top: 12px;
    height: 35px;
    width: 35px;

    &:hover {
        i {
            color: white;
        }
    }

    i {
        position: relative;
        left: 5px;
        font-size: 1.1rem;
    }
}

.header_field .table_header .tr_select {
    position: absolute;
    top: 12px;
    left: 200px;
}

.header_field .t_search {
    position: absolute;
    width: 270px;
    left: 360px;
    top: 13px;
}

.Breadcrumb_field{
    font-size: 1rem;
    color: #818181;
    margin-top: 10px;
}

table {

    .blue_btn,
    .red_btn {
        width: 35px;
        height: 35px;

        i {
            font-size: 1.1rem;
            position: relative;
            left: 3.3px;
            top: 1px;
        }

        .fa-pencil-alt {
            left: 5.3px;
            top: 0px;
        }
    }
}