.ban_slot_field{
    width: 100%;
    padding: 20px 20px;
    border-radius: 7px;
    background-color: #f5f5f5;
    text-align: center;
    direction: rtl;
    p{
        color: #979797;
        font-weight: bold;
    }
    i{
        font-size: 7rem;
        color: #a8a8a8;
        margin-bottom: 30px;
    }
}