.header_field {
    text-align: right;
    direction: rtl;
    h1 {
        font-size: 1.3rem;
        color: #171717;
        font-weight: bold;
    }

    h2 {
        font-size: 0.8rem;
        color: #B9B9B9;
    }
}