.chose_file_inp::-webkit-file-upload-button {
    visibility: hidden;
}

.chose_file_inp {
    cursor: pointer;
    &:before {
        content: '\f0c6';
        color: #9c9c9c;
        font-size: 1.1rem;
        position: relative;
        top: 5px;
    }
}

.img_upload_field{
    width: 190px;
    border-radius: 7px;
    position: absolute;
    top: 4px;
    right: -220px;
    overflow: hidden;
    img{
        width: 100%;
    }
}

.show_img{
    font-size: 0.8rem;
    color: $d_red;
    margin-bottom: -10px;
    cursor: pointer;
    font-weight: bold;
    display: none;
}

.display_none{
    display: none;
}