/* login form */

body {
    background-color: #F0F3F7;

}

.main_filed_of_login {
    width: 400px;
    height: 450px;
    margin: 0 auto;
    margin-top: 150px;
    padding: 50px 50px 40px 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 40px -13px #35299362;
    display: block;
    transition: all ease-out 0.2s;
}

.log_form {
    opacity: 1;
    transition: all ease-out 0.2s;
}

.main_logo {
    width: 60%;
    margin-left: 20%;
}

.btn_of_login {
    width: 100%;
    height: 40px;
    color: white;
    background-color: #4C56D0;
}

.login_inp {
    border: none;
    background: #F4F3F9;
}

.refresh_capthcha {
    position: absolute;
    right: 141px;
    top: 12px;
    color: black;
}

.refresh_capthcha:hover {
    color: black;
}

.recovery_link {
    color: #4C56D0;
    cursor: pointer;
}

/* recovery */

.header_of_recovery {
    font-size: 0.9rem;
    line-height: 23px;
}

.lable_of_recovery {
    font-size: 0.9rem;
}

.recovery_form {
    display: none;
    opacity: 0;
    transition: all ease-out 0.2s;
}

.back_btn_log {
    position: absolute;
    top: 180px;
    left: 90px;
    cursor: pointer;
}

/* recovery verify */

.back_btn_recovery {
    position: absolute;
    top: 180px;
    left: 90px;
    cursor: pointer;
}

.recovery_verify_form {
    display: none;
    opacity: 0;
    transition: all ease-out 0.2s;
}