.cont_principal {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cont_aura_1 {
    position: absolute;
    width: 300px;
    height: 120%;
    top: 175px;
    right: -340px;
background: linear-gradient(45deg, rgba(54,40,137,1) 0%, rgba(80,96,223,1) 100%);
    border: 2px solid #FF573A;
    box-shadow: 0px 0px 60px 20px #42424252;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.cont_aura_2 {
    position: absolute;
    width: 100%;
    height: 300px;
    right: -20%;
    bottom: -301px;
background: linear-gradient(45deg, rgba(54,40,137,1) 0%, rgba(80,96,223,1) 100%);
    box-shadow: 0px 0px 60px 10px #42424252;
    border: 2px solid #FF573A;
    z-index: 5;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.cont_error_active>.cont_error>h1 {
    left: 0%;
}

.cont_error_active>.cont_error>p {
    left: 0%;
}

.cont_error_active>.cont_aura_2 {
    animation-name: animation_error_2;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform: rotate(-20deg);
}

.cont_error_active>.cont_aura_1 {
    transform: rotate(20deg);
    right: -200px;
    animation-name: animation_error_1;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@-webkit-keyframes animation_error_1 {
    from {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
    }

    to {
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg);
    }
}

@-o-keyframes animation_error_1 {
    from {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
    }

    to {
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg);
    }

}

@-moz-keyframes animation_error_1 {
    from {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
    }

    to {
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg);
    }

}

@keyframes animation_error_1 {
    from {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
    }

    to {
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg);
    }
}




@-webkit-keyframes animation_error_2 {
    from {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }

    to {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
}

@-o-keyframes animation_error_2 {
    from {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }

    to {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
}

@-moz-keyframes animation_error_2 {
    from {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }

    to {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
}

@keyframes animation_error_2 {
    from {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }

    to {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
}

.cont_aura_top {
    right: 100% !important;
    top: -100px;
}

.cont_aura_left {
    right: 57%;
    top: -135px;
}


/* login form */

body {
    background-color: #F0F3F7;

}

.main_filed_of_login {
    width: 90%;
    margin-left: 5%;
    margin-top: 150px;
    padding: 50px 50px 30px 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 40px -13px #35299362;
}

.main_logo {
    width: 60%;
    margin-left: 20%;
}

.btn_of_login {
    width: 100%;
    height: 40px;
    color: white;
    background-color: #4C56D0;
}

.login_inp {
    border: none;
    background: #F4F3F9;
}

.refresh_capthcha{
    color: black;
    position: absolute;
    right: 157px;
    top: 11px;
}

.refresh_capthcha:hover{
    color: black;
}