<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/general/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/general/fontAwsome.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Document</title>
</head>

<body>
    
    <h1 class="text-center mt-5 mb-5">FORTER</h1>

    <section>

        <div class="container main_box">
            <div class="border_custom">

                <div class="row ">

                    <div class="col-3">
    
                        <form action="">
    
                            <p class="header_of_reg_log">register</p>
    
    
                                <label class="lable_of_register">username:</label>
                                <input type="text" class="inp_of_log_reg">
    
                                <label class="lable_of_register">password:</label>
                                <input type="text" class="inp_of_log_reg">
    
                                <label class="lable_of_register">password confirm:</label>
                                <input type="text" class="inp_of_log_reg">
    
    
                            <button type="submit" class="btn_of_reg_log">register</button>
    
                        </form>
    
                    </div>
                    <div class="col-3">
                        <form action="">
    
                            <p class="header_of_reg_log">login</p>
    
    
                                <label class="lable_of_register">username:</label>
                                <input type="text" class="inp_of_log_reg">
    
    
                                <label class="lable_of_register">password:</label>
                                <input type="text" class="inp_of_log_reg">
    
                            <button type="submit" class="btn_of_reg_log margin_top_btn_custom">login</button>
    
                        </form>
                    </div>
    
                </div>

            </div>
        </div>

    </section>

    <section>

        <div class="container main_box">
            <div class="border_custom position-relative">

                <div class="row ">

                    <div class="col-4 offset-4 text-center user_info">
    
                        <p>name : MegaNoob</p>
                        <p>currency : 1000</p>
                        <p>income : 1000</p>
                        <p>number of game : 10</p>
                        <p>win rate : 100%</p>
    
                    </div>

                    <button class="logout_btn">Logout</button>
    
                </div>

            </div>
        </div>

    </section>

    <section>

        <div class="container main_box">
            <div class="border_custom">

                <div class="row ">

                    <div class="col-4 offset-4 main_field_of_shart">
    
                        <p class="text_of_shart mb-1">Next Ratio : <span class="ratio_class">2X</span></p>
                        <p class="text_of_shart mb-1">if you choose out you will recive </p>
                        <p class="text_of_shart mb-1">+ 2000</p>
                        <p class="text_of_shart mb-1">if you dont win you will lose</p>
                        <p class="text_of_shart mb-1">-1000</p>

                        <form action="">

                            <input type="text" >
                            <button class="ratio_btn mt-3">Roll Bet</button>

                        </form>
    
                    </div>
    
                </div>

            </div>
        </div>

    </section>

    <section>

        <div class="container main_box">
            <div class="border_custom">

                <div class="row ">

                    <div class="col-12">
    
                        <table class="table text-center main_table">
                            <thead>
                              <tr>
                                <th scope="col">id</th>
                                <th scope="col">username</th>
                                <th scope="col">currency</th>
                                <th scope="col">Income</th>
                                <th scope="col">lose</th>
                                <th scope="col">number of games</th>
                                <th scope="col">win rate</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>MegaNoob</td>
                                <td>5.000.000</td>
                                <td>10.000.000</td>
                                <td>0</td>
                                <td>1000</td>
                                <td>100%</td>
                              </tr>

                              <tr>
                                <th scope="row">1</th>
                                <td>MegaNoob</td>
                                <td>5.000.000</td>
                                <td>10.000.000</td>
                                <td>0</td>
                                <td>1000</td>
                                <td>100%</td>
                              </tr>

                              <tr>
                                <th scope="row">1</th>
                                <td>MegaNoob</td>
                                <td>5.000.000</td>
                                <td>10.000.000</td>
                                <td>0</td>
                                <td>1000</td>
                                <td>100%</td>
                              </tr>

                              <tr>
                                <th scope="row">1</th>
                                <td>MegaNoob</td>
                                <td>5.000.000</td>
                                <td>10.000.000</td>
                                <td>0</td>
                                <td>1000</td>
                                <td>100%</td>
                              </tr>
                            </tbody>
                          </table>

                    </div>
   
                </div>

            </div>
        </div>

    </section>

    <div class="test"></div>

    <script src="../assets/js/general/jquery.js"></script>
    <script src="../assets/js/general/popper.js"></script>
    <script src="../assets/js/general/bootstrap.js"></script>
    <script src="../assets/js/custom.js"></script>
    <script src="../assets/css/general/test.js"></script>
</body>

</html>