
.modal_fast_see{
  display: block;
  position: fixed;
  background-color: rgba(0,0,0,0.45);
  z-index: 1001;
  top: 0;
  width: 100%;
  height: 100%;

  .modal_see_row{
    width: 100%;
    height: 100%;

    .body_modal{
      width: 80%;
      background-color: white;
      margin: auto;
      border-radius: 7px;
      position: relative;

      .header_of_modal{
        padding: 20px 30px 0px 0px;
        position: relative;


        .btn_close{
          position: absolute;
          left: 30px;
          border: none;
          background-color: transparent;
          font-size: 1.5rem;
        }

        .title_of_product{
          font-size: 1.8rem;
          font-family:$a_f;
          color: $l_red
        }
      }

      .content_modal{
        padding: 10px 30px 40px 10px;

        .slider_product{
          padding: 0px 70px 0px 40px;
          .swiper-slide{
            .main_img{
              height: 350px;
              width: 100%;
              border-radius: 5px;
            }
          }

          .gallery-thumbs{
            margin-top: 20px;
            .thumb_img{
              height: 80px;
              width: 80px;
              border-radius: 5px;
              cursor: pointer;
            }
          }

        }

        .detail_product{
          position: relative;
          padding-left: 50px;
          .cm_rate{
            font-size: .8rem;
            .rate_box{
              color: $l-gray;
            }

            .cm_box{
              position: absolute;
              left: 50px;
            }

          }

          .name_price{
            .name_of_product{
              font-size: 1.3rem;
              margin-top: 20px;
            }
          }

          .title_of_detail , .color_list_title{
            font-family: $s_f;
          }

          .detail_of_product{
            @extend .title_of_detail;

            .list_detail{
              list-style-type: none;
              font-size: 0.9rem;
              &:before{
                content: "\f104"; /* FontAwesome Unicode */
                font-family: "Font Awesome 5 Pro";
                display: inline-block;
                font-weight: lighter;
                position: relative;
                right: -5px;
                top: 3px;
              }
            }



          }

          .color_list{
            padding-inline-start: 0px;
            position:  relative;
            top: 10px;
            .link_color{
              display: inline-block;
              margin-right: 10px;

              .link{
                width: 25px;
                height: 25px;
                cursor: pointer;
                display: inline-block;
                border-radius: 50%;
              }
              &_1{
                background-color: #E8C52D ;
              }
              &_2{
                background-color: #F6C2C1 ;
              }
              &_3{
                background-color: #323E1A ;
              }
              &_4{
                background-color: #DC0219 ;
              }
            }
          }

          .price_of_product{
            font-family: $a_f;
            font-size: 1.5rem;
            color: $l-red;
          }

          .btn_style{
            background-color: $l_red;
            border: none;
            border-radius: 5px;
            padding:8px 10px;
            color: white;
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}



@media (min-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1250px;
  }
}



@media only screen and (max-width: 1200px) {
  .modal_fast_see .modal_see_row .body_modal .content_modal .slider_product .swiper-slide .main_img{
    height: 280px;
  }

  .modal_fast_see .modal_see_row .body_modal .content_modal .slider_product .gallery-thumbs .thumb_img{
    width: 60px;
    height: 60px;
  }

  .modal_fast_see .modal_see_row .body_modal .content_modal .detail_product .btn_style,
  .modal_fast_see .modal_see_row .body_modal .content_modal .detail_product .detail_of_product .list_detail{
    font-size: 0.8rem;
  }

  .modal_fast_see .modal_see_row .body_modal .content_modal .detail_product .name_price .name_of_product{
    font-size: 1.1rem;
  }

  .modal_fast_see .modal_see_row .body_modal .content_modal .detail_product .name_price small{
    font-size: .7rem;
  }

  .modal_fast_see .modal_see_row .body_modal .content_modal .detail_product .title_of_detail,
  .modal_fast_see .modal_see_row .body_modal .content_modal .detail_product .color_list_title{
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 991px) {
  .modal_fast_see .modal_see_row .body_modal .content_modal .slider_product{
    padding: 0px 70px 0px 80px;
  }

  .modal_fast_see .modal_see_row .body_modal .content_modal .slider_product .gallery-thumbs .thumb_img {
    width: 90px;
    height: 80px;
  }

  .modal_fast_see .modal_see_row .body_modal .content_modal .detail_product .cm_rate .cm_box{
    left: 20px;
  }
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 499px) {

}

@media only screen and (max-width: 400px) {

}



