@import '../../css/partials/color';
@import '../../css/partials/cb-mixin';
@import '../../css/partials/main-mixin';
@import '../partials/font';

$header_height :100vh;

.header_field {
    background-image: url(../../img/header.jpg);
    background-size: cover;
    height: $header_height;
}

.HCR {
    height: $header_height;
}

.header_info {
    color: white;
    text-align: center;
    direction: rtl;

    i {
        font-size: 4rem;
    }

    h2 {
        font-family: $TF;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    h1 {
        font-weight: bold;
        margin-bottom: 25px;
    }

    p {
        font-family: $TF;
        line-height: 35px;
    }

    button {
        width: 150px;
        border-radius: 100PX;
        color: white;
        border: 2px solid $main_color;
    }
}

.first_service_part {
    width: 10%;

    i {
        font-size: 2.3rem;
        color: #BBBBBB;
        position: relative;
        top: -80px;
        right: -24px;
    }
}

.second_service_part {
    width: 90%;
    color: #929292;

    h3 {
        color: rgb(88, 88, 88);
        font-size: 1.3rem;
    }
}

// service part
$SSH:350px;

.service_sec {
    height: $SSH;
    padding: 0px 100px;
    text-align: right;
}

.SSH {
    height: $SSH;


    p {
        direction: rtl;
        font-size: 0.9rem;
        text-align: justify;
        margin: 0;
        line-height: 25px;
    }

    h3 {
        direction: rtl;
        font-weight: bold;
    }
}

.field_of_SP {
    height: 200px;
    border-right: 1px solid #e4e4e4;
    padding: 40px 55px 35px 35px;
}


// part3
.RT_meet_section {
    width: 100%;
    background-color: #F9F9F9;
    padding: 120px 100px;
    margin-top: 100px;
    margin-bottom: 25px;
}

.see_RT_part {
    text-align: right;
    direction: rtl;

    h2 {
        color: #8D8FA5;
        font-size: 1.3rem;
    }

    h3 {
        color: #505050;
        font-weight: bold;
        margin-bottom: 30px;
    }

    p {
        color: #929292;
        font-size: 0.9rem;
        line-height: 25px;
        text-align: justify;
    }

    button {
        background-color: #E8E8E8;
        color: #505050;
        width: 170px;
        border-radius: 50px;
        font-weight: bold;
        font-size: 0.8rem;
        height: 40px;


    }
}

.see_RT_part_img {
    width: 100%;
    position: absolute;
    top: -200px;
    left: 30px;
}

// work example


.header_WE {
    width: 100%;
    text-align: center;
    direction: rtl;
    margin-top: 50px;
    margin-bottom: 50px;

    p {
        color: rgb(150, 150, 150);
        font-size: 1.2rem;
    }

    h3 {
        color: rgb(70, 70, 70);
        font-size: 2rem;
        font-family: $MF;
    }
}

.WE_main_field {
    height: 320px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        @include transition(linear, 0.2s, 0s)
    }

    &:hover #WE_hover_field_1 {
        opacity: 0.7;
    }

    &:hover #WE_hover_field_2 {
        opacity: 0.7;
    }

    &:hover #WE_hover_field_3 {
        opacity: 0.7;
    }

    &:hover #WE_hover_field_4 {
        opacity: 0.7;
    }

    &:hover img {
        @include transform(scale(1.1))
    }
}

#WE_hover_field_1 {
    background: linear-gradient(90deg, rgba(14, 72, 123, 1) 0%, rgba(74, 82, 117, 1) 100%);
    opacity: 0;
}

#WE_hover_field_2 {
    background: linear-gradient(90deg, rgba(74, 82, 116, 1) 0%, rgba(134, 93, 110, 1) 100%);
    opacity: 0;
}

#WE_hover_field_3 {
    background: linear-gradient(90deg, rgba(134, 92, 110, 1) 0%, rgba(194, 102, 103, 1) 100%);
    opacity: 0;
}

#WE_hover_field_4 {
    background: linear-gradient(90deg, rgba(195, 103, 104, 1) 0%, rgba(254, 113, 97, 1) 100%);
    opacity: 0;
}


.WE_hover_field {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    text-align: center;
    @include transition(linear, 0.2s, 0s);

    h3 {
        color: white;
        text-align: center;
        margin-top: 80px;
        font-weight: bold;
        font-size: 2rem;
        width: 80%;
        margin-left: 10%;
    }

    p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 200px;
        margin: 0 auto;
        direction: rtl;
        color: white;
        font-size: 1.3rem;
    }

    a {
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
        margin-top: 40px;
        height: 46px;

        i {
            @include transition(ease, 0.2s, 0s);
            color: white;
        }

        div {
            opacity: 0;
            position: relative;
            background-color: white;
            width: 45px;
            height: 45px;
            line-height: 50px;
            color: black;
            border-radius: 50px;
            top: 0;
            @include transition(ease, 0.3s, 0s);

            i {
                color: black;
            }
        }

        &:hover {
            i {
                opacity: 0;
            }

            div {
                opacity: 1;
                top: -45px;

                i {
                    opacity: 1;
                }
            }
        }
    }
}

// more work example

.more_WE {
    height: 160px;
    width: 100%;
    overflow: hidden;
    position: relative;

    .MWE_layer {
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, rgba(14, 72, 123, 1) 0%, rgba(255, 113, 97, 1) 100%);
        opacity: 0.7;
        position: absolute;
        top: 0;
        z-index: 1;
    }

    img {
        width: 100%;
        position: relative;
        top: -100px;
    }

    .MWE_info_layout {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 160px;
        color: white;
        text-align: right;
        direction: rtl;
        z-index: 2;
        margin-top: 60px;
        padding-right: 100px;

        span{
            font-size: 1.3rem;
            font-family: $LF;
        }

        a {
            position: absolute;
            left: 100px;
            background-color: transparent;
            border-radius: 50px;
            border: 2px solid white;
            color: white;
            z-index: 2;
            width: 170px;
            height: 50px;
            font-weight: bold;
            line-height: 46px;
            padding-right: 15px;
            font-size: 1rem;
            top: -7px;

            i {
                position: relative;
                top: 2px;
                right: 40px;
            }
        }
    }
}

// price part

.price_packages {
    padding: 0 100px;
}

.main_field_of_PP {
    text-align: center;
    direction: rtl;
    padding: 30px;
    box-shadow: 0px 0px 10px -2px #00000017;

    .PP_header_icon {
        font-size: 2rem;
        margin-bottom: 30px;
        color: rgb(78, 78, 78);
        margin-top: 50px;
    }

    .header_PP_text {
        font-size: 1.2rem;
        font-weight: bold;
        color: rgb(78, 78, 78);
    }

    .PP_header {
        & :nth-child(1) {
            margin: 0;
            font-size: 0.8rem;
            font-weight: bold;
        }

        & :nth-child(2) {
            font-weight: bold;
            font-size: 1.6rem;
            color: $main_color;
            margin: 0;
        }

        & :nth-child(3) {
            margin: 0;
            position: relative;
            top: -5px;
            font-size: 0.8rem;
            font-weight: bold;
            margin-bottom: 20px;
        }
    }

    .btn_of_PP {
        background-color: $main_color;
        color: white;
        margin-top: 50px;
        margin-bottom: 50px;
        border-radius: 50px;
        font-weight: bold;
        width: 170px;
    }
}

.col_of_PP{ 
    background-color: #f5f5f50c;
    @include transition(linear , 0.2s , 0s)
    &:hover{
        background-color: #0f4c820c;
    }
}

#special_PP {
    background-color: #0f4c820c;
}