@import '../../css/variable/color';
@import '../../css/mixin/cb-mixin';

// header slider
.swiper-container {
    width: 100%;
    height: 100%;
    background-color: black;
}

.swiper-slide {
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
}

.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
}

.swiper-slide .subtitle {
    font-size: 21px;
}

.swiper-slide .text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
}

.parallax-bg {
    background-image: url('../../img/bg-1.jpg');
    background-size: cover;
    background-position: bottom;
}

.header_title {
    font-family: accent-font;
}

.swiper-container {
    height: 100vh;
}

.swiper-slide {
    .row {
        height: 100%;
    }

    .header_title {
        font-size: 2.5rem;
        color: white;
    }

    .header_subtitle {
        font-size: 1.2rem;
    }

    .header_text {
        font-size: 0.9rem;
        margin-top: 20px;
        color: $l_gray;
    }

    .main_fs_field {
        width: 80%;
        height: 370px;
        background-color: white;
        margin-left: 10%;
        padding-top: 20px;
        border-radius: 7px;
    }

    .bordered_box {
        width: 150px;
        height: 390px;
        border: 5px solid $d_gold;
    }

    .fs_btn {
        color: white;
        background-color: $d_gold;
        border-radius: 500px;
        width: 198px;
        text-align: right;

        i {
            position: relative;
            top: 2px;
            right: 0px;
            @include transition(0.1s, linear, 0s);
        }

        &:hover i {
            right: 4px;
        }
    }
}


// slider animation

.fs_t_1 {
    opacity: 0;
    @include transition(0.61s, cubic-bezier(0.215, 0.61, 0.355, 1), 0.5s);
    transform: translate3d(0, -20px, 0);
}

.fs_s_1 {
    opacity: 0;
    @include transition(0.61s, cubic-bezier(0.215, 0.61, 0.355, 1), 0.8s);
    transform: translate3d(0px, -20px, 0);
}

.fs_te_1 {
    opacity: 0;
    @include transition(0.61s, cubic-bezier(0.215, 0.61, 0.355, 1), 1s);
    transform: translate3d(0px, -20px, 0);
}

.fs_btn_1 {
    opacity: 0;
    @include transition(0.61s, cubic-bezier(0.215, 0.61, 0.355, 1), 1s);
    transform: translate3d(0px, -20px, 0);
}

.bordered_box {
    opacity: 0;
    @include transition(0.61s, cubic-bezier(0.215, 0.61, 0.355, 1), 1s);
    transform: translate3d(20px, 0px, 0);
}

.swiper-slide-active .fs_t_1,
.swiper-slide-active .fs_s_1,
.swiper-slide-active .fs_te_1,
.swiper-slide-active .fs_btn_1,
.swiper-slide-active .bordered_box {
    @include transform(translate3d(0, 0, 0));
    opacity: 1;
}

// service part

.right_service_side {
    width: 100%;
    height: 100vh;
    background-color: #282828;
    padding: 10px;
    .border_custom{
        border: 1px solid $d_gold;
        height: 100%;
        width: 100%;
        border-left: 0px;
    }
}

.left_service_side {
    text-align: center;
    width: 100%;
    height: 100vh;
    background-image: url(../../img/service-1.jpg);
    background-size: cover;
    padding: 10px;

    .service_border_custom {
        height: 100%;
        
        .service_col_template {
            cursor: pointer;
            border: 1px solid #ffffff00;
            @include transition(0.2s, linear, 0s);
        }
        .active_template {
            border: 1px solid $d_gold;
        }

    }

    .dark_layer {
        width: 100%;
        height: 100%;
        background-color: #00000077;
        position: absolute;
        top: 0;
        left: 0;
    }

    i {
        font-size: 2rem;
        color: #585858a1;
    }

    .title {
        color: $d_gold;
        font-weight: bold;
    }

    .sub_tutle {
        color: white;
    }

    .header_of_levels {
        width: 100%;
        position: relative;
        margin-top: 30px;
        margin-bottom: 50px;

        p {
            color: $d_gold;
            font-size: 3rem;
            font-family: accent-font;
        }
    }

    .service_text {
        text-align: justify;
        direction: rtl;
        position: absolute;
        z-index: 10;
        right: -113%;
        top: 200px;
        width: 550px;
        display: none;

        & :nth-child(1) {
            color: $d_gold;
            font-size: 3rem;
            margin-bottom: 0px;
        }

        & :nth-child(2) {
            color: white;
            font-size: 1.3rem;
        }

        & :nth-child(3) {
            color: #808080;
            font-size: 0.9rem;
            line-height: 25px;
        }
        .btn_of_service{
            color: $d_gold;
            border: 1px solid $d_gold;
            border-radius: 50px;
            &:hover{
                color: white;
                background-color: $d_gold;
            }
        }
    }

    .active_text {
        display: block;
    }
}