@import '../../css/partials/color';
@import '../../css/partials/cb-mixin';
@import '../../css/partials/main-mixin';
@import '../partials/font';

$header_height :80vh;

.header_field {
    background-image: url(../../img/header.jpg);
    background-size: cover;
    height: $header_height;
}

.HCR {
    height: $header_height;
}

.header_info {
    color: white;
    text-align: center;
    direction: rtl;

    i {
        font-size: 4rem;
    }

    h2 {
        font-family: $TF;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    h1 {
        font-weight: bold;
        margin-bottom: 25px;
    }

    p {
        font-family: $TF;
        line-height: 35px;
    }

    button {
        width: 150px;
        border-radius: 100PX;
        color: white;
        border: 2px solid $main_color;
    }
}

.first_service_part {
    width: 10%;

    i {
        font-size: 2.3rem;
        color: #BBBBBB;
        position: relative;
        top: -80px;
        right: -24px;
    }
}

.second_service_part {
    width: 90%;
    color: #929292;

    h3 {
        color: rgb(88, 88, 88);
        font-size: 1.3rem;
    }
}

// service part
$SSH:350px;

.service_sec {
    height: $SSH;
    padding: 0px 100px;
    text-align: right;
}

.SSH {
    height: $SSH;


    p {
        direction: rtl;
        font-size: 0.9rem;
        text-align: justify;
        margin: 0;
        line-height: 25px;
    }

    h3 {
        direction: rtl;
        font-weight: bold;
    }
}

.field_of_SP {
    height: 200px;
    border-right: 1px solid #e4e4e4;
    padding: 40px 55px 35px 35px;
}


// part3
.RT_meet_section {
    width: 100%;
    background-color: #F9F9F9;
    padding: 120px 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.see_RT_part {
    text-align: right;
    direction: rtl;

    h2 {
        color: #8D8FA5;
        font-size: 1.3rem;
    }

    h3 {
        color: #505050;
        font-weight: bold;
        margin-bottom: 30px;
    }

    p {
        color: #929292;
        font-size: 0.9rem;
        line-height: 25px;
        text-align: justify;
    }

    button {
        background-color: #E8E8E8;
        color: #505050;
        width: 170px;
        border-radius: 50px;
        font-weight: bold;
        font-size: 0.8rem;
        height: 40px;

        i {}
    }
}

.see_RT_part_img {
    width: 100%;
    position: absolute;
    top: -200px;
    left: 30px;
}

// work example


.header_WE {
    width: 100%;
    text-align: center;
    direction: rtl;
    margin-top: 50px;
    margin-bottom: 50px;

    p {
        color: rgb(150, 150, 150);
        font-size: 1.2rem;
    }

    h3 {
        color: rgb(70, 70, 70);
        font-size: 2rem;
        font-family: $MF;
    }
}

.WE_main_field {
    height: 320px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        @include transition(linear, 0.2s, 0s)
    }

    &:hover .WE_hover_field {
        opacity: 1;
    }

    &:hover img {
        @include transform(scale(1.1))
    }
}

.WE_hover_field {
    width: 100%;
    height: 100%;
    background-color: $LO_MC;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    text-align: center;
    @include transition(linear, 0.2s, 0s);

    h3 {
        color: white;
        text-align: center;
        margin-top: 80px;
        font-weight: bold;
        font-size: 2rem;
        width: 80%;
        margin-left: 10%;
    }

    p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 200px;
        margin: 0 auto;
        direction: rtl;
        color: white;
        font-size: 1.3rem;
    }

    a {
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
        margin-top: 40px;
        height: 46px;

        i {
            @include transition(ease, 0.2s, 0s);
            color: white;
        }

        div {
            opacity: 0;
            position: relative;
            background-color: white;
            width: 45px;
            height: 45px;
            line-height: 50px;
            color: black;
            border-radius: 50px;
            top: 0;
            @include transition(ease, 0.3s, 0s);

            i {
                color: black;
            }
        }

        &:hover {
            i {
                opacity: 0;
            }

            div {
                opacity: 1;
                top: -45px;

                i {
                    opacity: 1;
                }
            }
        }
    }
}

// more work example

.more_WE {
    height: 200px;
    width: 100%;
    overflow: hidden;
    position: relative;

    .MWE_layer {
        width: 100%;
        height: 100%;
        background-color: $LO_MC;
        position: absolute;
        top: 0;
        z-index: 1;
    }

    img {
        width: 100%;
        position: relative;
        top: -100px;
    }

    .MWE_info_layout {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200px;
        color: white;
        text-align: right;
        direction: rtl;
        z-index: 2;
        line-height: 190px;
        padding-right: 40px;

        p {
            font-size: 2rem;
            font-weight: bold;
        }

        a {
            position: absolute;
            left: 40px;
            top: 80px;
            background-color: transparent;
            border-radius: 50px;
            border: 3px solid white;
            color: white;
            z-index: 2;
            width: 190px;
            height: 50px;
            font-weight: bold;
            line-height: 46px;
            padding-right: 15px;
            font-size: 1.2rem;

            i {
                position: relative;
                top: 2px;
                right: 40px;
            }
        }
    }
}

// price part

.price_packages {
    text-align: right;
    width: 100%;
    padding: 0px 100px;
    direction: rtl;

    .price_info_field {
        padding: 30px;
        direction: rtl;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.11);
        width: 90%;
        margin-right: 5%;

        .PI_header {
            color: $main_color;
            font-weight: bold;
            font-size: 2rem;
        }

        .price_number {
            color: #333333;
            font-weight: bold;
            font-size: 1.4rem;
        }

        .what_PI_have {
            i {
                color: #62BE10;
                margin-left: 10px;
            }

            p {
                color: rgb(46, 46, 46);
            }
        }
        button{
            color: white;
            background-color: $main_color;
            border-radius: 50px;
            width: 80%;
            margin-right: 10%;
        }
    }
}