@import '../../css/variable/color';
@import '../../css/mixin/cb-mixin';
@import '../../css/mixin/main-mixin';



// slider animation

.fs_t_1 {
    opacity: 0;
    @include transition(0.61s, cubic-bezier(0.215, 0.61, 0.355, 1), 0.5s);
    transform: translate3d(0, -20px, 0);
}

.fs_s_1 {
    opacity: 0;
    @include transition(0.61s, cubic-bezier(0.215, 0.61, 0.355, 1), 0.8s);
    transform: translate3d(0px, -20px, 0);
}

.fs_te_1 {
    opacity: 0;
    @include transition(0.61s, cubic-bezier(0.215, 0.61, 0.355, 1), 1s);
    transform: translate3d(0px, -20px, 0);
}

.fs_btn_1 {
    opacity: 0;
    @include transition(0.61s, cubic-bezier(0.215, 0.61, 0.355, 1), 1s);
    transform: translate3d(0px, -20px, 0);
}

.bordered_box {
    opacity: 0;
    @include transition(0.61s, cubic-bezier(0.215, 0.61, 0.355, 1), 1s);
    transform: translate3d(20px, 0px, 0);
}

.swiper-slide-active .fs_t_1,
.swiper-slide-active .fs_s_1,
.swiper-slide-active .fs_te_1,
.swiper-slide-active .fs_btn_1,
.swiper-slide-active .bordered_box {
    @include transform(translate3d(0, 0, 0));
    opacity: 1;
}

// header
.header_video_player {
    width: 100%;
    height: 100%;
}

.text_of_header {
    position: absolute;
    top: 0;
    width: 100%;

    .row {
        height: 100vh;
    }

    .info_header_text {
        direction: rtl;

        h1 {
            color: white;
            margin-bottom: 50px;
        }

        p {
            color: $l_text;
            line-height: 40px;
            font-size: 1.2rem;
        }
    }

    .btn_n1 {
        border: 2px solid white;
        color: white;
        height: 70px;
        padding: 0px 30px;
        font-weight: bold;
        font-size: 1.2rem;
        margin-right: 20px;
        margin-top: 20px;
    }

    .btn_n2 {
        background-color: $d_gold;
        color: white;
        height: 70px;
        padding: 0px 30px;
        font-weight: bold;
        font-size: 1.2rem;
        margin-right: 20px;
        margin-top: 20px;
    }
}

.header_layer {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000063;
    height: 861px;
    width: 100%;
}

// why chose us
.why_chose_us {
    padding-top: 100px;
    padding-bottom: 100px;


    .why_chose_us_field {
        text-align: right;
        direction: rtl;
        width: 90%;
        margin-left: 5%;

        h3 {
            font-weight: bold;
            font-size: 2.7vw;
            line-height: 70px;
        }

        .main_title_of_wcuf {
            text-align: justify;
            margin-top: 30px;
            color: $d_text;
            line-height: 30px;
        }

        .subset_wcu_p1,
        .subset_wcu_p2,
        .subset_wcu_p3 {
            width: 100%;

            .left_subset_wcu {
                width: 80px;
                height: 80px;
                border: 10px solid #FFDC25;
                position: relative;
                top: 20px;

                p {
                    font-size: 1.1rem;
                    font-weight: bold;
                    background-color: white;
                    width: 40px;
                    height: 40px;
                    position: relative;
                    right: -21px;
                    top: -19px;
                    line-height: 40px;
                    text-align: center;
                }

                i {
                    font-size: 3rem;
                    position: relative;
                    left: -20px;
                    top: -30px;
                }
            }

            .right_subset_wcu {
                width: 310px;
                margin-right: 40px;

                & :first-child {
                    font-size: 1.5rem;
                    font-weight: bold;

                }

                & :last-child {
                    color: $d_text;
                }
            }
        }

        .wcu_p_btn {
            color: black;
            background-color: #FFDC25;
            font-weight: bold;
            padding: 16px 60px;
            font-size: 1.2rem;
            width: 70%;
            margin-right: 15%;
            margin-top: 70px;
        }
    }

    .wcu_side_img_field {
        position: relative;

        .wcu_side_img_p2 {
            position: absolute;
            top: -50px;
            right: 100px;
            width: 60%;
        }

        .wcu_side_img_p1 {
            position: absolute;
            top: 320px;
            left: -50px;
        }

        .wcu_side_img_p3 {
            position: absolute;
            top: 520px;
            left: 245px;
        }

        .wcu_side_img_p4 {
            position: absolute;
            top: 0px;
            left: -50px;
        }
    }
}