@mixin text_of_title($color-value, $font-value, $padding_t_value) {
  text-align: center;
  color: $color-value;
  font-size: $font_value;
  padding-top: $padding_t_value;
}

@mixin text_color_gradient($value_of_color) {
  background-image: $value_of_color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}