@mixin transition($type, $time) {
    transition: all $type $time;
    -webkit-transition:  all $type $time;
    -o-transition: all $type $time;
    -moz-transition: all $type $time;
}

@mixin transform($type) {
    transform: $type;
    -webkit-transform: $type;
    -o-transform: $type;
    -moz-transform: $type;
}
