@mixin text_of_title($color-value, $font-value, $padding_t_value) {
  text-align: center;
  color: $color-value;
  font-size: $font_value;
  padding-top: $padding_t_value;
}

@mixin text_color_gradient($value_of_color) {
  background-image: $value_of_color;
  background-clip: text;
  -webkit-background-clip: text;
  -o-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -o-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@mixin text_header {
  direction: rtl;
  text-align: right;
  width: 100%;

  h3 {
    border-bottom: 1px solid $d_text;
    width: 270px;
    padding-bottom: 20px;
  }
}

@mixin box_shadow {
    box_shadow: 0px 0px 10px 5px #e6e6e6;
}