@import '../partials/color';
@import '../partials/font';
@import '../partials/mixin';

#portfolio-1{
    background-image: url(../../img/portfolio1.jpg);
}
#portfolio-2{
    background-image: url(../../img/portfolio3.jpg);
}
#portfolio-3{
    background-image: url(../../img/portfolio2.PNG);
}
#portfolio-4{
    background-image: url(../../img/slider3.jpg);
}


.portfolio_header {
    width: 100%;
    height: 250px;

    .portfolio_header_img {
        background-image: url(../../img/header-bg-3.jpg);
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
    }

    .portfolio_header_layout {
        width: 100%;
        height: 100%;
        background: radial-gradient(circle, rgba(93, 134, 214, 1) 0%, rgba(12, 31, 115, 1) 100%);
        opacity: 0.7;
    }
}

// portofolio box

.portfolio_part {
    padding: 0 100px;

    .main_box_of_portfolio {
        background-size: cover;
        width: 100%;
        height: 300px;
        margin: 20px 0;
        transition: all linear 0.1s;
        position: relative;
        top: 0px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;

        .upper_box {
            width: 100%;
            height: 150px;
            background-color: rgba(0, 0, 0, 0.8);
            border: 13px solid rgba(83, 83, 83, 0.8);
            border-bottom: 0;
            color: $white;
            text-align: right;
            direction: rtl;
            padding: 20px 20px;
            position: relative;
            right: -100%;
            @include transition(0.5s, cubic-bezier(0, 0, 0.4, 1), 0s);

            .portofolio_type {
                color: $main_color;
                margin-bottom: 5px;
                margin-top: 20px;
            }

            h3 {
                font-weight: bold;
            }
        }

        .lower_box {
            width: 100%;
            height: 150px;
            background-color: rgba(0, 0, 0, 0.8);
            border: 13px solid rgba(83, 83, 83, 0.8);
            border-top: 0;
            color: $white;
            text-align: right;
            direction: rtl;
            padding: 20px 20px;
            position: relative;
            left: -100%;
            @include transition(0.5s, cubic-bezier(0, 0, 0.4, 1), 0s);

            p {
                line-height: 25px;
                font-size: 0.9rem;
                margin-top: 20px;
            }
        }

        &:hover {
            .lower_box {
                left: 0%;
            }

            .upper_box {
                right: 0%;
            }

        }
    }
}