<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/general/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/general/fontAwsome.css">
    <link rel="stylesheet" href="../../assets/css/general/general-css.css">
    <link rel="stylesheet" href="../../assets/css/layout/dashboard.css">
    <title>Rush Team CMS</title>
</head>
<body class="dashboard_body">
    

    <aside class="dashboard">

        <div class="dir-rtl text-right">

            <img class="dashboard_logo" src="../../assets/img/logo2.png" alt="">
            <i class="fad fa-angle-double-right close_dashboard"></i>
            
            <ul class="dashboard_ul">

                <li class="position-relative">
                    <i class="fad fa-home-lg-alt dashboard_icon d-inline-block"></i>
                    <a href="" class="dashboard_list d-inline-block">داشبور</a>
                    <i class="fas fa-angle-left angle_of_dashboard"></i>
                </li>

                <li class="position-relative">
                    <i class="fad fa-layer-group dashboard_icon d-inline-block"></i>
                    <a href="" class="dashboard_list d-inline-block">دسته بندی ها</a>
                    <i class="fas fa-angle-left angle_of_dashboard"></i>
                </li>
                
                <li class="position-relative">
                    <i class="fad fa-store dashboard_icon d-inline-block"></i>
                    <a href="" class="dashboard_list d-inline-block">فروشگاه</a>
                    <i class="fas fa-angle-left angle_of_dashboard"></i>
                </li>

                <li class="position-relative">
                    <i class="fad fa-newspaper dashboard_icon d-inline-block"></i>
                    <a href="" class="dashboard_list d-inline-block">مطالب</a>
                    <i class="fas fa-angle-left angle_of_dashboard"></i>
                </li>

                <li class="position-relative">
                    <i class="far fa-question-circle dashboard_icon d-inline-block"></i>
                    <a href="" class="dashboard_list d-inline-block">راهنما</a>
                    <i class="fas fa-angle-left angle_of_dashboard"></i>
                </li>

                <li class="position-relative">
                    <i class="fad fa-users dashboard_icon d-inline-block"></i>
                    <a href="" class="dashboard_list d-inline-block">کاربران</a>
                    <i class="fas fa-angle-left angle_of_dashboard"></i>
                </li>

                <li class="position-relative">
                    <i class="fad fa-sign-out-alt dashboard_icon d-inline-block"></i>
                    <a href="" class="dashboard_list d-inline-block">خروج</a>
                    <i class="fas fa-angle-left angle_of_dashboard"></i>
                </li>

            </ul>
            
        </div>
        
    </aside>

    <script src="../../assets/js/general/jquery.js"></script>
    <script src="../../assets/js/general/bootstrap.js"></script>
    <script src="../../assets/js/general/popper.js"></script>
    <script src="../../assets/js/general/sweetAlert.js"></script>
    <script src="../../assets/js/layout/dashboard.js"></script>
</body>
</html>