<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/general/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/general/fontAwsome.css">
    <link rel="stylesheet" href="../../assets/css/general/general-css.css">
    <link rel="stylesheet" href="../../assets/css/layout/dashboard.css">
    <title>Rush Team CMS</title>
</head>
<body>
    

    <script src="../../assets/js/general/jquery.js"></script>
    <script src="../../assets/js/general/bootstrap.js"></script>
    <script src="../../assets/js/general/popper.js"></script>
    <script src="../../assets/js/general/sweetAlert.js"></script>
    <script src="../../assets/js/layout/dashboard.js"></script>
</body>
</html>