.navbar_field {
  width: 100%;
  height: 70px;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000000000;
  direction: rtl;
  text-align: right;
}

.navbar_field ul {
  list-style-type: none;
  padding: 0px;
  padding-right: 20px;
}

.navbar_field ul li {
  display: inline-block;
}

.navbar_field ul li .active_navbar {
  border-bottom: 3px solid #CAAB68;
}

.navbar_field ul li a {
  color: white;
  width: 110px;
  display: inline-block;
  text-align: center;
  height: 70px;
  line-height: 70px;
  border-bottom: 0px solid #CAAB68;
  transition: all 0.2s linear 0s;
  -webkit-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
}

.navbar_field ul li a:hover {
  border-bottom: 3px solid #CAAB68;
}

.navbar_field ul .field_of_navbar_ltr {
  display: inline-block;
  direction: ltr;
  text-align: left;
  position: absolute;
  left: 10px;
}

.navbar_field ul .field_of_navbar_ltr .main_logo {
  width: 110px;
}
