@font-face {
  font-family: main_font;
  src: url(../fonts/Nunito-Italic.ttf);
}

@font-face {
  font-family: second_font;
  src: url(../fonts/OptimusPrinceps.ttf);
}

html {
  scroll-behavior: smooth;
}

ul,
li {
  list-style-type: none;
}


.dir_rtl {
  direction: rtl;
}

.index_page {
  background-image: url("../img/1.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  font-family: second_font;


  .nav_bar_index {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);

    .logo-of_fashion_web_page {
      width: 190px;
      height: 80px;
    }

    .bottom_of_menu_bar {
      border: none;

      &:focus {
        outline: none;
      }

      .menu_icon {
        font-size: 1.7rem;
        color: white;
        border: 1px solid white;
        border-radius: 5px;
        padding: 5px 10px;
        position: absolute;
        top: 20px;
        right: 30px;
      }
    }


  }

  .content_of_index {
    .content_of_index_box_menu {
      height: 80vh;

      .first_text_about_uniti {
        font-size: 1.8rem;
        text-align: center;
        width: 85%;
        margin: auto;
        padding-top: 20vh;
        font-weight: 600;
      }

      .ul_menu_box{
        padding-top: 18vh ;
        }
        .menu_options{
          a{
            color: rgb(0, 0, 0);
            &:hover{
              text-decoration: none;
            }
          }
          font-size: 1.7rem;
          list-style-type: none;
          text-align: center;
          display: none;
          transition: all .2s ease-in;
          font-weight: 600;
          &:hover {
            transform: scale(1.1);
          }

      }
    }
  }

  .footer_of_index {




      .reg_field, .log_field {
        display: inline-block;
        margin-right: 50px;
        padding-top: 15px;
        font-size: 1.3rem ;
        color: white;
        text-decoration: none;
        transition: all .2s ease-in;

        &:hover {
          transform: scale(1.1);
        }
      }

    .social_media{
      font-size: 2rem;
      color: white;
      text-decoration: none;
      margin-right: 15px ;
      padding-top: 15px;
      transition: all .2s ease-in;

      &:hover {
        transform: scale(1.1);
      }
    }
    }

}

.hide_first_text{
  display: none;
}
.show_menu_options{
  display: block;
}

@media only screen and (max-width: 1200px) {

  .first_text_about_uniti{
    font-size:1.5rem !important;
  }
}

@media only screen and (max-width: 992px) {
  .first_text_about_uniti{
    font-size:1.7rem !important;
  }
}

@media only screen and (max-width: 768px) {
  .first_text_about_uniti{
    font-size:2.3rem !important;
  }
}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 500px) {
}