section{
    font-family: main-font;
}
label{
    margin-bottom: 0px;
}

.login_img{
    background-image: url("../../img/4.jpg");
    background-size: cover;
}

.box_of_login{
    width: 40%;
    background-color: white;
    margin: 70px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
}

.title_style{
    font-size: 2rem;
}

.style_of_login_form{
    width:80%;
    margin: auto;
}


.input_style_login_form{
    border-bottom:1px solid #4d4d4d;
    border-left:none ;
    border-right:none ;
    border-top: none;
    border-radius:0px;
}

.input_style_login_form:focus{
    box-shadow: none;
    border-bottom:1.5px solid #4d4d4d;
}


.btn_of_login{
    display: block;
    width: 80%;
    margin:40px auto 20px auto;
    border-radius: 5px;
    height: 50px;
    border: none;
    background: linear-gradient(120deg,#3498db,#8e44ad,#3498db);
    background-size: 200%;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: .5s;
}

.btn_of_login:hover{
    background-position: right;
}

/*Media Query*/
@media only screen and (max-width: 1200px) {
    .box_of_login{
        width: 47%;
    }
}

@media only screen and (max-width: 991px) {
    .box_of_login{
        width: 65%;
    }
}

@media only screen and (max-width: 768px) {
    .box_of_login{
        width: 87%;
    }
}

@media only screen and (max-width: 600px) {
    .box_of_login{
        width: 85%;
    }
}

@media only screen and (max-width: 500px) {
    .box_of_login{
        width: 95%;
    }
}

@media only screen and (max-width: 769px) and (min-width: 768px) {
    .box_of_login {
        width: 60%;
    }
}



/*End Media Query*/