@font-face {
    font-family: eng-font;
    src: url(../font/Hesland.ttf);
}

@font-face {
    font-family: eng-font-sec;
    src: url(../font/Crash.ttf);
}

header {
    display: none;
}


.main_field_of_contact_us_right_col {
    width: 100%;
    height: 100vh;
    background-color: #0A2A3B;

}

.field_of_header_text_contact {
    color: white;
    font-size: 6rem !important;
    text-align: center;
    font-family: eng-font;
}

.small_of_contact {
    color: #a1a1a1ad;
    font-family: eng-font-sec;
    text-align: center;
    position: relative;
    top: -10px;
}

.addres_field_contact {
    color: #a1a1a1ad;
    text-align: center;
    position: relative;
    width: 370px;
    top: -17px;
    margin: 0 auto;
}

.btn_of_contact_us {
    width: 100%;
    height: 48px;
    background-color: transparent;
    border: 2px solid #697D89;
    color: #e4e4e4;
    text-align: center;
    line-height: 41px;
    cursor: pointer;
}

.field_of_btn_of_contact_us {
    width: 353px;
    margin: 0 auto;
}

.pos_custom_content{
    position: relative;
    top:30%
}

.map_custom_size_contact{
    width: 100%;
    height: 100vh !important;
}

.mr_custom_contect{
    margin-bottom: -8px;
}