@font-face {
    font-family: second-font;
    src: url("../font/Vazir-Thin.ttf");
}

@font-face {
    font-family: main-font;
    src: url("../font/Vazir.ttf");
}

body {
    font-family: second-font;
}

.dir_rtl{
    direction: rtl;
}