* {
    font-family: 'PT Sans Caption', sans-serif, 'arial', 'Times New Roman';
}

/*ERROR PAGE 404 CSS*/

.error{
    margin: 0 auto;
}

.ground-color {
    overflow: hidden;
}

.shadows {
    height: 180px;
    overflow: hidden;
}

.shadow2 {
    width: 130px;
    overflow: hidden;
    position: relative;
    box-shadow: inset 20px 0px 20px -15px rgba(150, 150, 150, 0.8), 20px 0px 20px -15px rgba(150, 150, 150, 0.8);
}

.shadow1, .shadow3 {
    width: 250px;
}

.digit {
    position: relative;
    top: 8%;
    width: 150px;
    height: 150px;
    line-height: 150px;
    font-size: 120px;
    font-weight: bold;
    background: #07B3F9;
    border-radius: 50%;
    display: inline-block;
    transform: skew(45deg);
    text-align: center;
    color: white;
}

.shadow2 .digit {
    left: -10%;
}

.shadow1 .digit {
    right: -20%;
}

.shadow3 .digit {
    left: -20%;
}

.h2-404 {
    margin-top: 50px;
    font-size: 32px;
    color: #A2A2A2;
    font-weight: bold;
    padding-bottom: 20px;
    direction: rtl;
}

.triangle {
    top: 70%;
    right: 0%;
    border-left: 20px solid #535353;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    position: absolute;
    z-index: 999;
    transform: rotate(45deg);
    content: "";
    width: 0;
    height: 0;
}
.container-error-404 {
    margin-top: 12%;
    position: relative;
    padding-top: 40px;
}

.clip {
    display: inline-block;
    transform: skew(-45deg);
}

.shadow3:after, .shadow1:after {
    content: "";
    position: absolute;
    right: -8px;
    bottom: 0px;
    z-index: 9999;
    height: 100%;
    width: 10px;
    background: linear-gradient(90deg, transparent, rgba(173, 173, 173, 0.8), transparent);
    border-radius: 50%;
}

.shadow3:after {
    left: -8px;
}

@media only screen and ( max-width: 767px) {

    .shadows {
        height: 100px;
    }

    .shadow2 {
        width: 80px;
    }

    .shadow3, .shadow1 {
        width: 100px;
    }

    .digit {
        height: 80px;
        line-height: 80px;
        width: 80px;
        font-size: 52px;
    }

    .h2-404 {
        font-size: 20px;
    }

    .triangle {
        top: 70%;
        right: -3%;
        border-left: 10px solid #535353;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
    }

    .contaner-error-404 {
        height: 150px;
    }

}

/*--------------------------------------------Framework --------------------------------*/

.overlay {
    position: relative;
    z-index: 20;
}

/*done*/
.ground-color {
    background: white;
}

/*done*/
.item-bg-color {
    background: #EAEAEA
}

/*done*/

/* Padding Section*/
.padding-top {
    padding-top: 10px;
}

/*done*/
.padding-bottom {
    padding-bottom: 10px;
}

/*done*/
.padding-vertical {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-horizontal {
    padding-left: 10px;
    padding-right: 10px;
}

.padding-all {
    padding: 10px;
}

/*done*/

.no-padding-left {
    padding-left: 0px;
}

/*done*/
.no-padding-right {
    padding-right: 0px;
}

/*done*/
.no-vertical-padding {
    padding-top: 0px;
    padding-bottom: 0px;
}

.no-horizontal-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.no-padding {
    padding: 0px;
}

/*done*/
/* Padding Section*/

/* Margin section */
.margin-top {
    margin-top: 10px;
}

/*done*/
.margin-bottom {
    margin-bottom: 10px;
}

/*done*/
.margin-right {
    margin-right: 10px;
}

/*done*/
.margin-left {
    margin-left: 10px;
}

/*done*/
.margin-horizontal {
    margin-left: 10px;
    margin-right: 10px;
}

/*done*/
.margin-vertical {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*done*/
.margin-all {
    margin: 10px;
}

/*done*/
.no-margin {
    margin: 0px;
}

/*done*/

.no-vertical-margin {
    margin-top: 0px;
    margin-bottom: 0px;
}

.no-horizontal-margin {
    margin-left: 0px;
    margin-right: 0px;
}

.inside-col-shrink {
    margin: 0px 20px;
}

/*done - For the inside sections that has also Title section*/
/* Margin section */

hr {
    margin: 0px;
    padding: 0px;
    border-top: 1px dashed #999;
}

/*--------------------------------------------FrameWork------------------------*/




/*END OF ERROR PAGE 404 CSS*/







