/*Header Style*/
.background_of_header {
    background: url("../img/7.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.logo_style_melorin_shop {
    width: 170px;
    height: 125px;
    margin: 15px;
    box-sizing: border-box;
}

.nav_bar_style_fonts {
    font-family: vazir-fonts;
    /*width: 600px;*/
    border-radius: 30px;
    background-color: #EEEEEE;
    position: absolute;
    right: 15px;
    top: 45px;
    padding-left: 50px;
}

.text-box-center-header {
    color: #EEEEEE;
    height: 100px;
    margin-top: 10%;
}


.arrow_of_down_link {
    font-size: 20pt;
    width: 40px;
    height: 40px;
    background-color: rgba(57, 62, 70, 0.8);
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin: auto;
    position: relative;
    bottom: 10px;

}

.free_space_from_top_style {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.arrow_of_down_link_i {
    color: #EEEEEE;
    font-style: normal !important;
}

.right_box_social_media i {
    font-size: 1.5rem;
    color: #EEEEEE;
    width: 30px;
    height: 30px;
    font-style: normal;
    display: inline-block;
}

.left_box_manage_site i {
    font-size: 1.5rem;
    color: #EEEEEE;
    width: 40px;
    height: 40px;
    font-style: normal;
    display: inline-block;
}

.style_btn_search {
    border: none;
    background-color: transparent;
    color: #EEEEEE;
    font-size: 1.5rem;
    margin-left: -10px;
}

.openBtn {
    border: none;
    cursor: pointer;
}


.border_radius_left_bottom {
    border-radius: 10px 0px 0px 10px;
}

.border_radius_top_right {
    border-radius: 0px 10px 10px 0px;
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
}

.overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: #EEEEEE;
}

.overlay .closebtn:hover {
    color: #ccc;
}

.overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: #EEEEEE;
}

.overlay input[type=text]:hover {
    background: #f1f1f1;
}

.overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.overlay button:hover {
    background: #bbb;
}


/*End Header Style*/

/*New Product & Best Product*/
.ul_style_of_bottom_list {
    list-style-type: none;
    cursor: pointer;
    width: 100%;
    height: 50px;
    margin: 50px auto;
    text-align: center;
}

.list_style_bottom {
    border-bottom: 1px solid #222831;
    color: #393E46;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    font-size: 13pt;
    font-weight: bolder;
}

.package_of_bottom_new_best {
    margin: auto;
    width: 80%;
    height: 50px;
}

/*slider*/

.slick-slide {
    height: 500px;
}

.slider_best_product, .slider_new_product {
    margin: 50px 0px;
}

.bottom_of_see_all_product {
    border: none;
    background-color: #00ADB5;
    width: 50%;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 50px;
    margin-left: 24%;
}

/*slider*/

/*End New Product & Best Product*/

/*Products Categorization*/

.box_of_product_category {
    width: 80%;
    height: 300px;
    background-color: darkred;
    position: relative;
    margin: auto;
    margin-bottom: 50px;
}

.img_of_product_category{
    width: 100%;
    height: 300px;
    position: absolute;
}

.text_of_product_category , .btn_of_product_category{
    position: absolute;
}

/*End Products Categorization*/