.bg_of_heading{
    background-color: #C6C8CA;
}

.show_detail_of_factor{
    color: #4e555b;
}

.show_detail_of_factor:hover{
    color: rgba(29,29,29,0.89);
}

.table_size{
    font-size: 1.2rem;
}
