@import '../css/mixin/main-color';
@import '../css/mixin/mixin';
@import '../css/mixin/table-option';
@import '../css/mixin/checkbox-design';
@import '../css/mixin/header-text';
@import '../css/mixin/table-header';
@import '../css/mixin/table_image';
@import '../css/mixin/uploader';
@import '../css/mixin/btn';
@import '../css/mixin/pagination';
@import '../css/mixin/error';

// table
.QTR{
    width: 100%;
    overflow-x: auto;
    direction: rtl;
}
.Q_table {
    width: 100%;
    direction: rtl;
    text-align: center;
    border-collapse: collapse;

    .TQ_hr{
        &:hover {
            background-color: #ffffff;
        }
    }

    tr {
        &:hover {
            background-color: #eeeeee;
        }

        th {
            border-top: 1px solid $tborder;
            padding: 15px 0px;
        }

        td {
            border-top: 1px solid $tborder;
            padding: 25px 25px;
        }
    }

    .QT_truncate {
        width: 240px;

        div {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin: 0 auto;
            max-width: 140px;
        }
    }

    .QT_red_pill {
        div {
            @include table_pill($l_red, $d_red);
        }
    }

    .QR_green_pill {
        div {
            @include table_pill($l_green, $d_green);
        }
    }

    .QT_yellow_pill {
        div {
            @include table_pill($l_yellow, $d_yellow);
        }
    }

    .QT_purple_pill {
        div {
            @include table_pill($l_purple, $d_purple);
        }
    }
}

@media only screen and (max-width: 992px) {
    .Q_table{
        tr{
            td{
                border-top: 1px solid #DEE2E6;
                padding: 20px 25px;
                font-size: 0.8rem;
            }
            th{
                border-top: 1px solid #DEE2E6;
                padding: 8px 0px;
                font-size: 0.8rem;
            }
        }
    }
}