

@media only screen and (max-width: 1200px) {
  .ways_to_contact_us .img_of_logo{
    width: 240px;
  }
  .ways_to_contact_us .box_of_explain_table .explain_box_table .support_option_table{
    font-size: 1rem;
  }

  .ways_to_contact_us .box_of_explain_table .explain_box_table .social_media_table{
    font-size: 1.1rem;
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .company_pic .parallax_about_us{
    height: 250px !important;
  }
}

@media only screen and (max-width: 991px) {

  .field_of_header_about_us .main_row .content_of_header .layer_of_header_about_us .content_box .name_of_company{
    font-size: 1.8rem;
  }
  .field_of_header_about_us .main_row .content_of_header .layer_of_header_about_us .content_box .exp_about_company,
  .field_of_header_about_us .main_row .content_of_header .layer_of_header_about_us .content_box .small_text_about_company,
  .ways_to_contact_us .box_of_explain_table .explain_box_table .support_option_table,
  .why_choose_our_company_pic .box_of_why_us .Site_Values_Melorin,
  .why_choose_our_company_pic .box_of_why_us .Fields_of_activity_Melorin{
    font-size: 0.9rem;
  }
  .field_of_header_about_us,
  .field_of_header_about_us .main_row{
    height: 70vh;
  }

  .ways_to_contact_us .title_part_of_page,
  .company_pic .title_part_of_page,
  .why_choose_our_company_pic .title_part_of_page{
    font-size: 1.5rem;
  }

  .ways_to_contact_us .box_of_explain_table .padding_of_title{
    font-size: 1.8rem;
  }

  .ways_to_contact_us .img_of_logo{
    width: 210px;
  }
  .company_pic .parallax_about_us{
    height: 210px !important;
  }

}

@media only screen and (max-width: 768px) {
  .field_of_header_about_us .main_row .content_of_header .layer_of_header_about_us .content_box{
    width: 90%;
  }

  .field_of_header_about_us .main_row .content_of_header .layer_of_header_about_us .content_box .exp_about_company,
  .field_of_header_about_us .main_row .content_of_header .layer_of_header_about_us .content_box .small_text_about_company,
  .why_choose_our_company_pic .box_of_why_us .Site_Values_Melorin,
  .why_choose_our_company_pic .box_of_why_us .Fields_of_activity_Melorin
  {
    font-size: 0.8rem;
  }

  .field_of_header_about_us .main_row .content_of_header .layer_of_header_about_us .content_box .name_of_company{
    font-size: 1.5rem;
  }

  .ways_to_contact_us .img_of_logo{
    margin-bottom: 50px;
    width: 170px;
  }

  .ways_to_contact_us .title_part_of_page ,
  .company_pic .title_part_of_page,
  .why_choose_our_company_pic .title_part_of_page{
    font-size: 1.3rem;
  }

  .ways_to_contact_us .title_part_of_page::before ,
  .company_pic .title_part_of_page::before,
  .why_choose_our_company_pic .title_part_of_page::before{
    left: -170px;
    width: 120px;
  }

  .ways_to_contact_us .title_part_of_page::after,
  .company_pic .title_part_of_page::after,
  .why_choose_our_company_pic .title_part_of_page::after{
    right: -170px;
    width: 120px;
  }
  .company_pic .parallax_about_us{
    height: 180px !important;
  }

  .why_choose_our_company_pic .box_of_why_us .title_of_Site_Values_Melorin, .why_choose_our_company_pic .box_of_why_us .title_of_Fields_of_activity_Melorin{
    text-align: center!important;
  }

  .why_choose_our_company_pic .box_of_why_us{
    margin-top: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .field_of_header_about_us .main_row .content_of_header .layer_of_header_about_us .content_box .name_of_company,
  .ways_to_contact_us .box_of_explain_table .padding_of_title,
  .why_choose_our_company_pic .box_of_why_us .title_of_Site_Values_Melorin,
  .why_choose_our_company_pic .box_of_why_us .title_of_Fields_of_activity_Melorin{
    font-size: 1.5rem;
  }


  .field_of_header_about_us .main_row .content_of_header .layer_of_header_about_us .content_box .exp_about_company,
  .field_of_header_about_us .main_row .content_of_header .layer_of_header_about_us .content_box .small_text_about_company{
    font-size: 0.7rem;
  }

  .ways_to_contact_us .box_of_explain_table .explain_box_table .support_option_table{
    font-size: .8rem;
  }

  .ways_to_contact_us .title_part_of_page,
  .company_pic .title_part_of_page,
  .why_choose_our_company_pic .title_part_of_page{
    font-size: 1.1rem;
  }

  .ways_to_contact_us .title_part_of_page::before,
  .company_pic .title_part_of_page::before,
  .why_choose_our_company_pic .title_part_of_page::before{
    left: -140px;
    width: 100px;
  }

  .ways_to_contact_us .title_part_of_page::after,
  .company_pic .title_part_of_page::after,
    .why_choose_our_company_pic .title_part_of_page::after{
    right: -140px;
    width: 100px;
  }

  .ways_to_contact_us .img_of_logo{
    width: 180px;
  }

  .ways_to_contact_us .box_of_explain_table .explain_box_table .social_media_table{
    font-size: 0.9rem;
    width: 25px;
    height: 25px;
    line-height: 25px;
  }

}

@media only screen and (max-width: 499px) {
  .field_of_header_about_us,
  .field_of_header_about_us .main_row{
    height: 80vh;
  }

  .field_of_header_about_us .main_row .content_of_header .layer_of_header_about_us .content_box .name_of_company{
    font-size: 1.1rem;
  }

  .ways_to_contact_us .title_part_of_page,
  .ways_to_contact_us .title_part_of_page,
  .why_choose_our_company_pic .title_part_of_page{
    font-size: 1rem;
  }

  .ways_to_contact_us .img_of_logo{
    width: 150px;
  }

  .ways_to_contact_us .title_part_of_page::before ,
  .ways_to_contact_us .title_part_of_page::before,
  .why_choose_our_company_pic .title_part_of_page::before
  {
    left: -100px;
    width: 80px;
  }

  .company_pic .parallax_about_us{
    height: 150px !important;
  }


  .ways_to_contact_us .title_part_of_page::after,
  .company_pic .title_part_of_page::after,
  .why_choose_our_company_pic .title_part_of_page::after{
    right: -100px;
    width: 80px;
  }

}

@media only screen and (max-width: 400px) {
  .ways_to_contact_us .img_of_logo{
    width: 120px;
  }

  .why_choose_our_company_pic .box_of_why_us .title_of_Site_Values_Melorin,
  .why_choose_our_company_pic .box_of_why_us .title_of_Fields_of_activity_Melorin{
    font-size: 1.2rem;
  }

  .why_choose_our_company_pic .box_of_why_us .Site_Values_Melorin,
  .why_choose_our_company_pic .box_of_why_us .Fields_of_activity_Melorin{
    font-size: .7rem;
  }
}

