@import '../Partials/main-color';
@import '../Partials/mixin';
@import '../Partials/checkbox-design';
@import '../Partials/header-text';
@import '../Partials/table-header';
@import '../Partials/table-option';
@import '../Partials/table_image';
@import '../Partials/table';
@import '../Partials/pagination';
@import '../Partials/error';
@import '../Partials/modal';
@import '../Partials/btn';
@import '../Partials/table-error';


.main_body {
    @include main_field
}

.main_col {
    @include main_col;
}

#user_management{
    max-height: 160px; 
}

#admin_list{
    p{
        color: white;
        background-color: #1B1B28;
    }
}
