@import '../Partials/main-color';
@import '../Partials/mixin';
@import '../Partials/btn';
@import '../Partials/header-text';
@import '../Partials/error';

.main_field {
    @include main_field;
}

.main_col {
    @include main_col;
    padding-bottom: 60px !important;
}

.select_access{
    direction: rtl;
    text-align: right;
}

.green_btn{
    float: left;
    margin-top: 20px;
}