@charset "UTF-8";
.option-input {
  appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  position: relative;
  top: 15px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 20px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
  border-radius: 4px;
}

.option-input:hover {
  background: #9faab7;
}

.option-input:checked {
  background: #40e0d0;
}

.option-input:checked::before {
  height: 20px;
  width: 20px;
  position: absolute;
  content: "✔";
  display: inline-block;
  font-size: 14px;
  text-align: center;
  line-height: 24px;
}

.header_of_article_list {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0px;
}

.small_of_article_list {
  font-size: 0.8rem;
  color: #B9B9B9;
}

.multi_remove {
  color: #F64E60;
  background-color: #FFE2E5;
  border-radius: 4px;
  width: 35px;
  height: 35px;
  padding: 0;
  font-size: 1rem;
  position: absolute;
  left: 50px;
  top: 30px;
  line-height: 37px;
}
.multi_remove:hover {
  color: white;
  background-color: #F64E60;
}

.count_row_table_of_category {
  font-size: 0.7rem;
  height: 35px !important;
  width: 60px;
  display: inline-block;
}

.select_of_category {
  position: absolute;
  top: 30px;
  left: 95px;
}

.select_of_category p {
  font-size: 0.8rem;
}

.search_inp_category {
  position: absolute;
  width: 280px;
  top: 30px;
  left: 270px;
}

.remove_search_icon {
  position: absolute;
  z-index: 10;
  font-size: 1rem;
  top: 0;
  left: 0;
  cursor: pointer;
  width: 35px;
  height: 35px;
  line-height: 35px;
  padding-right: 12px;
  background-color: #F3F6F9;
}

.category_search {
  height: 35px !important;
  font-size: 0.8rem;
}

.btn_of_search {
  height: 35px;
  background-color: #F3F6F9;
  border: none;
}

.btn_of_search:hover i {
  color: #F64E60;
}

.btn_of_search:hover {
  background-color: #F3F6F9;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show > .btn-outline-secondary.dropdown-toggle {
  background-color: #F3F6F9;
  border-color: #F3F6F9;
}

.main_filed_of_article_list {
  width: 98%;
  margin-left: 1%;
  margin-top: 1.5rem;
}

.main_filed_of_main_col {
  background-color: white;
  border-radius: 7px;
  padding: 1.5rem 3rem;
  border-radius: 7px;
  text-align: right;
  direction: rtl;
}

.option-input {
  top: 0px;
}

.date_pill {
  top: 0px;
}

table thead tr th {
  padding: 6px 0px 20px 0px !important;
}
table thead tr th label .option-input {
  top: 15px;
}
table tbody {
  font-size: 0.9rem;
}
table tbody tr td {
  padding: 30px 0px 17px 0px !important;
}

.sitoation_pill {
  color: #1BC5BD;
  background-color: #C9F7F5;
  width: 90px;
  height: 30px;
  border-radius: 50px;
  line-height: 30px;
  margin: 0 auto;
  margin-top: -4px;
}

.data_pill {
  color: #6993FF;
  background-color: #E1E9FF;
  width: 110px;
  height: 30px;
  border-radius: 50px;
  line-height: 30px;
  margin: 0 auto;
  margin-top: -4px;
}

.img_of_user {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  cursor: pointer;
}

.padding_custom_img {
  padding-top: 15px !important;
}

.img_modal_field {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1000000000000;
  top: 0;
  left: 0;
  background-color: #0000008f;
  display: none;
}

.row_modal_custom {
  height: 100vh;
}

.modal_img_show {
  border: 5px solid white;
  border-radius: 2px;
  width: 100%;
}

.img_modal_field_second {
  width: 600px;
  margin: 0 auto;
}

.remove_img_modal {
  width: 50px;
  height: 50px;
  background: white;
  position: absolute;
  right: -22px;
  top: -23px;
  border-radius: 44px;
  cursor: pointer;
}
.remove_img_modal i {
  font-size: 1.8rem;
  margin-left: 16px;
  margin-top: 11px;
}

.dropdown-toggle::after {
  display: none !important;
}

.btn:hover {
  color: #000000;
}

.dropdown-toggle {
  padding: 0px 5px;
}

.dropdown-item {
  font-size: 0.9rem !important;
  height: 40px;
  line-height: 34px;
}

.dropdown-menu {
  padding: 0px;
}

.dropdown-item {
  transition: all linear 0.2s;
}
.dropdown-item i {
  color: #000000;
  margin-left: 10px;
  transition: all linear 0.2s;
}
.dropdown-item :first-child {
  font-size: 1.1rem;
}

.dropdown-item:hover,
.dropdown-item:hover i {
  color: #6993FF;
}

.dropdown-item:focus {
  background-color: white;
  color: black;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #6993FF;
  background-color: #F3F6F9;
}

/*# sourceMappingURL=groups-users.css.map */
