@import "../../css/mixin/main-mixin";
@import "../../css/mixin/cb-mixin";
@import "../../css/variable/color";

body {
  overflow-x: hidden;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #caab683a;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #caab683a;
}

.rotate_layer {
  background-color: #F7F8FC;
  width: 150%;
  height: 120px;
  @include transform(rotate(-3deg));
  top: 180px;
  left: -290px;
  width: 150%;
  position: absolute;
  height: 1000px;
}

.main_contact_form {
  margin-top: 200px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 15px -5px #c0c0c0;
  padding: 80px 40px 20px 40px;
  border-radius: 6px;
  margin-bottom: 50px;

  label {
    span {
      color: red;
    }
  }

  button {
    color: white;
    background-color: $d_gold;
    text-align: center;
    width: 100%;
    margin-top: 10px;

    &:hover {
      color: white;
      background-color: $hover_gold;
    }
  }

  .contact_way_part {
    & :first-child {
      color: #171717;
      font-size: 1.3rem;
    }

    .info_of_contact_way {
      color: #878791;

      i {
        color: #878791;
      }
    }
  }
}

.main_field_of_quest {
  margin-top: 200px;
  direction: rtl;
  text-align: right;

  .title_of_quest {
    color: $d_gold;
    font-size: 2rem;
    margin-bottom: 0px;
  }

  .sub_title_of_quest {
    font-size: 0.9rem;
    color: #878791;
  }

  .main_field_of_collaps {
    width: 500px;
    margin-top: 50px;

    .title_of_collapse {
      border-bottom: 1px solid rgb(194, 194, 194);
      cursor: pointer;
      position: relative;
      margin-top: 20px;

      &:hover {
        i {
          left: 25px;
        }
      }

      i {
        color: #878791;
        position: absolute;
        top: 20px;
        left: 30px;
        @include transition(0.2s, linear, 0s)
      }

      & :first-child {
        color: #171717;
        font-size: 1.2rem;
        margin-bottom: 0px;

      }

      & :nth-child(2) {
        font-size: 0.9rem;
        color: #878791;
      }
    }
  }

  .sub_title_collapse {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    p {
      color: #171717;
      font-size: 0.9rem;
      margin-top: 15px;
    }
  }
}