body {
  overflow-x: hidden;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #caab683a;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #caab683a;
}

.rotate_layer {
  background-color: #F7F8FC;
  width: 150%;
  height: 120px;
  transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  top: 180px;
  left: -290px;
  width: 150%;
  position: absolute;
  height: 1000px;
}

.main_contact_form {
  margin-top: 200px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 15px -5px #c0c0c0;
  padding: 80px 40px 20px 40px;
  border-radius: 6px;
  margin-bottom: 50px;
}

.main_contact_form label span {
  color: red;
}

.main_contact_form button {
  color: white;
  background-color: #CAAB68;
  text-align: center;
  width: 100%;
  margin-top: 10px;
}

.main_contact_form button:hover {
  color: white;
  background-color: #b89c5f;
}

.main_contact_form .contact_way_part :first-child {
  color: #171717;
  font-size: 1.3rem;
}

.main_contact_form .contact_way_part .info_of_contact_way {
  color: #878791;
}

.main_contact_form .contact_way_part .info_of_contact_way i {
  color: #878791;
}

.main_field_of_quest {
  margin-top: 200px;
  direction: rtl;
  text-align: right;
}

.main_field_of_quest .title_of_quest {
  color: #CAAB68;
  font-size: 2rem;
  margin-bottom: 0px;
}

.main_field_of_quest .sub_title_of_quest {
  font-size: 0.9rem;
  color: #878791;
}

.main_field_of_quest .main_field_of_collaps {
  width: 500px;
  margin-top: 50px;
}

.main_field_of_quest .main_field_of_collaps .title_of_collapse {
  border-bottom: 1px solid #c2c2c2;
  cursor: pointer;
  position: relative;
  margin-top: 20px;
}

.main_field_of_quest .main_field_of_collaps .title_of_collapse:hover i {
  left: 25px;
}

.main_field_of_quest .main_field_of_collaps .title_of_collapse i {
  color: #878791;
  position: absolute;
  top: 20px;
  left: 30px;
  transition: all 0.2s linear 0s;
  -webkit-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
}

.main_field_of_quest .main_field_of_collaps .title_of_collapse :first-child {
  color: #171717;
  font-size: 1.2rem;
  margin-bottom: 0px;
}

.main_field_of_quest .main_field_of_collaps .title_of_collapse :nth-child(2) {
  font-size: 0.9rem;
  color: #878791;
}

.main_field_of_quest .sub_title_collapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.main_field_of_quest .sub_title_collapse p {
  color: #171717;
  font-size: 0.9rem;
  margin-top: 15px;
}
