@import "../../css/mixin/main-mixin";
@import "../../css/mixin/cb-mixin";
@import "../../css/variable/color";

.main_contact_form {
  margin-top: 200px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 15px -5px #c0c0c0;
  padding: 80px 40px 20px 40px;
  border-radius: 6px;
  margin-bottom: 50px;

  label {
    span {
      color: red;
    }
  }

  button {
    color: white;
    background-color: $d_gold;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    
  }

  .contact_way_part {
    & :first-child {
      color: #171717;
      font-size: 1.3rem;
    }

    .info_of_contact_way {
      color: #878791;

      i {
        color: #878791;
      }
    }
  }
}