@font-face {
  font-family: main-font;
  src: url("../../font/Vazir.ttf");
}
@font-face {
  font-family: second-font;
  src: url("../../font/Vazir-Thin.ttf");
}
@font-face {
  font-family: accent-font;
  src: url("../../font/A.Rezvan.ttf");
}
.header .top_box_of_nav_bar {
  background-color: #fff;
  padding: 15px 0px;
  border-bottom: 1px solid #d6d6d6;
  height: 110px;
}
.header .top_box_of_nav_bar .right_box .logo_of_header {
  width: 18%;
}
.header .top_box_of_nav_bar .right_box .name_of_web_site {
  font-family: accent-font;
  font-size: 2.2rem;
}
.header .top_box_of_nav_bar .right_box .name_of_web_site span {
  color: #FF6B6B;
}
.header .top_box_of_nav_bar .left_box .form {
  margin-top: 22px;
}
.header .top_box_of_nav_bar .left_box .form .search_box {
  border-radius: 0px 5px 5px 0px;
  font-size: 0.8rem;
}
.header .top_box_of_nav_bar .left_box .form .search_box:focus {
  box-shadow: none;
  border: 1px solid #ced4da;
}
.header .top_box_of_nav_bar .left_box .form .input-group-text {
  border-radius: 5px 0px 0px 5px;
  background-color: #FF6B6B;
}
.header .top_box_of_nav_bar .left_box .form .input-group-text .fa-search {
  color: #fff;
}
.header .bottom_box_of_nav_bar {
  background-color: white;
  box-shadow: 0px 10px 20px -20px #2b2b2b;
}
.header .bottom_box_of_nav_bar .nav_bar_box .nav_bar .nav_bar_ul {
  list-style-type: none;
  font-family: second-font;
  font-size: 0.9rem;
}
.header .bottom_box_of_nav_bar .nav_bar_box .nav_bar .nav_bar_ul .nav_bar_item {
  display: inline-block;
  padding-right: 20px;
}
.header .bottom_box_of_nav_bar .nav_bar_box .nav_bar .nav_bar_ul .nav_bar_item .nav_link {
  color: #4e4e4e;
}
.header .bottom_box_of_nav_bar .nav_bar_box .nav_bar .nav_bar_ul .nav_bar_item .nav_link:hover {
  color: #FF6B6B;
  border-bottom: 2px solid #FF6B6B;
  font-weight: bold;
}
.header .bottom_box_of_nav_bar .nav_bar_box .nav_bar .nav_bar_ul .nav_bar_item .active_item {
  color: #FF6B6B;
  border-bottom: 2px solid #FF6B6B;
  font-weight: bold;
}
.header .bottom_box_of_nav_bar .nav_bar_box .nav_bar .nav_bar_ul .nav_bar_item .special_item {
  background-color: #FF6B6B;
  padding: 5px 20px;
  border-radius: 20px;
  color: #fff;
  height: 37px;
  display: inline-block;
  line-height: 28px;
}
.header .bottom_box_of_nav_bar .nav_bar_box .nav_bar .nav_bar_ul .nav_bar_item .special_item:hover {
  color: #fff;
}
.header .bottom_box_of_nav_bar .nav_bar_box .nav_bar .nav_btn_responsive {
  border: none;
  background-color: transparent;
  display: none;
}
.header .bottom_box_of_nav_bar .nav_bar_box .nav_bar .nav_btn_responsive .fa-bars {
  font-size: 1.5rem;
  color: #4e4e4e;
}
.header .bottom_box_of_nav_bar .cart_and_sign_box .card_box {
  background-color: transparent;
  border: none;
  color: #FF6B6B;
}
.header .bottom_box_of_nav_bar .cart_and_sign_box .card_box .card_name {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: second-font;
}
.header .bottom_box_of_nav_bar .cart_and_sign_box .card_box .badge_card {
  background-color: #FF6B6B;
  color: #fff;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 20px;
  position: relative;
  display: inline-block;
  font-size: 0.7rem;
  border: 2px solid white;
  top: -15px;
  left: -7px;
}
.header .bottom_box_of_nav_bar .cart_and_sign_box .card_box .fa-shopping-cart {
  font-size: 1.2rem;
}
.header .bottom_box_of_nav_bar .cart_and_sign_box .sign_box .sign_btn {
  background-color: transparent;
  border: none;
  border-right: 1px solid #a5a5a5;
  font-family: second-font;
  font-size: 0.9rem;
}
.header .layer_of_nav {
  display: none;
  background-color: rgba(0, 0, 0, 0.42);
  z-index: 99;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
}
.header .nav_responsive .nav_bar_responsive {
  width: 350px;
  background-color: #fff;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -350px;
  z-index: 100;
}
.header .nav_responsive .nav_bar_responsive .header_of_responsive_nav_bar .title_of_page {
  font-size: 1.5rem;
  font-family: accent-font;
  margin-right: 50px;
}
.header .nav_responsive .nav_bar_responsive .header_of_responsive_nav_bar .title_of_page span {
  color: #FF6B6B;
}
.header .nav_responsive .nav_bar_responsive .header_of_responsive_nav_bar .btn_close {
  border: none;
  background-color: transparent;
}
.header .nav_responsive .nav_bar_responsive .header_of_responsive_nav_bar .btn_close .fa-times {
  margin-right: 120px;
  font-size: 1.5rem;
  position: relative;
  top: 5px;
}
.header .nav_responsive .nav_bar_responsive .nav_bar_ul_responsive {
  margin-right: 50px;
  list-style-type: none;
}
.header .nav_responsive .nav_bar_responsive .nav_bar_ul_responsive .nav_bar_item_responsive .nav_link_responsive {
  color: black;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 80;
}

.footer {
  width: 100%;
  background-color: #262626;
  padding: 100px 0px 10px;
}
.footer .exp_of_page {
  color: #adadad;
}
.footer .exp_of_page .logo_of_footer {
  width: 23%;
}
.footer .exp_of_page .title_of_footer {
  font-family: accent-font;
  font-size: 2rem;
}
.footer .exp_of_page .title_of_footer span {
  color: #FF6B6B;
}
.footer .exp_of_page .text_of_exp, .footer .exp_of_page .contact_footer {
  font-size: 0.9rem;
  font-family: second-font;
  margin-top: 15px;
  text-align: justify;
  width: 80%;
}
.footer .exp_of_page .hr_style {
  width: 100px;
  height: 2px;
  background-color: #FF6B6B;
}
.footer .info_footer {
  direction: rtl;
  color: #adadad;
}
.footer .info_footer .style_of_header_footer {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
}
.footer .info_footer .hr_style {
  width: 100px;
  height: 2px;
  background-color: #FF6B6B;
}
.footer .info_footer .list_of_info_footer {
  list-style-type: none;
  padding-right: 0px !important;
  font-size: 0.9rem;
  font-family: second-font;
}
.footer .info_footer .list_of_info_footer .link_list {
  color: #adadad;
}
.footer .info_footer .list_of_info_footer .link_list:hover {
  color: #FF6B6B;
  font-weight: 600;
}
.footer .info_footer .contact_info_footer {
  font-size: 0.9rem;
  font-family: second-font;
  text-align: justify;
}
.footer .info_footer .btn_social_instagram {
  padding: 15px 50px;
  border-radius: 30px;
  border: none;
  background-color: #FF6B6B;
  color: white;
  font-size: 0.8rem;
}
.footer .electronic_logo {
  width: 40%;
}
.footer .right_box .title_of_best_p {
  color: white;
  font-size: 1.2rem;
}
.footer .right_box .exp_e_footer {
  color: #adadad;
  font-size: 0.9rem;
  direction: rtl;
  font-family: second-font;
}
.footer .hr_footer {
  background-color: #686868;
}
.footer .copyright {
  color: #adadad;
}

.modal_register, .modal_recovery, .modal_login {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 50px 0px;
}
.modal_register .main_row, .modal_recovery .main_row, .modal_login .main_row {
  width: 100%;
  height: 100%;
}
.modal_register .main_row .modal_body, .modal_recovery .main_row .modal_body, .modal_login .main_row .modal_body {
  position: relative;
  width: 500px;
  background-color: #fff;
  margin: auto;
  border-radius: 7px;
}
.modal_register .main_row .modal_body .header_of_modal, .modal_recovery .main_row .modal_body .header_of_modal, .modal_login .main_row .modal_body .header_of_modal {
  padding: 20px 20px 0px 20px;
  text-align: right;
  position: relative;
}
.modal_register .main_row .modal_body .header_of_modal .title_of_modal, .modal_recovery .main_row .modal_body .header_of_modal .title_of_modal, .modal_login .main_row .modal_body .header_of_modal .title_of_modal {
  font-size: 1.5rem;
  font-family: accent-font;
}
.modal_register .main_row .modal_body .header_of_modal .title_of_modal span, .modal_recovery .main_row .modal_body .header_of_modal .title_of_modal span, .modal_login .main_row .modal_body .header_of_modal .title_of_modal span {
  color: #FF6B6B;
}
.modal_register .main_row .modal_body .header_of_modal .btn_close, .modal_recovery .main_row .modal_body .header_of_modal .btn_close, .modal_login .main_row .modal_body .header_of_modal .btn_close {
  position: absolute;
  left: 20px;
  top: 23px;
  border: none;
  background-color: transparent;
  font-size: 1.3rem;
}
.modal_register .main_row .modal_body .body_of_modal, .modal_recovery .main_row .modal_body .body_of_modal, .modal_login .main_row .modal_body .body_of_modal {
  padding: 0px 80px;
  direction: rtl;
  text-align: right;
}
.modal_register .main_row .modal_body .body_of_modal form .field_of_register, .modal_recovery .main_row .modal_body .body_of_modal form .field_of_register, .modal_login .main_row .modal_body .body_of_modal form .field_of_register {
  height: 32px;
}
.modal_register .main_row .modal_body .body_of_modal form .field_of_register:focus, .modal_recovery .main_row .modal_body .body_of_modal form .field_of_register:focus, .modal_login .main_row .modal_body .body_of_modal form .field_of_register:focus {
  box-shadow: none;
  border: 1px solid #ced4da;
}
.modal_register .main_row .modal_body .body_of_modal form .btn_register, .modal_recovery .main_row .modal_body .body_of_modal form .btn_register, .modal_login .main_row .modal_body .body_of_modal form .btn_register {
  background-color: #343A40;
  color: white;
}
.modal_register .main_row .modal_body .body_of_modal form .btn_register:hover, .modal_recovery .main_row .modal_body .body_of_modal form .btn_register:hover, .modal_login .main_row .modal_body .body_of_modal form .btn_register:hover {
  background-color: #262626;
}
.modal_register .main_row .modal_body .body_of_modal .register_link, .modal_recovery .main_row .modal_body .body_of_modal .register_link, .modal_login .main_row .modal_body .body_of_modal .register_link {
  color: #FF6B6B;
}

.modal_login {
  display: none;
}
.modal_login .check_box_label {
  font-family: second-font;
}
.modal_login .btn_login {
  background-color: #343A40;
  color: white;
}
.modal_login .btn_login:hover {
  background-color: #262626;
}
.modal_login .login_link {
  color: #FF6B6B;
}
.modal_login .check_box_label {
  margin-top: 15px;
  display: block;
  position: relative;
  padding-right: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.modal_login .check_box_label:hover .checkmark {
  background-color: #ccc;
}
.modal_login .check_box_label .input_check_box {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.modal_login .check_box_label .input_check_box:checked ~ .checkmark {
  background-color: #106ef3;
}
.modal_login .check_box_label .input_check_box:checked ~ .checkmark:after {
  display: block;
}
.modal_login .check_box_label .checkmark {
  position: absolute;
  top: 0;
  right: 0px;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 5px;
}
.modal_login .check_box_label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 1px;
  width: 7px;
  height: 18px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
.modal_login .recovery_box_link {
  position: relative;
  top: -10px;
}
.modal_login .recovery_box_link .recovery_link {
  color: #343A40;
}

.modal_recovery {
  display: none;
}
.modal_recovery .recovery_btn {
  background-color: #343A40;
  color: white;
}
.modal_recovery .recovery_btn:hover {
  background-color: #262626;
}

@media (min-width: 1200px) {
  .container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    max-width: 1250px;
  }
}
@media only screen and (max-width: 1300px) and (min-width: 1201px) {
  .footer {
    padding: 100px 40px 10px;
  }

  .footer .exp_of_page .text_of_exp,
.footer .exp_of_page .contact_footer,
.footer .info_footer .list_of_info_footer,
.footer .info_footer .contact_info_footer,
.footer .right_box .exp_e_footer {
    font-size: 0.8rem;
  }

  .footer .electronic_logo {
    width: 30%;
  }
}
@media only screen and (max-width: 1200px) {
  .footer .exp_of_page .text_of_exp,
.footer .exp_of_page .contact_footer,
.footer .info_footer .list_of_info_footer,
.footer .info_footer .contact_info_footer,
.footer .right_box .exp_e_footer,
.header .bottom_box_of_nav_bar .cart_and_sign_box .sign_box .sign_btn,
.header .bottom_box_of_nav_bar .nav_bar_box .nav_bar .nav_bar_ul {
    font-size: 0.9rem;
    line-height: 25px;
  }

  .footer .info_footer .style_of_header_footer {
    font-size: 1rem;
  }

  .footer .info_footer .hr_style {
    width: 70px;
  }

  .footer .info_footer .btn_social_instagram {
    font-size: 0.9rem;
  }

  .header .bottom_box_of_nav_bar .cart_and_sign_box .card_box .card_name,
.header .top_box_of_nav_bar .left_box .form .search_box {
    font-size: 0.9rem;
  }

  .header .bottom_box_of_nav_bar .cart_and_sign_box .card_box .fa-shopping-cart {
    font-size: 1rem;
  }

  .header .bottom_box_of_nav_bar .cart_and_sign_box .card_box .badge_card {
    font-size: 0.5rem;
    width: 17px;
    height: 17px;
    line-height: 17px;
  }

  .header .bottom_box_of_nav_bar .nav_bar_box .nav_bar .nav_bar_ul .nav_bar_item .special_item {
    height: 28px;
  }

  .header .bottom_box_of_nav_bar .nav_bar_box .nav_bar .nav_bar_ul .nav_bar_item .special_item {
    line-height: 20px;
  }
}
@media only screen and (max-width: 991px) {
  .bottom_box_of_nav_bar {
    height: 65px;
    padding-top: 19px !important;
  }

  .header .top_box_of_nav_bar .right_box .logo_of_header {
    width: 26%;
  }

  .header .top_box_of_nav_bar .right_box .name_of_web_site,
.footer .exp_of_page .title_of_footer {
    font-size: 1.8rem;
  }

  /*nav bar responsive*/
  .header .bottom_box_of_nav_bar .nav_bar_box .nav_bar .nav_bar_ul {
    display: none;
  }

  .header .bottom_box_of_nav_bar .nav_bar_box .nav_bar .nav_btn_responsive {
    display: block;
  }

  .header .bottom_box_of_nav_bar .nav_bar_box .nav_bar .nav_btn_responsive .fa-bars {
    margin-right: 25px;
    margin-top: 3px;
  }

  .header .layer_of_nav .nav_bar_responsive .nav_bar_ul_responsive {
    margin-top: 40px;
    font-size: 0.8rem;
  }

  .header .bottom_box_of_nav_bar .nav_bar_box .nav_bar .nav_btn_responsive .fa-bars {
    font-size: 1.2rem;
  }

  .modal_register .main_row .modal_body,
.modal_recovery .main_row .modal_body,
.modal_login .main_row .modal_body {
    width: 470px;
  }
}
@media only screen and (max-width: 768px) {
  .header .top_box_of_nav_bar {
    height: 80px;
    padding: 10px 0px;
  }

  .header .top_box_of_nav_bar .right_box .logo_of_header {
    width: 65px;
  }

  .header .top_box_of_nav_bar .right_box .name_of_web_site,
.footer .exp_of_page .title_of_footer {
    font-size: 1.5rem;
  }

  .header .top_box_of_nav_bar .left_box .form {
    margin-top: 18px;
  }

  .header .top_box_of_nav_bar .left_box .form .search_box,
.header .top_box_of_nav_bar .left_box .form .input-group-text {
    height: 35px;
    font-size: 0.8rem;
  }

  .header .bottom_box_of_nav_bar .cart_and_sign_box .card_box .fa-shopping-cart,
.header .bottom_box_of_nav_bar .cart_and_sign_box .card_box .card_name,
.header .bottom_box_of_nav_bar .nav_bar_box .nav_bar .nav_bar_ul {
    font-size: 0.8rem;
  }

  .main_field_of_search {
    top: -7px;
  }

  .header .bottom_box_of_nav_bar .cart_and_sign_box .card_box .fa-shopping-cart,
.header .bottom_box_of_nav_bar .cart_and_sign_box .card_box .card_name,
.header .bottom_box_of_nav_bar .nav_bar_box .nav_bar .nav_bar_ul {
    font-size: 0.9rem;
  }

  .header .bottom_box_of_nav_bar .cart_and_sign_box .card_box .badge_card {
    width: 18px;
    height: 18px;
    font-size: 0.7rem;
    line-height: 18px;
    top: -9px;
    text-align: center;
  }

  .footer .exp_of_page .logo_of_footer {
    width: 20%;
  }

  .header .bottom_box_of_nav_bar .nav_bar_box .nav_bar .nav_btn_responsive .fa-bars {
    margin-right: 15px;
  }

  .header .layer_of_nav .nav_bar_responsive {
    width: 320px;
  }

  .header .layer_of_nav .nav_bar_responsive .header_of_responsive_nav_bar .title_of_page {
    font-size: 1.3rem;
  }

  .header .layer_of_nav .nav_bar_responsive .nav_bar_ul_responsive {
    font-size: 0.9rem;
    margin-top: 30px;
  }

  .footer {
    text-align: center !important;
  }

  .footer .info_footer .hr_style,
.footer .exp_of_page .hr_style {
    margin: auto;
  }

  .footer .exp_of_page .text_of_exp {
    margin-right: 5%;
  }

  .footer .exp_of_page .text_of_exp,
.footer .exp_of_page .contact_footer {
    width: 90%;
  }

  .footer .exp_of_page .contact_footer {
    width: max-content;
    margin: 20px auto;
    text-align: center;
  }

  .modal_register .main_row .modal_body,
.modal_recovery .main_row .modal_body,
.modal_login .main_row .modal_body {
    width: 400px;
  }

  .modal_register .main_row .modal_body .body_of_modal,
.modal_recovery .main_row .modal_body .body_of_modal,
.modal_login .main_row .modal_body .body_of_modal {
    padding: 0px 40px;
  }
}
@media only screen and (max-width: 600px) {
  .main_field_of_search {
    top: 0px;
  }

  .footer {
    text-align: center !important;
    padding: 70px 0px 10px;
  }

  .header .top_box_of_nav_bar .right_box .name_of_web_site,
.footer .exp_of_page .title_of_footer {
    font-size: 1.5rem;
  }

  .header .top_box_of_nav_bar .left_box .form .search_box,
.header .top_box_of_nav_bar .left_box .form .input-group-text {
    height: 30px;
    font-size: 0.8rem;
  }

  .header .top_box_of_nav_bar .left_box .form {
    margin-top: 11px;
  }

  .header .top_box_of_nav_bar {
    height: 70px;
  }

  .header .layer_of_nav .nav_bar_responsive {
    width: 250px;
  }

  .header .layer_of_nav .nav_bar_responsive .header_of_responsive_nav_bar .btn_close .fa-times {
    margin-right: 40px;
    font-size: 1.1rem;
  }

  .header .bottom_box_of_nav_bar .nav_bar_box .nav_bar .nav_btn_responsive .fa-bars {
    margin-right: 10px;
    font-size: 1.2rem;
  }

  .header .layer_of_nav .nav_bar_responsive .nav_bar_ul_responsive,
.header .bottom_box_of_nav_bar .cart_and_sign_box .card_box .fa-shopping-cart,
.header .bottom_box_of_nav_bar .cart_and_sign_box .card_box .card_name,
.header .bottom_box_of_nav_bar .nav_bar_box .nav_bar .nav_bar_ul,
.header .bottom_box_of_nav_bar .cart_and_sign_box .sign_box .sign_btn {
    font-size: 0.8rem;
  }

  .header .layer_of_nav .nav_bar_responsive .header_of_responsive_nav_bar .title_of_page {
    font-size: 1.1rem;
  }

  .header .bottom_box_of_nav_bar .cart_and_sign_box .card_box {
    height: 30px;
  }

  .header .layer_of_nav .nav_bar_responsive .header_of_responsive_nav_bar .title_of_page,
.header .layer_of_nav .nav_bar_responsive .nav_bar_ul_responsive {
    margin-right: 20px;
  }

  .header .layer_of_nav .nav_bar_responsive .header_of_responsive_nav_bar .btn_close .fa-times {
    margin-right: 100px;
  }

  .footer .exp_of_page .logo_of_footer {
    width: 90px;
  }
}
@media only screen and (max-width: 500px) {
  .main_field_of_search {
    top: 10px;
  }

  .header .top_box_of_nav_bar .right_box .logo_of_header {
    width: 33%;
  }

  .footer .exp_of_page .logo_of_footer {
    width: 70px;
  }

  .header .top_box_of_nav_bar .right_box .name_of_web_site {
    font-size: 1.1rem;
  }

  .main_field_of_search {
    position: absolute;
    left: 10px;
  }

  .header .bottom_box_of_nav_bar .nav_bar_box .nav_bar .nav_btn_responsive .fa-bars {
    margin-right: 5px;
    font-size: 1.1rem;
  }

  .footer .exp_of_page .text_of_exp {
    text-align: center;
  }

  .footer .copyright {
    font-size: 0.7rem;
  }

  .modal_register .main_row .modal_body,
.modal_recovery .main_row .modal_body,
.modal_login .main_row .modal_body {
    width: 330px;
  }

  .modal_register .main_row .modal_body .header_of_modal .title_of_modal,
.modal_recovery .main_row .modal_body .header_of_modal .title_of_modal,
.modal_login .main_row .modal_body .header_of_modal .title_of_modal,
.modal_register .main_row .modal_body .header_of_modal .btn_close,
.modal_recovery .main_row .modal_body .header_of_modal .btn_close,
.modal_login .main_row .modal_body .header_of_modal .btn_close {
    font-size: 1.1rem;
  }

  .modal_register .main_row .modal_body .body_of_modal,
.modal_recovery .main_row .modal_body .body_of_modal,
.modal_login .main_row .modal_body .body_of_modal {
    font-size: 0.7rem;
  }

  .modal_register .main_row .modal_body .body_of_modal form .btn_register, .modal_login .main_row .modal_body .body_of_modal form .btn_register, .modal_recovery .main_row .modal_body .body_of_modal form .btn_register,
.modal_login .btn_login,
.modal_recovery .recovery_btn {
    font-size: 0.8rem;
  }

  .modal_register .main_row .modal_body .body_of_modal form .field_of_register,
.modal_recovery .main_row .modal_body .body_of_modal form .field_of_register,
.modal_login .main_row .modal_body .body_of_modal form .field_of_register {
    height: 25px;
  }

  .text_footer {
    font-size: 0.8rem !important;
  }

  .modal_login .check_box_label .checkmark {
    width: 20px;
    height: 20px;
    top: -3px;
  }

  .header .top_box_of_nav_bar .right_box .logo_of_header {
    width: 31%;
  }

  .footer .exp_of_page .text_of_exp,
.footer .exp_of_page .contact_footer,
.footer .info_footer .list_of_info_footer,
.footer .info_footer .contact_info_footer,
.footer .right_box .exp_e_footer {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 400px) {
  .header .top_box_of_nav_bar {
    height: 50px;
    padding: 5px 0px;
  }

  .header .top_box_of_nav_bar .left_box .form .search_box,
.header .top_box_of_nav_bar .left_box .form .input-group-text {
    height: 22px;
    font-size: 0.7rem;
  }

  .header .layer_of_nav .nav_bar_responsive {
    width: 220px;
  }

  .header .layer_of_nav .nav_bar_responsive .header_of_responsive_nav_bar .btn_close .fa-times {
    margin-right: 70px;
  }

  .footer .copyright {
    font-size: 0.6rem;
  }

  .header .layer_of_nav .nav_bar_responsive .header_of_responsive_nav_bar .title_of_page {
    font-size: 0.9rem;
  }

  .col_p {
    padding: 0 !important;
  }

  .header .top_box_of_nav_bar .right_box .logo_of_header {
    width: 28%;
  }
}

/*# sourceMappingURL=layouts.css.map */
