@import "../partials/main-colors";
@import "../partials/mixin";
@import "../partials/fonts";

.header {

  .top_box_of_nav_bar {
    background-color: $white;
    padding: 15px 0px;
    border-bottom: 1px solid $l-gray;
    height: 110px;

    .right_box {

      .logo_of_header {
        width: 18%;
      }

      .name_of_web_site {
        font-family: $a_f;
        font-size: 2.2rem;

        span {
          color: $l_red;
        }
      }
    }

    .left_box {

      .form {

        margin-top: 22px;

        .search_box {
          border-radius: 0px 5px 5px 0px;
          font-size: 0.8rem;

          &:focus {
            box-shadow: none;
            border: 1px solid #ced4da;
          }
        }

        .input-group-text {
          border-radius: 5px 0px 0px 5px;
          background-color: $l_red;

          .fa-search {
            color: $white;
          }
        }

      }
    }

  }

  .bottom_box_of_nav_bar {
    background-color: white;
    box-shadow: 0px 10px 20px -20px #2b2b2b;

    .nav_bar_box {
      .nav_bar {
        .nav_bar_ul {
          list-style-type: none;
          font-family: $s_f;
          font-size: 0.9rem;

          .nav_bar_item {
            display: inline-block;
            padding-right: 20px;

            .nav_link {
              color: $l-black;

              &:hover {
                color: $l_red;
                border-bottom: 2px solid $l_red;
                font-weight: bold;
              }
            }


            .active_item {
              color: $l_red;
              border-bottom: 2px solid $l_red;
              font-weight: bold;
            }

            .special_item {
              background-color: $l_red;
              padding: 5px 20px;
              border-radius: 20px;
              color: $white;
              height: 37px;
              display: inline-block;
              line-height: 28px;

              &:hover {
                color: $white;
              }
            }
          }


        }

        .nav_btn_responsive {
          border: none;
          background-color: transparent;
          display: none;

          .fa-bars {
            font-size: 1.5rem;
            color: $l_black;
          }
        }
      }
    }

    .cart_and_sign_box {
      .card_box {
        background-color: transparent;
        border: none;
        color: $l_red;

        .card_name {
          font-size: 1.1rem;
          font-weight: bold;
          font-family: $s_f;
        }

        .badge_card {
          background-color: $l_red;
          color: $white;
          border-radius: 50%;
          width: 22px;
          height: 22px;
          text-align: center;
          line-height: 20px;
          position: relative;
          display: inline-block;
          font-size: .7rem;
          border: 2px solid white;
          top: -15px;
          left: -7px;
        }

        .fa-shopping-cart {
          font-size: 1.2rem;
        }
      }

      .sign_box {
        .sign_btn {
          background-color: transparent;
          border: none;
          border-right: 1px solid #a5a5a5;
          font-family: $s_f;
          font-size: 0.9rem;
        }
      }
    }

  }

  .layer_of_nav {
    display: none;
    background-color: rgba(0, 0, 0, 0.42);
    z-index: 99;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
  }

  .nav_responsive{
    .nav_bar_responsive {
      width: 350px;
      background-color: $white;
      height: 100vh;
      position: fixed;
      top: 0;
      right: -350px;
      z-index: 100;


      .header_of_responsive_nav_bar {
        .title_of_page {
          font-size: 1.5rem;
          font-family: $a_f;
          margin-right: 50px;

          span {
            color: $l_red;

          }
        }

        .btn_close {
          border: none;
          background-color: transparent;

          .fa-times {
            margin-right: 120px;
            font-size: 1.5rem;
            position: relative;
            top: 5px;
          }
        }

      }

      .nav_bar_ul_responsive {
        margin-right: 50px;
        list-style-type: none;

        .nav_bar_item_responsive {

          .nav_link_responsive {
            color: black;
          }
        }
      }
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 80;
}

.footer {
  width: 100%;
  background-color: $d_gray;
  padding: 100px 0px 10px;

  .exp_of_page {
    color: #adadad;

    .logo_of_footer {
      width: 23%;
    }

    .title_of_footer {
      font-family: $a_f;
      font-size: 2rem;

      span {
        color: $l_red;
      }
    }

    .text_of_exp , .contact_footer{
      font-size: 0.9rem;
      font-family: $s_f;
      margin-top: 15px;
      text-align: justify;
      width: 80%;
    }

    .hr_style{
      width: 100px;
      height: 2px;
      background-color: $l_red;
    }


  }

  .info_footer{
    direction: rtl;
    color: #adadad;

    .style_of_header_footer{
      font-size: 1.2rem;
      font-weight: 500;
      color: $white;
    }

    .hr_style{
      width: 100px;
      height: 2px;
      background-color: $l_red;
    }

    .list_of_info_footer{
      list-style-type: none;
      padding-right: 0px!important;
      font-size: 0.9rem;
      font-family: $s_f;

      .link_list{
        color:#adadad;
        &:hover{
          color: $l_red;
          font-weight: 600;
        }
      }

    }

    .contact_info_footer{
      font-size: 0.9rem;
      font-family: $s_f;
      text-align: justify;
    }

    .btn_social_instagram{
     padding: 15px 50px;
      border-radius: 30px;
      border: none;
      background-color: $l_red;
      color: white;
    font-size: .8rem;
    }
  }

  .electronic_logo{
    width: 40%;

  }

  .right_box{
    .title_of_best_p{
      color: white;
      font-size: 1.2rem;
    }
    .exp_e_footer{
      color: #adadad;
      font-size: 0.9rem;
      direction: rtl;
      font-family: $s_f;
    }
  }

  .hr_footer{
    background-color:#686868 ;
  }

  .copyright{
    color:#adadad ;
  }
}

.modal_register{
  display: none;
  position: fixed;
  background-color: rgba(0,0,0,0.45);
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 50px 0px;
  .main_row{
    width: 100%;
    height: 100%;

    .modal_body{
      position: relative;
      width: 500px;
      background-color: $white;
      margin: auto;
      border-radius: 7px;

      .header_of_modal{
        padding: 20px 20px 0px 20px;
        text-align: right;
        position: relative;

        .title_of_modal{
          font-size: 1.5rem;
          font-family: $a_f;

          span{
            color: $l_red;
          }

        }

        .btn_close{
          position: absolute;
          left: 20px;
          top: 23px;
          border: none;
          background-color: transparent;
          font-size: 1.3rem;
        }
      }

      .body_of_modal{
        padding: 0px 80px;
        direction: rtl;
        text-align: right;

        form{

          .field_of_register{
            height: 32px;
            &:focus{
              box-shadow: none;
              border: 1px solid #ced4da;
            }
          }

          .btn_register{
            background-color: #343A40;
            color: white;

            &:hover{
              background-color: $d_gray;
            }
          }


        }

        .register_link{
          color: $l_red;
        }
      }
    }
  }
}

.modal_login{
  @extend .modal_register;
  display: none;

  .check_box_label{
    font-family: $s_f;
  }

  .btn_login{
    background-color: #343A40;
    color: white;

    &:hover{
      background-color: $d_gray;
    }
  }

  .login_link{
    color: $l_red;
  }

  .check_box_label{
    margin-top: 15px;
    display: block;
    position: relative;
    padding-right: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover .checkmark{
      background-color: #ccc;
    }


    .input_check_box{
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      &:checked ~ .checkmark{
        background-color: #106ef3;

        &:after{
          display: block;
        }
      }
    }

    .checkmark{
      position: absolute;
      top: 0;
      right: 0px;
      height: 25px;
      width: 25px;
      background-color: #eee;
      border-radius: 5px;

      &:after {
        content: "";
        position: absolute;
        display: none;
        left: 9px;
        top: 1px;
        width: 7px;
        height:18px;
        border: solid white;
        border-width: 0 2px 2px 0;
        @include transform(rotate(45deg));
      }
    }


  }

  .recovery_box_link{
    position: relative;
    top: -10px;
    .recovery_link{
      color: #343A40;
    }
  }

}

.modal_recovery{
  @extend .modal_register;
  display: none;

  .recovery_btn{
    background-color: #343A40;
    color: white;

    &:hover{
      background-color: $d_gray;
    }
  }

}


@import "responsive";