@media (min-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1250px;
  }
}

@media only screen and (max-width: 1300px) and (min-width: 1201px) {
  .footer {
    padding: 100px 40px 10px;
  }
  .footer .exp_of_page .text_of_exp, .footer .exp_of_page .contact_footer,
  .footer .info_footer .list_of_info_footer,
  .footer .info_footer .contact_info_footer,
  .footer .right_box .exp_e_footer {
    font-size: 0.8rem;
  }
  .footer .electronic_logo {
    width: 30%;
  }
}


@media only screen and (max-width: 1200px) {
  .footer .exp_of_page .text_of_exp, .footer .exp_of_page .contact_footer,
  .footer .info_footer .list_of_info_footer,
  .footer .info_footer .contact_info_footer,
  .footer .right_box .exp_e_footer,
  .header .bottom_box_of_nav_bar .cart_and_sign_box .sign_box .sign_btn,
  .header .bottom_box_of_nav_bar .nav_bar_box .nav_bar .nav_bar_ul {
    font-size: 0.7rem;
  }
  .footer .info_footer .style_of_header_footer {
    font-size: 1rem;
  }
  .footer .info_footer .hr_style {
    width: 70px;
  }
  .footer .info_footer .btn_social_instagram {
    font-size: 0.6rem;
  }
  .header .bottom_box_of_nav_bar .cart_and_sign_box .card_box .card_name {
    font-size: .9rem;
  }
  .header .bottom_box_of_nav_bar .cart_and_sign_box .card_box .fa-shopping-cart {
    font-size: 1rem;
  }
  .header .bottom_box_of_nav_bar .cart_and_sign_box .card_box .badge_card {
    font-size: 0.5rem;
    width: 17px;
    height: 17px;
    line-height: 17px;
  }
  .header .bottom_box_of_nav_bar .nav_bar_box .nav_bar .nav_bar_ul .nav_bar_item .special_item {
    height: 28px;
  }
}

@media only screen and (max-width: 991px) {
  .header .top_box_of_nav_bar .right_box .logo_of_header {
    width: 25%;
  }

  .header .top_box_of_nav_bar .right_box .name_of_web_site,
  .footer .exp_of_page .title_of_footer {
    font-size: 1.8rem;
  }

  /*nav bar responsive*/

  .header .bottom_box_of_nav_bar .nav_bar_box .nav_bar .nav_bar_ul {
    display: none;
  }

  .header .bottom_box_of_nav_bar .nav_bar_box .nav_bar .nav_btn_responsive {
    display: block;
  }

  .header .bottom_box_of_nav_bar .nav_bar_box .nav_bar .nav_btn_responsive .fa-bars {
    margin-right: 25px;
  }
  .header .layer_of_nav .nav_bar_responsive .nav_bar_ul_responsive {
    margin-top: 40px;
    font-size: .8rem;
  }
  .header .bottom_box_of_nav_bar .nav_bar_box .nav_bar .nav_btn_responsive .fa-bars {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 768px) {

  .header .top_box_of_nav_bar {
    height: 80px;
    padding: 10px 0px;
  }

  .header .top_box_of_nav_bar .right_box .logo_of_header {
    width: 21%;
  }

  .header .top_box_of_nav_bar .right_box .name_of_web_site,
  .footer .exp_of_page .title_of_footer{
    font-size: 1.5rem;
  }

  .header .top_box_of_nav_bar .left_box .form {
    margin-top: 18px;
  }

  .header .top_box_of_nav_bar .left_box .form .search_box,
  .header .top_box_of_nav_bar .left_box .form .input-group-text {
    height: 25px;
    font-size: 0.8rem;
  }

  .header .bottom_box_of_nav_bar .cart_and_sign_box .card_box .fa-shopping-cart,
  .header .bottom_box_of_nav_bar .cart_and_sign_box .card_box .card_name,
  .header .bottom_box_of_nav_bar .nav_bar_box .nav_bar .nav_bar_ul {
    font-size: .7rem;
  }


  .header .bottom_box_of_nav_bar .cart_and_sign_box .card_box .badge_card {
    width: 15px;
    height: 15px;
    font-size: 0.5rem;
    line-height: 15px;
    top: -10px;
  }

  .footer .exp_of_page .logo_of_footer{
    width: 20%;
  }

  .header .bottom_box_of_nav_bar .nav_bar_box .nav_bar .nav_btn_responsive .fa-bars {
    margin-right: 15px;
  }

  .header .layer_of_nav .nav_bar_responsive {
    width: 320px;
  }

  .header .layer_of_nav .nav_bar_responsive .header_of_responsive_nav_bar .title_of_page {
    font-size: 1.3rem;
  }
  .header .layer_of_nav .nav_bar_responsive .nav_bar_ul_responsive {
    font-size: .9rem;
    margin-top: 30px;
  }

  .footer {
    text-align: center !important;
  }
  .footer .info_footer .hr_style,
  .footer .exp_of_page .hr_style,
  {
    margin: auto;
  }
  .footer .exp_of_page .text_of_exp {
    margin-right: 10%;
  }
  .footer .exp_of_page .contact_footer {
    margin-right: 33%;
  }
}

@media only screen and (max-width: 600px) {

  .header .top_box_of_nav_bar .right_box .name_of_web_site,
  .footer .exp_of_page .title_of_footer{
    font-size: 1.1rem;
  }

  .header .top_box_of_nav_bar .left_box .form .search_box,
  .header .top_box_of_nav_bar .left_box .form .input-group-text {
    height: 25px;
    font-size: .5rem;
  }

  .header .top_box_of_nav_bar .left_box .form {
    margin-top: 11px;
  }

  .header .top_box_of_nav_bar {
    height: 70px;
  }

  .header .layer_of_nav .nav_bar_responsive {
    width: 250px;
  }
  .header .layer_of_nav .nav_bar_responsive .header_of_responsive_nav_bar .btn_close .fa-times {
    margin-right: 40px;
    font-size: 1.1rem;
  }
  .header .bottom_box_of_nav_bar .cart_and_sign_box .card_box .fa-shopping-cart,
  .header .bottom_box_of_nav_bar .cart_and_sign_box .card_box .card_name,
  .header .bottom_box_of_nav_bar .cart_and_sign_box .sign_box .sign_btn {
    font-size: .7rem;
  }

  .header .bottom_box_of_nav_bar .nav_bar_box .nav_bar .nav_btn_responsive .fa-bars {
    margin-right: 10px;
    font-size: 1.2rem;
  }

  .header .layer_of_nav .nav_bar_responsive .nav_bar_ul_responsive {
    font-size: .7rem;
  }
  .header .layer_of_nav .nav_bar_responsive .header_of_responsive_nav_bar .title_of_page {
    font-size: 1.1rem;
  }

  .header .bottom_box_of_nav_bar .cart_and_sign_box .card_box {
    height: 30px;
  }
  .header .bottom_box_of_nav_bar {
    padding-top: 5px !important;
  }
  .header .layer_of_nav .nav_bar_responsive .header_of_responsive_nav_bar .title_of_page,
  .header .layer_of_nav .nav_bar_responsive .nav_bar_ul_responsive {
    margin-right: 20px;
  }
  .header .layer_of_nav .nav_bar_responsive .header_of_responsive_nav_bar .btn_close .fa-times {
    margin-right: 100px;
  }
  .footer .exp_of_page .logo_of_footer {
    width: 15%;
  }
}

@media only screen and (max-width: 500px) {
  .header .top_box_of_nav_bar .right_box .logo_of_header {
    width: 35%;
  }


  .header .top_box_of_nav_bar .right_box .logo_of_header {
    width: 25%;
  }

  .header .top_box_of_nav_bar .right_box .name_of_web_site {
    font-size: 0.9rem;
  }
  .header .bottom_box_of_nav_bar .nav_bar_box .nav_bar .nav_btn_responsive .fa-bars {
    margin-right: 5px;
    font-size: 1.1rem;
  }
  .footer .exp_of_page .contact_footer {
    margin-right: 31%;
  }
  .footer .exp_of_page .text_of_exp {
    text-align: center;
  }

  .footer .copyright {
    font-size: .8rem;
  }

}

@media only screen and (max-width: 400px) {
  .header .top_box_of_nav_bar {
    height: 50px;
    padding: 5px 0px;
  }

  .header .top_box_of_nav_bar .left_box .form .search_box,
  .header .top_box_of_nav_bar .left_box .form .input-group-text {
    height: 18px;
    font-size: 0.6rem;
  }
  .header .layer_of_nav .nav_bar_responsive {
    width: 220px;
  }
  .header .layer_of_nav .nav_bar_responsive .header_of_responsive_nav_bar .btn_close .fa-times {
    margin-right: 70px;
  }
  .footer .exp_of_page .contact_footer {
    margin-right: 25%;
  }
  .footer .copyright {
    font-size: .6rem;
  }
}





