
@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 991px) {
  .header_of_contact_us .title_of_contact_us{
    font-size: 1.8rem;
  }

  .contact_us_content_field .text_contact_us .title_of_contact_text{
    font-size: 1.7rem;
  }

  .social_connect_box .social_content .field_of_contact_info .title_of_contact_box{
    font-size: 1.5rem;
  }

  .contact_us_content_field .text_contact_us .exp_contact_text,
  .contact_us_content_field .main_form_contact_us .form-group label,
  .contact_us_content_field .main_form_contact_us .btn_of_contact,
  .social_connect_box .social_content .field_of_contact_info .contact_box{
    font-size: 0.9rem;
  }

  .contact_us_content_field .text_contact_us .exp_contact_text_sec{
    font-size: 1.05rem;
  }

  .social_connect_box .social_content .field_of_contact_icon{
    font-size: 1.5rem;
  }
  .social_connect_box .social_content .field_of_contact_icon .icons {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }

  .social_connect_box .social_content .field_of_contact_icon{
    padding-bottom: 20px;
  }

  .social_connect_box .social_content{
    height: 250px;
  }
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 600px) {
  .header_of_contact_us .title_of_contact_us{
    font-size: 1.6rem;
  }

  .contact_us_content_field .text_contact_us .title_of_contact_text{
    font-size: 1.5rem;
  }

  .social_connect_box .social_content .field_of_contact_info .title_of_contact_box{
    font-size: 1.3rem;
  }
  .contact_us_content_field .text_contact_us .exp_contact_text,
  .contact_us_content_field .main_form_contact_us .form-group label,
  .contact_us_content_field .main_form_contact_us .btn_of_contact,
  .social_connect_box .social_content .field_of_contact_info .contact_box{
    font-size: 0.8rem;
  }

  .contact_us_content_field .text_contact_us .exp_contact_text_sec{
    font-size: 1rem;
  }
  .social_connect_box .social_content .field_of_contact_icon{
    font-size: 1.3rem;
  }
  .social_connect_box .social_content .field_of_contact_icon .icons {
    width: 50px;
    height: 50px;
    line-height: 45px;
  }

  .social_connect_box .social_content .field_of_contact_icon{
    padding-bottom: 10px;
  }

  .social_connect_box .social_content{
    height: 210px;
  }
}

@media only screen and (max-width: 499px) {

}

@media only screen and (max-width: 400px) {
  .social_connect_box .social_content{
    height: 230px;
  }
}


@media only screen and (max-width:576px) and (min-width:465px ) {
  .social_connect_box .social_content {
    width: 370px;
    margin: 40px auto;
  }
}