.Property_of_rush_team {
    width: 100%;
    height: 500px;
    margin-top: 50px;
}

.circle_of_property {
    width: 80%;
    height: 90%;
    border-radius: 50%;
    border: 1px solid #d2d2d2;
    left: 10%;
    top: 7.5%;
    position: relative;
}

.Property_of_rush_team_item {
    width: 95px;
    height: 95px;
    background-color: white;
    box-shadow: 5px 7px 30px rgba(72, 73, 121, 0.15);
    border: 2px solid #ffffff;
    border-radius: 50%;
    position: absolute;
}

#property_1 {
    top: -3%;
    left: 14%;
}

#property_2 {
    top: -3%;
    right: 14%;
}

#property_3 {
    top: 40%;
    right: -11%;
}

#property_4 {
    bottom: -3%;
    right: 14%;
}

#property_5 {
    bottom: -3%;
    left: 14%;
}

#property_6 {
    top: 40%;
    left: -11%;
}

.icons_of_property {
    position: relative;
    font-size: 1.7rem;
    left: 30px;
    top: 31px;
    background-image: linear-gradient(to right, #3D52EF, #55B9FC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text_of_property {
    width: 55%;
    height: 55%;
    margin: 25% auto;
    text-align: center;
}

.category_of_property {
    font-size: .8rem;
    font-weight: bold;
    color: #FF7D00;
    padding-top: 20px;
}

.title_of_explain_property {
    font-size: 1.2rem;

}

.explain_about_property {
    color: #6E6E6E;
    font-size: .9rem;
    padding-top: 20px;
    text-align: justify;
}

.counter_of_number{
    width: 80%;
    margin:120px auto;
    text-align: center;
}

.counter-count
{
    font-size: 40px;
    font-weight: bold;
    position: relative;
    color: #000000;
    text-align: center;
    display: inline-block;
    margin-top: 40px;
}


.title_of_counter{
    font-size: 1.2rem;
    color: #4e555b;
}

.plus_of_counter{
    font-size: 1.5rem;
    position: relative;
    top: -10px;
    color: #fd7e14;
    font-weight: bold;
}
/**/


/*a*/

.background_img_as_about_us{
    background-image: url("../../img/header-about-us.jpg");
    height: 500px;
    width: 100%;
    background-size: cover;
    position: relative;
}

.cover_of_img{
    width: 100%;
    height: 500px;
    position: absolute;
    background: rgba(108,108,108,0.3);
    top: 0px;
    color: white;
}

.style_of_title_about_us{
    padding-top: 100px;
}

.explain_about_Rush_team{
    width: 70%;
    margin: auto;
}

.title_of_property_rush_team{
    font-size: 1.2rem;
}

.explain_about_property_rush_team{
    color: #4e555b;
    width: 75%;
    margin: auto;
}

.icons_of_property_rush_team{
    font-size: 3rem;
    background-image: linear-gradient(to right, #FF7300, #FFC200);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 50px;
    padding-bottom: 20px;
}


.row_of_property{
    top: -150px;
    box-shadow: 5px 7px 30px rgba(72, 73, 121, 0.15);
    background-color: white;
    border-radius: 5px;
}


/*aa*/

.mt_of_this_box{
    padding: 100px 0px;
    background-color: #f4f6fd;
    margin-top: 100px;
}

.our_team{
    overflow: hidden;
    border-radius: 0px 40px 0px 40px;
    position: relative;
    width: 80%;
    margin: auto;
    box-shadow:5px 7px 30px rgba(72, 73, 121, 0.15);
}

.img_of_each_person{
    width: 100%;
    height: auto;
    position: relative;
    right: 0px;
    transition: all 0.4s ease-in-out 0s;
}

.our_team:hover .img_of_each_person{
    right: 60%;
}

.team_content{
    width: 80%;
    height: 100%;
    background-color: white;
    position: absolute;
    padding:65px 30px 0;
    top: 0;
    right: -80%;
    transition: all 0.4s ease-in-out 0s;
}

.our_team:hover .team_content{
    right: 0;
}

.name_of_team{
    font-size: 1.5rem;
}

.social_media_for_each_person{
    width: 176px;
    text-align: center;
    color: #4e555b;
    margin: 0 auto;
}

.link_of_social_media{
    color: #6c757d;
    display: block;
    width: 36px;
    height: 36px;
    font-size: 1.3rem;
    border-radius: 5px;
    text-align: center;
    line-height: 36px;
    transition: all 0.3s ease-in-out 0s;
}

.link_of_social_media:hover{
    color: white;
}

.link_of_social_media.fa-facebook-f:hover {
    background-color: #3E5C9A;
}

.link_of_social_media.fa-google-plus-g:hover {
    background-color: #D74937;
}

.link_of_social_media.fa-youtube:hover {
    background-color: #F80000;
}

.link_of_social_media.fa-linkedin-in:hover {
    background-color: #0271AE;
}


.social_media_for_each_person{
    padding-top: 20px;
}



.rule_of_pearson_in_team{
    font-weight: bold;
    font-size: .8rem;
}

.about_the_person_in_team{
    padding-top: 30px;
    color: #323232;
    font-size: 0.9vw;
}

.this_one{
    text-align: right;
}

.name_of_team{
    background-image: linear-gradient(to right, #FF7300, #FFC200);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*aa*/
@media only screen and (max-width: 1250px) and  (min-width: 1200px){
    .rule_of_pearson_in_team{
        font-size: .7rem;
    }
    .team_content{
        padding:65px 30px 0;
    }

    .about_the_person_in_team {
        padding-top: 15px;
    }

}

@media only screen and (max-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1250px;
    }

    .text_of_property {
        margin: 28% auto;
    }
    .style_of_title_about_us{
        padding-top: 70px;
    }

    .our_team{
        width: 95%;
    }

    .about_the_person_in_team {
        font-size: 1.3vw;
        padding-top: 20px;
    }

    .team_content{
        padding: 50px 30px 0;
    }


    .rule_of_pearson_in_team{
        font-size: 1.2vw;
    }
}

@media only screen and (max-width: 991px) {
    .circle_of_property {
        width: 500px;
        height: 500px;
        margin: 0 auto;
        left: unset;
        top: unset;
    }
    .counter_of_number{
        margin:50px auto;
    }

    .our_team{
        width: 80%;
    }

    .about_the_person_in_team {
        font-size: 1.5vw;

    }

    .team_content{
        padding: 20% 30px 0;
    }

    .rule_of_pearson_in_team {
        font-size: 1.5vw;
    }
}

@media only screen and (max-width: 768px) {
    .about_the_person_in_team {
        font-size: 2vw;
    }
    .rule_of_pearson_in_team {
        font-size: 1.8vw;
    }
}

@media only screen and (max-width: 600px) {
    .circle_of_property {
        width: 80vw;
        height: 80vw;
        margin: 0 auto;
        left: unset;
        top: unset;
    }

    .explain_about_Rush_team{
        width: 85%;
    }

    .our_team{
        width: 90%;
    }

}

@media only screen and (max-width: 575px){
    .our_team{
        width: 75%;
    }

    .rule_of_pearson_in_team {
        font-size: 2.4vw;
    }

    .about_the_person_in_team {
        font-size: 2.3vw;
    }
}


@media only screen and (max-width: 550px) {
    .Property_of_rush_team_item {
        width: 80px;
        height: 80px;
    }

    .icons_of_property {
        left: 23px;
        top: 25px;
    }
    .text_of_property{
        margin: 20% auto;
    }

    .counter_of_number{
        margin:0px auto;
    }

    .Property_of_rush_team{
        height: 450px;
    }
    .counter-count{
        font-size: 2rem;
    }

    .plus_of_counter{
        font-size: 1.2rem;
    }

    .title_of_counter{
        font-size: 1rem;
    }

    .font_size_of_little_title{
        font-size: 1rem;
    }

    .explain_about_Rush_team{
        font-size: 0.9rem;
    }


}

@media only screen and (max-width: 475px) {
    .our_team{
        width: 90%;
    }

    .rule_of_pearson_in_team {
        font-size: 2.9vw;
    }
    .about_the_person_in_team {
        font-size: 2.7vw;
    }

    .name_of_team{
        font-size: 5vw;
    }
    .link_of_social_media {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 450px) {
    .Property_of_rush_team_item{
        width: 65px;
        height: 65px;
    }

    .icons_of_property{
        font-size: 1.3rem;
        left: 18px;
        top: 20px;
    }

    .text_of_property{
        margin: 18% auto;
    }

    .title_of_explain_property{
        font-size: 1rem;
    }

    .explain_about_property{
        font-size: .8rem;
    }

    .Property_of_rush_team{
        height: 380px;
    }

}

@media only screen and (max-width: 375px) {
    .Property_of_rush_team_item{
        width: 50px;
        height: 50px;
    }
    .icons_of_property{
        font-size: 1.2rem;
        left: 12px;
        top: 13px;
    }

    .explain_about_property{
        font-size: .8rem;
        padding-top: 10px;
    }

    .title_of_explain_property{
        font-size: .9rem;
    }
    .Property_of_rush_team{
        height: 300px;
    }
    .counter-count{
        font-size: 1.7rem;
    }

    .plus_of_counter{
        font-size: 1rem;
    }

    .title_of_counter{
        font-size: .8rem;
    }

    .team_content {
        padding: 15% 30px 0;
    }
}

@media only screen and (max-width: 350px) {

    .category_of_property{
        padding-top: 10px;
    }
    .explain_about_property{
        font-size: .7rem;
    }
    .title_of_explain_property{
        font-size: .8rem;
    }
    .Property_of_rush_team{
        height: 270px;
    }

    .explain_about_Rush_team{
        font-size: 0.8rem;
    }

    .link_of_social_media {
        font-size: .8rem;
        width: 25px;
        height: 25px;
        padding-right: 35px;

    }

    .social_media_for_each_person li{
        padding-right: 0px !important;
    }
}