/*main after ok*/


.title_part_of_page {
    color: #292929;
    display: inline-block;
    font-family: main-font;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    position: relative;
}

.title_part_of_page::before {
    background-color: #292929;
    content: "";
    height: 1px;
    left: -210px;
    position: absolute;
    top: 21px;
    transition: all 0.4s ease 0s;
    width: 160px;
}

.title_part_of_page::after {
    background-color: #292929;
    content: "";
    height: 1px;
    right: -210px;
    position: absolute;
    top: 21px;
    transition: all 0.4s ease 0s;
    width: 160px;
}

/*main after ok*/

/*Top Pic*/
.pic_of_header_index_page {
    background-image: url("../../img/header.jpg");
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.title_of_web_page {
    font-family: main-font;
    color: white;
    top: 250px;
    font-size: 3.5rem;
    position: relative;
    margin: auto;
    line-height: 76px;
}

.explain_of_design_title {
    position: relative;
    color: white;
    top: 260px;
    font-size: 1.2rem;
}

.btn_add_order {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: rgba(123, 170, 123, 0.71);
    position: relative;
    top: 280px;
    color: white;
    line-height: 45px;
    transition: all linear 0.07s;
}

.btn_add_order:hover {
    color: white;
    transform: scale(1.1);
}


/*End Top Pic*/

/**/

.font_size_of_services {
    font-size: 4rem;
    color: #84D8E3;
}

.bg_credit_card {
    color: rgb(20, 133, 0);
}

.bg_user_support {
    color: rgb(0, 160, 181);
}

.bg_gift {
    color: #ef2e27;
}

.bg_truck {
    color: #0073bc;
}

/**/

/*Sale Product Category*/


.sale_product_category {
    width: 80%;
    margin: auto;
    position: relative;

}

.sale_product_category_details_img {
    width: 100%;
    height: 350px;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.figure_of_img_product_category {
    overflow: hidden;
    border-radius: 5px;
    transition: border-radius 1s;
}

.btn_product_category {
    position: absolute;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    left: 0px;
    top: 44%;
    height: 50px;
    border-radius: 5px;
    border: none;
    display: none;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.5rem;
    font-family: main-font;
    color: #45454d;
}

.figure_of_img_product_category:hover .sale_product_category_details_img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.figure_of_img_product_category:hover {
    border-radius: 0px 70px 0px 70px;
}

.figure_of_img_product_category:hover .content-overlay {
    opacity: 1;
    border-radius: 0px 70px 0px 70px;
}

.figure_of_img_product_category:hover .btn_product_category {
    display: block;
}

.show_all_product_category {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 60%;
    text-align: center;
    color: black;
    font-size: 1.5rem;
}

.show_all_product_category:hover {
    color: black;
}

.content-overlay {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s, border-radius 1s;
}

/* Animation For FadeInUp */

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

/*End Animation For FadeInUp */


/*End Sale Product Category*/

/*Parallax*/

.parallax_css_picture {
    background-image: url("../../img/parallax.jpg");
    height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 70px;
}

.h2_style_of_parallax {
    font-family: main-font;
    position: absolute;
    top: 86px;
    width: 100%;
    color: white;
    font-size: 3rem;
}

.h3_style_of_parallax {
    top: 157px;
    font-size: 2rem;
}

.btn_parallax_style {
    top: 210px;
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-family: main-font;
    color: white;
    background-color: rgba(46, 248, 255, 0.55);
}

/*End Parallax*/


/*Slide*/

.img_of_slider {
    width: 100%;
    height: 300px;
    border-radius: 5px 5px 0px 0px;
}

.img_of_slider_div {
    position: relative;
    cursor: pointer;
}

.part_of_slider {
    margin-right: 30px;

}

.part_of_slider:focus {
    outline: none;
}


.explain_about_product_pic_slider {
    background-color: white;
    border-radius: 0px 0px 5px 5px;
}

.box_of_style_attention {
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: 1.2rem;
    text-align: center;
    display: none;
    animation-name: fadeInLeft;
}

.img_of_slider_div:hover .box_of_style_attention {
    display: block;
}

.attention_style_user {
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    line-height: 30px;
}

.btn_style_of_add_shopping_box {
    border: none;
    border-radius: 5px;
    width: 80%;
    background-color: white;
    height: 40px;
    display: none;
    margin: auto;
}


.btn_style_of_add_shopping_box_div {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 10px;
}

.category_title {
    color: #4e555b;
    font-size: 14px;
}

.name_of_product {
    font-size: 1.1rem;
}

.img_of_slider_div:hover .btn_style_of_add_shopping_box {
    display: block;
}

.in_left {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

.slick-prev,
.slick-next {
    background-color: transparent;
    border: none;
    color: transparent;
    position: absolute;
    top: 160px;
    font-family: "Font Awesome 5 Pro";
}

.slick-prev:focus,
.slick-next:focus {
    outline: none;
}

.slick-prev {
    left: -80px;
}

.slick-next {
    right: -80px;
}

.slick-prev::before {
    content: "\f053";
    color: black;
    font-size: 4rem;
}

.slick-next::before {
    content: "\f054";
    color: black;
    font-size: 4rem;
}

.service_title_of_img {
    font-family: main-font;
    font-size: 1.3rem;
}

.info_of_service {
    width: 310px;
    margin: 0 auto;
    line-height: 26px;
    text-align: center;
    direction: rtl;
    font-size: 0.9rem;
}

.margin_row_customize {
    padding: 50px 0px 65px 0px;
    box-shadow: 0px 20px 30px -30px #ababab;
}

.main_field_of_category {
    border-radius: 10px;
    height: 300px;
    box-shadow: 0px 0px 10px 0px #bbbbbb;
    position: relative;

}

.category_img_custom {
    border-radius: 10px;
}

.field_of_category_info {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0px;
    text-align: right;
    direction: rtl;
    right: 0px;
    color: white;
    background-color: #00000078;
    z-index: 10;
    border-radius: 10px;
}

.header_of_category {
    font-family: main-font;
    font-size: 1.7rem;
}

.btn_of_category {
    
}

/*Fade In Left Animation*/

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translatex(-10px);
        -moz-transform: translatex(-10px);
        -o-transform: translatex(-10px);
        transform: translatex(-10px);
    }

    to {
        opacity: 1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}

@-moz-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translatex(-10px);
        -moz-transform: translatex(-10px);
        -o-transform: translatex(-10px);
        transform: translatex(-10px);
    }

    to {
        opacity: 1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translatex(-10px);
        -moz-transform: translatex(-10px);
        -o-transform: translatex(-10px);
        transform: translatex(-10px);
    }

    to {
        opacity: 1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}





/*EndFade In Left Animation*/

/*Slide*/

/*Media Query*/

@media only screen and (max-width: 1200px) {
    .sale_product_category {
        width: 100%;
    }
}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 768px) {
    .h2_style_of_parallax {
        font-size: 2rem;
    }

    .h3_style_of_parallax {
        font-size: 1.5rem;
    }

    .title_part_of_page {
        font-size: 1.4rem;
    }

    .title_part_of_page::before {
        width: 140px !important;
        left: -180px !important;
        top: 15px !important;
    }

    .title_part_of_page::after {
        width: 140px !important;
        right: -180px !important;
        top: 15px !important;
    }
}


@media only screen and (max-width: 600px) {
    .title_part_of_page {
        font-size: 1.3rem;
    }

    .title_part_of_page::before {
        width: 100px !important;
        left: -120px !important;
        top: 13px !important;
    }

    .title_part_of_page::after {
        width: 100px !important;
        right: -120px !important;
        top: 13px !important;
    }

    .title_of_web_page {
        font-size: 2.5rem;
    }

    .explain_of_design_title {
        font-size: 1rem;
    }

}

@media only screen and (max-width: 500px) {
    .sale_product_category {
        width: 80%;
    }


}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1350px;
    }
}


/*End Media Query*/