/**/
.bg-green {
    background-color: #4C532E;
}

.bg-red {
    background-color: #E22231;
}

.bg-yellow {
    background-color: #FDDE46;
}

.bg-pink {
    background-color: #DF8D7F;
}

.btn_color_of_product {
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
    margin: 1px;
}

.z {
    width: 100%;
    height: 400px;
    background-color: #ed969e;
    font-size: 2rem;
    text-align: center;
}


/**/


/*Slider Of Product*/

.border_radius_of_box{
    border-radius: 5px;
    background-color: #F5F5F5;
}

.rout_of_product{
    color: #6c757d;
}
.explain_about_product_box {
    width: 90%;
    margin: 80px auto;
}

.explain_about_product_details {
    width: 100%;
    margin: auto;
}

.title_of_product {
    border-right: 4px solid #EB7269;
    border-radius: 3px;
    padding: 10px 20px;
    height: 50px;
}


.rate_of_product_star {
    color: gold;
    height: 50px;
    line-height: 50px;
    text-align: right;
}

.number_of_comments {
    height: 50px;
    line-height: 50px;
    color: gray;
}

.list_of_explain_details {
    list-style-type: none;
    direction: rtl;
    text-align: right;
    color: #3d3d3d;
}


.gallery_of_product {
    border-radius: 5px;
    text-align: center;
}

.img_of_gallery {
    width: 85%;
    height: 400px;
    margin: 20px;
    border-radius: 5px;
}

.thumb {
    width: 17%;
    height: 80px;
    margin: 4px;
    border-radius: 5px;
    cursor: pointer;

}

.thumb-wrap {
    width: 100%;
    text-align: center;
}

.animation {
    animation: show 1s linear;
}



/* slider */

.img_of_product_slider {
    width: 100%;
    height: 330px;
    border-radius: 3px;
}

.star_product_slider {
    color: #F6B117;
    font-size: 0.7rem;
}

.empty_slot {
    color: #D9D9D9;
}

.product_slider_info {
    font-family: main-font;
    color: #8B8B8B;
    font-size: 0.8rem;
}

.price_product_slider {
    color: #1F1F1F;
    font-family: main-font;
    font-size: 0.9rem;
    font-weight: bold;
}

.price_unic {
    font-size: 0.8rem;
    margin-right: 5px;
}

.header_of_sliders {
    width: 100%;
    height: 40px;
    color: #171717;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.header_info {
    font-size: 1.3rem;
    font-family: main-font;
}

.main_field_of_product_assets {
    position: absolute;
    top: 10px;
    right: -50px;
    transition: all ease-out 0.2s;
}

.container_of_p_icon {
    width: 30px;
    height: 30px;
    background-color: #EB7269;
    border-radius: 50px;
    margin-top: 3px;
}

.container_of_p_icon i {
    color: white;
    margin-right: 7px;
    margin-top: 8px;
}

.eye_icon_custom {
    margin-right: 6px !important;
}

.slider_card_product:hover .main_field_of_product_assets {
    right: 10px;
}

.slider_card_product {
    overflow: hidden;
}

.sale_price p {
    color: #a5a5a5;
}

.sale_price::before {
    content: "";
    width: 91px;
    height: 1px;
    background-color: #a5a5a5;
    position: absolute;
    top: 428px;
    right: 95px;
}

.num_of_sale {
    color: red;
}

.product_arrow_prev,
.product_arrow_next {
    top: 16px !important;
}

.product_arrow_prev {
    left: 50px !important;
    right: unset !important;
}


.product_arrow_prev::after {
    content: "\f138" !important;
    position: relative;
    font-family: "Font Awesome 5 Pro" !important;
    font-weight: 300;
    font-size: 2rem !important;
    color: #EB7269 !important
}

.product_arrow_next::after {
    content: "\f137" !important;
    position: relative;
    font-family: "Font Awesome 5 Pro" !important;
    font-weight: 300;
    font-size: 2rem !important;
    color: #EB7269 !important
}

@keyframes show {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.price_and_explain_of_product {
    width: 300px;
    height: 305px;
    background-color: #EDEDED;
    border-radius: 5px;
    margin-left: 5%;
}

.list_price_exp_product {
    width: 100%;
    direction: rtl;
    list-style-type: none;
    height: 50px;
    line-height: 50px;
    text-align: right;
}

.ul_size_price {
    width: 90%;
    margin: auto;
    padding-top: 10px;
}

.font_style_of_fontawsome {
    font-size: 1.5rem;
    color: #6c757d;
    margin: 10px 0px;
}

.btn_of_add_product {
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 5px;
    margin-left: 32px;
    background: #EB7269;
    background-size: 200%;
    transition: .5s;
    color: white;
    font-family: main-font;
}

.btn_of_add_product:hover {
    background-position: right;
}

/*END Slider Of Product*/

/*Explain Product*/

.list_style_btn_click_to_show{
    color: #4e555b ;
    background-color: #F5F5F5;
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
    margin-right: 10px;
    width: 150px;
    text-align: center;
    height: 50px;
    padding-top: 15px;
    cursor: pointer;
}


.th_style{
    width: 15%;
}

.explain_about_product{
    background-color: white;
    width: 100%;
    border-radius: 5px;
    padding: 50px;
}

.font_size_of_rate_us{
    font-size: 1.5rem;
}

.btn_of_send_comment{
    width: 150px;
    background-color: #EB7269;
    font-family: main-font;
    color: white;
    font-size: 1rem;
    position: absolute;
    right: 0px;
}

.p_of_this{
padding-bottom: 100px;
}

.btn_of_send_comment:hover{
    color: white;
}

.style_of_pic_comment{
    color: #fff;
    background-color: #999999;
    border-radius: 50%;
    font-size: 3rem;
}

.font_size_of_rate_user{
    font-size: .8rem;
    color: gold;
}

.name_of_user{
    font-family: main-font;
}

/*End Explain Product*/

/* Media Query*/

@media only screen and (max-width: 1200px) {
    .price_and_explain_of_product {
        margin: auto;
        width: 280px;
        margin-left: 5%;
    }

    .img_of_gallery {
        width: 90%;
    }

    .thumb {
        width: 20%;
    }

}


@media only screen and (max-width: 991px) {
    .img_of_gallery {
        width: 70%;
        height: 400px;
    }

    .thumb {
        width: 15%;
    }

    .price_and_explain_of_product {
        width: 300px;
    }
    .explain_about_product_box{
        margin: 0px auto 50px auto;
    }
}

@media only screen and (max-width: 767px) {
    .unordered_list_of_explain_details {
        width: 70%;
        margin: auto;
    }

    .img_of_gallery{
        width: 85%;
        height: 350px;
    }
    h4 {
        font-size: 1rem;
    }

    .thumb{
        width: 17%;
        height: 70px;
    }

    .price_and_explain_of_product {
        margin-left: auto;
    }


}

@media only screen and (max-width: 600px) {
    .img_of_gallery {
        height: 300px;
        width: 90%;
    }

    .thumb {
        width: 20%;
        height: 70px;
    }


}

@media only screen and (max-width: 500px) {
    .thumb-wrap {
        margin-left: 6px;
    }

    .price_and_explain_of_product {
        width: 280px;
    }

    .rate_of_product_star {
        font-size: 13.5px;
    }



}

@media only screen and  (max-width: 1030px) and (min-width: 990px) {

    h4 {
        font-size: 1.3rem;
    }
}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1250px;
    }
}

/*End Media Query*/