/**/

footer{
    display: none;
}
/**/



.explain_about_product_box{
    width: 90%;
    margin: 65px auto;
}

.explain_about_product_details{
    width: 90%;
    margin: auto;
}

.title_of_product{
    border-right: 4px solid #E14C86;
    border-radius: 3px;
    padding: 10px 20px;
    height: 50px;
}


.rate_of_product_star{
    color: gold;
    height: 50px;
    line-height: 50px;
    text-align: right;
}

.number_of_comments{
    height: 50px;
    line-height: 50px;
    color: gray;
}

.list_of_explain_details{
    list-style-type: none;
    direction: rtl;
    text-align: right;
    color: #3d3d3d;
}

.size_of_details{
    width: 190px;
}


.w_hr{
    width: 111%;
}


.gallery_of_product{
    border-radius: 5px;
    text-align: center;
}

.img_of_gallery{
    width: 90%;
    height: 480px;
    margin: 20px;
    border-radius: 5px;
    border:1px solid #E14C86;
}

.thumb{
    width: 20%;
    height: 100px;
    margin:4px;
    border: 1px solid #E14C86;
    border-radius: 5px;
    cursor: pointer;

}

.thumb-wrap {
    width:100%;
    text-align:center;
}

.animation {
    animation: show 1s linear;
}

@keyframes show {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.price_and_explain_of_product{
    width: 350px;
    height: 305px;
    background-color: #F5F5F5;
    border-radius: 5px;
}

.list_price_exp_product{
    width: 100%;
    direction: rtl;
    list-style-type: none;
    height: 50px;
    line-height: 50px;
    text-align: right;
}
.ul_size_price{
    width: 90%;
    margin: auto;
    padding-top: 10px;
}

.font_style_of_fontawsome{
    font-size: 1.5rem;
    color: #6c757d;
    margin: 10px 0px;
}

.btn_of_add_product{
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 5px;
    margin-left: 32px;
    background-color: #E14C86;
}


/* Media Query*/

@media only screen and (max-width: 1200px) {
    .price_and_explain_of_product{
        margin: auto;
    }
}



@media only screen and (max-width: 991px) {

}

@media only screen and (max-width: 768px) {
    .unordered_list_of_explain_details{
        width: 70%;
        margin: auto;
    }
    h4{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 500px) {

}

@media only screen and  (max-width: 1265px) and (min-width: 992px) {
    .price_and_explain_of_product{
        width: 290px;
    }
    h4{
        font-size: 1.3rem;
    }
}
@media only screen and  (max-width: 795px) and (min-width: 767px) {
    .price_and_explain_of_product{
        width: 320px;
    }
}
/*End Media Query*/