.main_dashbord_field {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: 0px;
    top: 0px;
    background-color: #1E1E2D;
}

.field_of_zend_cms_img {
    width: 100%;
    background-color: #1A1A2C;
}

.zend_cms_img_for_dashbord {
    width: 110px;
    margin: 15px 70px;
}

.field_of_dashbord_partion {
    color: rgb(177, 177, 177);
    padding-right: 15px;
    cursor: pointer;
    padding-top: 18px;
    transition: all linear 0.1s;
}
.field_of_dashbord_partion:hover{
    background-color: #1A1A2C;
}
.field_of_dashbord_partion:hover .dashbord_tiny_icons{
    color: #5D78FF;
}
.field_of_dashbord_partion:hover .dashbord_tiny_arrow{
    color: rgb(212, 212, 212);
}
.field_of_dashbord_partion:hover .title_text_of_dashbord{
    color: rgb(243, 243, 243);
}
.dashbord_tiny_arrow {
    font-size: 0.5rem;
    color: #4A4C69;
    transition: all linear 0.1s;
    position: absolute;
    left: 22px;
    margin-top: 10px;
}

.dashbord_tiny_icons {
    font-size: 1.2rem;
    color: #494B74;
    transition: all linear 0.1s;
}

.title_text_of_dashbord {
    margin-right: 10px;
    transition: all linear 0.1s;
}
.shop_list_main_field{
    list-style-type: none;
    position: relative;
}
.shop_list_text{
    color: rgb(209, 209, 209);
    text-align: right;
    margin-top: 10px;
}