.main_dashbord_field {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: 0px;
    top: 0px;
    background-color: #1E1E2D;
}

.field_of_zend_cms_img {
    width: 100%;
    background-color: #1A1A2C;
}

.zend_cms_img_for_dashbord {
    width: 110px;
    margin: 15px 70px;
}

.field_of_dashbord_partion {
    color: rgb(177, 177, 177);
    padding-right: 15px;
    cursor: pointer;
    padding-top: 18px;
    transition: all linear 0.1s;
    background-color: transparent;
}

.field_of_dashbord_partion:hover {
    background-color: #1A1A2C;
}

.field_of_dashbord_partion:hover .dashbord_tiny_icons {
    color: #5D78FF;
}

.field_of_dashbord_partion:hover .dashbord_tiny_arrow {
    color: rgb(212, 212, 212);
}

.field_of_dashbord_partion:hover .title_text_of_dashbord {
    color: rgb(243, 243, 243);
}

.dashbord_tiny_arrow {
    font-size: 0.5rem;
    color: #4A4C69;
    transition: all linear 0.1s;
    position: absolute;
    left: 22px;
    margin-top: 10px;
}

.dashbord_tiny_icons {
    font-size: 1.2rem;
    color: #494B74;
    transition: all linear 0.1s;
}

.title_text_of_dashbord {
    margin-right: 10px;
    transition: all linear 0.1s;
}

.shop_list_main_field {
    list-style-type: none;
    position: relative;
    display: none;
    padding: 0px;
}

.shop_list_text {
    color: rgb(209, 209, 209);
    text-align: right;
    height: 44px;
    line-height: 50px;
    padding-right: 60px;
}

.shop_list_text:hover {
    background-color: #1A1A2C;
    color: white;
}

/* %%%%%%% nav bar %%%%%%% */
.main_admin_navbar {
    width: 100%;
    height: 60px;
    background-color: white;
}

.profile_admin_img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 7px;
}

.main_background-color {
    background-color: #F2F3F8;
}

.field_of_admin_name {
    background-color: white;
    height: 60px;
    border-right: 1px solid #e3e3e3;
    padding-right: 18px;
}

.nick_name_of_admin_dashbord {
    position: relative;
    top: 5px;
    left: 8px;
}

.notification_main_box {
    height: 60px;
}

.notification_icon {
    width: 20px;
    font-size: 1.5rem;
    color: #555555;
    position: relative;
    top: 8px;
    left: 15px;
}

.number_of_dashbord_notif {
    width: 17px;
    height: 17px;
    position: relative;
    z-index: 10;
    top: -5px;
    left: 11px;
    text-align: center;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 0.7rem;
    border-radius: 50%;
    line-height: 22px;
    display: inline-block;

}

.custom_number_of_dashbord_notif {
    top: -5px;
    left: 3px;
}

.special_class_for_exit {
    position: relative;
    top: -3px;
}

.notification_bell_of_navbar {
    animation-name: example;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes example {
    0% {
        transform: rotate(-45deg);
    }

    50% {
        transform: rotate(+45deg);
    }

    100% {
        transform: rotate(-45deg);
    }
}