@font-face {
    font-family: main-font;
    src: url(../font/Vazir.ttf);
}

@font-face {
    font-family: second-font;
    src: url(../font/Vazir-Thin.ttf);
}

body {
    font-family: second-font;
}

.dir-rtl {
    direction: rtl;
}

.btn:hover {
    color: #ffffff;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

a:hover {
    color: #0056b3;
    text-decoration: none;
}

button:focus {
    outline: none;
    outline: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #1E1E2D;
}

::-webkit-scrollbar-thumb {
    background: #4B5473;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 94, 129);
}

html{
    scroll-behavior: smooth;
}