.main_filed_of_store_list {
    width: 76%;
    background-color: #FFFFFF;
    margin-top: 90px;
    margin-bottom: 30px;
    margin-left: 3.5%;
    padding: 30px 30px 50px 30px;
    direction: rtl;
    text-align: right;
}

.store_list_title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.blog-card {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 0px 15px -0px rgb(190, 190, 190);
    margin-bottom: 1.6%;
    background: #fff;
    line-height: 1.4;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
    height: 300px;
}

.blog-card a {
    color: inherit;
}

.blog-card a:hover {
    color: #5ad67d;
}

.blog-card:hover .photo {
    -webkit-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
    filter: blur(0px);
}

.blog-card .meta {
    position: relative;
    z-index: 0;
    height: 200px;
}

.blog-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(1px);
    background-size: cover;
    background-position: center;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
}

.blog-card .description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1;
}

.blog-card .description h1 {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
    font-family: main-font;
}

.blog-card .description h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #a2a2a2;
    margin-top: 5px;
}

.blog-card .description .read-more {
    bottom: 20px;
    left: 20px;
    color: #5ad67d;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.blog-card p {
    position: relative;
    margin: 1rem 0 0;
}

.blog-card p:first-of-type {
    margin-top: 1.25rem;
}

.blog-card:hover .details {
    left: 0%;
}

.main_box_of_product_col{
    margin-top: 25px;
}

.font_info_color{
    color: #5AD67D;
    text-align: center;
    font-size: 0.9rem;
    position: relative;
    top: 2px;
}

.border_customize_and_padd{
    border-right: 2px solid #e8e8e8;
    padding-right: 22px;
}

.position_customize_prozuct{
    position: relative;
    top: 2.7px;
}

.situation_of_product_color{
    height: 5px;
    background: #5ad67d;
    width: 35px;
    border-radius: 3px;
}
.situation_of_product_color_2{
    height: 5px;
    background: #FF0505;
    width: 35px;
    border-radius: 3px;
}

.product_color_arrow{
    color: #5AD67D;
}

.product_title_header_custom{
    font-family: main-font;
}

.product_modal_box{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10000000000;
    background-color: rgba(0, 0, 0, 0.486);
    display: none;
}

.main_field_of_product_modal{
    width: 70%;
    height: 600px;
    background-color: white;
    border-radius: 4px;
    position: fixed;
    top: 80px;
    left: 15%;
}

.product_modal_title{
    font-size: 1.5rem;
    font-family: main-font;
    margin-top: 40px;
}

.exit_modal_fas{
    font-size: 1.3rem;
    color: #b7b7b7;
    position: absolute;
    left: 19px;
    top: 13px;
    cursor: pointer;
}

.star-rotate{
    transform: rotateY(180deg);
}

.star_color_custome{
    color: #F6B014;
}

.slider_img_product_modal{
    height: 320px;
    border-radius: 4px;
}

.sub_slider_modal{
    height: 70px;
    border-radius: 3px;
}

.title_of_specifict{
    font-family: main-font;
}

.price_of_modal_product{
    color: #E84C3D;
    font-size: 2rem;
    font-family: main-font;
}

































@media (min-width: 640px) {
    .blog-card {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
    }

    .blog-card .meta {
        flex-basis: 40%;
        height: auto;
    }

    .blog-card .description {
        flex-basis: 60%;
    }

    .blog-card.alt {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        flex-direction: row-reverse;
    }
}