.main_body_of_add_store_forms {
    width: 76%;
    background-color: #FFFFFF;
    margin-top: 90px;
    margin-bottom: 30px;
    margin-left: 3.5%;
    padding: 70px 220px;
    direction: rtl;
    text-align: right;
}

.title_of_store_add {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 40px;
    border-right: 5px solid #E13A58;
    padding-right: 18px;
    margin-right: -25px;
}

.btn_of_store_add {
    width: 130px;
    background-color: #5D78FF;
    font-weight: bold;
    color: white;
}

.btn_of_store_add:hover {
    background-color: #3758FF;
}

.chose_file_store_add {
    width: 33%;
}

#store_add_error {
    display: none;
}

#store_add_server_error {
    display: block;
}

.field_wrapper {
    width: 102.1%;
}

.width_inp_customize {
    width: 94%;
}

.add_store_file_custome {
    width: 29%;
}

.add_store_file_custome_submain {
    width: 60%;
}

.btn-tertiary {
    color: #555;
    padding: 0;
    line-height: 40px;
    width: 341px;
    display: block;
    border: 1.3px solid #d6d6d6;
    ;
}

.btn-tertiary:hover,
.btn-tertiary:focus {
    color: #888888;
    border-color: #888888;
}

.input-file-custom {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-file-custom+.js-labelFile {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
    cursor: pointer;
}

.input-file-custom+.js-labelFile .icon:before {
    content: "\f093";
}

.input-file-custom+.js-labelFile.has-file .icon:before {
    content: "\f00c";
    color: #5AAC7B;
}

.field_wrapper_file{
    width: 106%;
}

.alert_popup_circl{
    color: #ffda64;
    font-size: 1.2rem;
    position: relative;
    top: 4px;
    right: 5px;
    cursor: pointer;
}

.alert_popup_circl_btn_class{
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.span_sale_addon{
    background-color: #ffffff00;
    border-left: none;
    border-radius: 0px .25rem .25rem 0px !important;
    padding-left: 0px; 
}

.sale_inp_custome{
    border-right: none;
    border-radius: .25rem 0px 0px .25rem !important;
}

