.main_filed_of_store_list {
    width: 76%;
    background-color: #FFFFFF;
    margin-top: 90px;
    margin-bottom: 30px;
    margin-left: 3.5%;
    padding: 30px 30px 50px 30px;
    direction: rtl;
    text-align: right;
}

.store_list_title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.main_anchor_of_col_product_list {
    color: black;
}

.main_anchor_of_col_product_list:hover {
    color: black;
}

.title_of_product_cards {
    font-family: main-font;
    font-weight: bold;
    font-size: 1.2rem;
}

.col_field_of_product_list{
    background-color: #F2F3F8;
    border-radius: 3px;
}

.img_of_product_list{
    border-radius: 3px 3px 0px 0px;
    height: 250px;
}

.author_field_text{
    text-align: left;
    color: #a5a5a5;
    font-size: 0.8rem;
}