$b_radius: 7px;

@mixin main_field {
    width: 98%;
    margin-left: 1%;
    margin-top: 1.5rem;
}

@mixin main_col {
    background-color: white;
    border-radius: 7px;
    padding: 1.5rem 3rem;
    border-radius: $b_radius;
    text-align: right;
    direction: rtl;
}

@mixin header_custom {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0px;
}

@mixin small_of_header {
    font-size: 0.8rem;
    color: #B9B9B9;
}

@mixin text_truncate($width) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: $width;
}

@mixin action_btn($color, $bg_color, $w_h, $f_size) {
    color: $color;
    background-color:$bg_color;
    border-radius: 4px;
    width: $w_h;
    height: $w_h;
    padding: 0;
    font-size: $f_size;
}

@mixin table_pill($color, $bg_color, $width, $height, $line-height, $mt) {
    color: $color;
    background-color: $bg_color;
    width: $width;
    height: $height;
    border-radius: 50px;
    line-height: $line-height;
    margin: 0 auto;
    margin-top: $mt;
}


@mixin transition($type, $time) {
    transition: all $type $time;
    -webkit-transition:  all $type $time;
    -o-transition: all $type $time;
    -moz-transition: all $type $time;
}

@mixin transform($type) {
    transform: $type;
    -webkit-transform: $type;
    -o-transform: $type;
    -moz-transform: $type;

}

@mixin remove_modal {
    width: 50px;
    height: 50px;
    background: white;
    position: absolute;
    right: -22px;
    top: -23px;
    border-radius: 44px;
    cursor: pointer;
    i{
        font-size: 1.8rem;
        margin-left: 16px;
        margin-top: 11px;
    }
}