$d_red : #F64E60;
$d_purple : #6993FF;
$d_green : #1BC5BD;
$d_yellow : #FFA800;

$l_red : #FFE2E5;
$l_purple: #E1E9FF;
$l_green : #C9F7F5;
$l_yellow: #FFF4DE;

$dsh_bg : #1E1E2D;
$dsh_bg_dark : #1B1B28;
$dsh_color: #494B74;
$dsh_color_light: #3699FF;
$dsh_text_color:#A2A3B7;

$form_color : #F3F6F9;