.error_danger_alert {
    direction: rtl;
    width: 100%;
    color: #D91413;
    background-color: #FEEFEE;
    border-radius: 3px;
    border: 1.5px solid #e6b5b5;
    padding: 10px 10px;
    position: relative;
    top: -20px;
}

.error_warning_alert{
    direction: rtl;
    width: 100%;
    color: #B95000;
    background-color: #FEF5EB;
    border-radius: 3px;
    border: 1.5px solid #f1bf98;
    padding: 10px 10px;
    position: relative;
    top: -20px; 
}

.error_success_alert{
    direction: rtl;
    width: 100%;
    color: #287C3C;
    background-color: #EDF8F0;
    border-radius: 3px;
    border: 1.5px solid #a1ccab;
    padding: 10px 10px;
    position: relative;
    top: -20px;
}

.remove_error_icon {
    position: absolute;
    left: 15px;
    top: 14px;
    cursor: pointer;
}

.alert_icon_error{
    position: relative;
    top: 2px;
}

.display_none{
    display:none;
}