@font-face {
    font-family: second-font;
    src: url("../../font/Vazir-Thin.ttf");
}

@font-face {
    font-family: main-font;
    src: url("../../font/Vazir.ttf");
}

body {
    font-family: second-font;
}

.dir_rtl {
    direction: rtl;
}

.dir_ltr {
    direction: ltr;
}

::-moz-selection {
    background: rgb(185, 197, 255);
}

::selection {
    background: rgb(185, 197, 255);
}

a:hover {
    color: #0056b3;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

