
/*Footer*/

.footer_style{
    color:#626677 ;
    font-family: main-font;
}

.logo_of_footer{
    width: 120px;
    height: 100px;
}

.social_media_box_in_footer{
    font-size: 1.5rem;
}

.left_box_of_footer , .center2_box_of_footer , .center_box_of_footer , .right_box_of_footer , .box_last_footer{
    width: 80%;
    margin: auto;
    text-align: center;
}

.explain_of_Customization_product{
    font-size: 0.85rem;
}

.btn_of_Customization_product{
    border: none;
    border-radius: 5px;
    width: 130px;
    height: 40px;
    margin: auto;
}

.row_style_margin{
    margin-top: 100px;
    margin-bottom: 50px;
}

.namad_img_footer{
    margin: auto;
    width: 60%;
    height: 150px;
}

.list_of_footer_menu{
    list-style-type: none;
    margin-bottom: 5px;
}

.link_of_footer_menu{
    color: #626677;
    transition: font-size .5s , color .5s;
    font-size: .9rem;
}

.link_of_footer_menu:hover{
    color: black;
    font-size: 1.05rem;
}

.support_option{
    font-size: .9rem;
}

.explain_of_Customization_product{
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.footer_company_name{
    direction: ltr;
}
/*End Footer*/


.main_field_of_nav_menu{
    background-color: #f0f0f0;
    height: 105px;
    margin-bottom: 300px;
    text-align: right;
    border-bottom: 1px solid #cacaca;
    padding-right: 100px;
}

.ul_of_main_menu{
    color: black;
    font-size: 1.1rem;
    font-family: main-font;
    line-height: 100px;
}

.main_logo_field{
    width: 110px;
    position: absolute;
    top: 7px;
    right: 7px;

}







@media only screen and (max-width: 1200px) {

    .namad_img_footer{
        width: 70%;
    }
}

@media only screen and (max-width: 991px) {
    .namad_img_footer{
        width: 90%;
    }
    .explain_of_Customization_product{
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .namad_img_footer{
        width: 25%;
    }
}

@media only screen and (max-width: 600px) {
    .namad_img_footer{
        width: 30%;
    }
}

@media only screen and (max-width: 500px) {
    .namad_img_footer{
        width: 40%;
    }
}

@media only screen and  (max-width: 769px) and (min-width: 768px) {
    .namad_img_footer{
        width: 90%;
    }
}

/*End Media Query*/