/*Footer*/

.footer_style {
    color: #626677;
    font-family: main-font;
    background-color: white;
}

.logo_of_footer {
    width: 120px;
    height: 100px;
}

.social_media_box_in_footer {
    font-size: 1.5rem;
}

.left_box_of_footer,
.center2_box_of_footer,
.center_box_of_footer,
.right_box_of_footer,
.box_last_footer {
    width: 80%;
    margin: auto;
    text-align: center;
}

.explain_of_Customization_product {
    font-size: 0.85rem;
}

.btn_of_Customization_product {
    border: none;
    border-radius: 5px;
    width: 130px;
    height: 40px;
    margin: auto;
}

.row_style_margin {
    margin-top: 100px;
    margin-bottom: 50px;
}

.namad_img_footer {
    margin: auto;
    width: 60%;
    height: 150px;
}

.list_of_footer_menu {
    list-style-type: none;
    margin-bottom: 5px;
}

.link_of_footer_menu {
    color: #626677;
    transition: font-size .5s, color .5s;
    font-size: .9rem;
}

.link_of_footer_menu:hover {
    color: black;
    font-size: 1.05rem;
}

.support_option {
    font-size: .9rem;
}


.footer_company_name {
    direction: ltr;
}

.about_melorin_connect {
    width: 80%;
    background: #999999;
    text-align: right;
    margin: auto;
}

/*End Footer*/

.header_of_navbar {
    width: 100%;
    height: 100px;
    background-color: white;
}

.logo_shop_text {
    font-family: accent-font;
    font-size: 2.2rem;
    color: #171717;
    position: relative;
    top: 5px;
}

.logo_shop_text span {
    color: #FF6B6B;
}

.main_logo {
    width: 31%;
}

.bag_heaer_text {
    color: #FF6B6B;
    font-size: 1.1rem;
    font-weight: bold;
}

.shopping_card_header {
    color: #FF6B6B;
    font-size: 1.5rem;
    position: relative;
    top: 4px;
    margin-top: 29px;

}

.shopping_card_number {
    position: absolute;
    top: 20px;
    right: 102px;
    width: 25px;
    height: 25px;
    background-color: #FF6B6B;
    border-radius: 50px;
    text-align: center;
    color: white;
    font-weight: bold;
    border: 3px solid white;
    font-size: 0.9rem;
}

.box_of_reg_log_header {
    border-right: 1px solid black;
    margin-right: 15px;
    padding-right: 15px;
    height: 30px;
}

.btn_of_search_header{
    background-color: #FF6B6B;
    color: white;
    border:0px
}

.box_of_search_header{
    margin-top: 27px;
}

.search_inp_header:focus {
    border-color: #CED4DA;
    outline: 0;
    box-shadow: none;
}

.main_navbar{
    height: 60px;
    width: 100%;
    background-color: white;
    border-top: 1px solid #e7e7e7;
}

.menu_links{
    color: #171717;
}

.active_menu{
    border-bottom: 3px solid #FF6B6B;
    padding-bottom: 16px;
}










@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1250px;
    }
}


@media only screen and (max-width: 1200px) {

    .namad_img_footer {
        width: 70%;
    }
}

@media only screen and (max-width: 991px) {
    .namad_img_footer {
        width: 90%;
    }

    .explain_of_Customization_product {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .namad_img_footer {
        width: 25%;
    }
}

@media only screen and (max-width: 600px) {
    .namad_img_footer {
        width: 30%;
    }
}

@media only screen and (max-width: 500px) {
    .namad_img_footer {
        width: 40%;
    }
}

@media only screen and (max-width: 769px) and (min-width: 768px) {
    .namad_img_footer {
        width: 90%;
    }
}



/*End Media Query*/