//import file

@import "../../scss/mixin/main-mixin";
@import "../../scss/variable/color";


//Header Of Contact Us Page
.header_of_contact_us_page {
  .got_question {
    color: $d_gold;
  }

  .explain_contact_us {
    color: $gray;
  }

}

//End Header Of Contact Us Page

//Contact Us Form And Explain

.contact_us_form_and_explain {
  .box_of_contact_us {
    width: 150%;
    height: auto;
    background-color: $second_gray;
    transform: rotate(-3deg);
    margin-top: 7%;
    padding-bottom: 100px;


    .form_of_contact_us {
      background-color: $white;
      position: relative;
      transform: rotate(3deg);
      border-radius: 5px;
      box-shadow: 5px 7px 30px rgba(72, 73, 121, 0.15);
      left: -55%;
      width: 80%;
      padding: 60px 40px;
      top: -3%;

      .label_of_form {
        direction: rtl;
        float: right;
      }


      .inline_form_class {
        width: 45%;
      }

      .m_r_form_inline {
        margin-right: 10%;
      }


      .should_be_fill {
        color: red;
      }

      .btn_of_contact_us {
        background-color: $d_gold;
        color: white;
      }

      .focus_on_form {
        border: 1px solid $d_gold;

        &:focus {
          border: none;
          box-shadow: 0 0 0 0.15rem rgba(202, 171, 104, 0.3);
        }
      }


      .contact_information {

        .contact_information_title {
          font-size: 1.15rem;
          padding: 20px 0px;
        }

        .contact_information_us {
          color: #6D6D7A;
        }

        .font_size_of_icon_in_contact_information {
          font-size: 1.1rem;
        }

        .fa-map-marker-smile {
          font-size: 1.3rem;
        }
      }

    }

    .how_can_we_help_you {
      transform: rotate(3deg);
      position: relative;
      right: 60%;
      top: 150px;
      width: 90%;

      .title_of_help_question {
        color: goldenrod;
      }

      .explain_of_help_question {
        color: $gray;
      }

      .repetitive_questions_box {
        position: relative;
        cursor: pointer;

        &:hover .fa-angle-left {
          left: 5px;
          font-weight: bold;
        }

        .title_of_repetitive_question {
          font-size: 1.1rem;
        }

        .explain_of_repetitive_question {
          width: 80%;
          margin-left: 20%;
          font-size: .8rem;
          color: $gray;
          text-align: right;
          direction: rtl;
        }

        .fa-angle-left {
          position: absolute;
          left: 10px;
          font-size: 1.2rem;
          color: $gray;
          top: 30px;
        }
      }


    }
  }


}


//End Contact Us Form And Explain
