@font-face {
  font-family: main_font;
  src: url(../fonts/Nunito-Italic.ttf);
}

@font-face {
  font-family: second_font;
  src: url(../fonts/OptimusPrinceps.ttf);
}

html {
  scroll-behavior: smooth;
}

ul,
li {
  list-style-type: none;
}


.dir_rtl {
  direction: rtl;
}

.header {
  .navbar-light .navbar-toggler {
    border-color: white;
  }

  .menu_icon {
    color: white;
    padding-top: 2px;

  }

  .nav_bar_home {
    position: absolute;
    top: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8046568969384629) 0%, rgba(0, 0, 0, 0) 100%);

    .navbar-nav {
      .nav-link {
        color: white;
        font-size: 1.2rem;
        margin-right: 10px;
        transition: all .1s linear;
        font-family: second_font;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

.categories_of_gallery {

  margin-top: 100px;

  .img_of_categorie {
    width: 100%;
  }

  .box_of_categories_img {
    position: relative;
    margin-bottom: 30px;

    .categorie_filter_layers {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      background-color: #9494947e;
      text-align: center;
      cursor: pointer;

      .categorie_txt {
        font-size: 4rem;
        font-family: second_font;
        color: white;
        margin-top: 35%;

      }
    }
  }


}

.partition_img_box {
  .partition_img {
    width: 100%;
    height: 550px;
  }
}

.swiper_slider {

  .slider_title {
    font-family: second_font;

    .title_of_slider_gallery {
      position: relative;

      &:after {
        content: "";
        width: 30%;
        height: 1px;
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        border-radius: 3px;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

  }

  .swiper-wrapper {
    .swiper-slide {
      width: 80%;
      margin: auto;
      .img_of_gallery_slider{
        width: 100%;

      }

      .content_of_slider{
        height: 400px;
        .title_of_gallery{
          font-family: second_font;
          font-size: 1.5rem;
          font-weight: 800;
        }

        .exp_of_gallery_slider{
          color: #6c757d;
        }

        .btn_of_slider_gallery{
          color: white;
          background-color: #303030;
          width: 120px;
          height: 40px;
          border: none;
          border-radius: 5px;
          padding-bottom: 5px;
          transition: all .3s ease-in-out;
          margin-left: 5px;
          &:focus{
            outline: none;
          }

          &:hover{
            transform: scale(1.05);
          }
        }
      }

    }
  }

}

.footer_field {
  width: 100%;
  background-color: #1a1a1a;
  font-family: second_font;

  .field_of_footer_part {
    border-bottom: 1px solid rgb(59, 59, 59);

    .footer_part_header {
      color: rgb(210, 226, 151);
      font-size: 1.2rem;
    }

    .footer_txt a {
      color: white;
      transition: all 0.1s linear;

      &:hover {
        text-decoration: none;
        font-weight: 600;
      }
    }

    .border_r {
      border-right: 1px solid rgb(59, 59, 59);
    }

    .field_of_social, .email_div, .fiel_for_social_media a {
      color: white;
    }

    .fiel_for_social_media a {
      padding-bottom: 20px;

      &:hover {
        text-decoration: none;

      }
    }


  }


}

//modal


.modal_of_sign_in {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.55);
  position: fixed;
  top: 0;

  .modal_box {
    width: 40%;
    position: absolute;
    left: 30%;
    top: 70px;
    background-color: white;
    border-radius: 5px;
    font-family: second_font;

    .modal_content {
      padding: 50px;

      .header_of_modal {
        height: 70px;

        .btn_of_close {
          border: none;
          background-color: transparent;

          &:focus {
            outline: none;
          }

          .close_icon {
            font-size: 1.5rem;
            font-weight: 500;
          }
        }

        .title_of_modal {
          font-size: 1.5rem;
        }
      }

      form {
        .form-group {
          label {
            font-weight: 600;
          }

          .form-control {
            transition: all 0.3s ease-in-out;

            &:focus {
              border: 1px solid #ced4da;
              box-shadow: none;
              background-color: #F5F6F6;
            }
          }
        }

        .btn_submit_style {
          width: 100%;
          font-weight: 500;
          background-color: #CAA661;
          color: white;
          font-size: 1.3rem;
          margin-top: 30px;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: black;
            color: #fff;
          }
        }
      }
    }
  }
}

.modal_of_sign_up {

  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.55);
  position: fixed;
  top: 0;

  .modal_box {
    width: 40%;
    position: absolute;
    left: 30%;
    top: 130px;
    background-color: white;
    border-radius: 5px;
    font-family: second_font;

    .modal_content {
      padding: 50px;

      .header_of_modal {
        height: 70px;

        .btn_of_close {
          border: none;
          background-color: transparent;

          &:focus {
            outline: none;
          }

          .close_icon {
            font-size: 1.5rem;
            font-weight: 500;
          }
        }

        .title_of_modal {
          font-size: 1.5rem;
        }
      }

      form {
        .form-group {
          label {
            font-weight: 600;
          }

          .form-control {
            transition: all 0.3s ease-in-out;

            &:focus {
              border: 1px solid #ced4da;
              box-shadow: none;
              background-color: #F5F6F6;
            }
          }
        }

        .btn_submit_style {
          width: 100%;
          font-weight: 500;
          background-color: #CAA661;
          color: white;
          font-size: 1.3rem;
          margin-top: 30px;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: black;
            color: #fff;
          }
        }
      }
    }
  }
}

.search_box {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.55);
  position: fixed;
  top: 0;

  .search_box_content {
    width: 90%;
    margin: auto;

    .header_of_search_box {
      width: 100%;
      text-align: right;
      margin-top: 100px;

      .btn_of_close {
        background-color: transparent;
        border: none;
        font-size: 3rem;
        margin: 100px 0;
        font-weight: 900;
        color: white;

        &:focus {
          outline: none;
        }
      }

    }

    .field_of_search {
      width: 80%;
      height: 50.5px;
      display: inline-block;
      border-radius: 5px 0px 0px 5px;

      &:focus {
        border: 1px solid #DDDDDD;
        box-shadow: none;
      }
    }

    .btn_of_search {
      width: 19%;
      height: 50px;
      border: none;
      background-color: #DDDDDD;
      display: inline-block;
      border-radius: 0px 5px 5px 0px;
      position: relative;
      right: 4px;

      &:focus {
        outline: none;
      }

      .search_icon {
        color: #4e555b;
      }
    }
  }

}

.sign_in_up {
  border: none;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 991px) {
  .categories_of_gallery .box_of_categories_img .categorie_filter_layers .categorie_txt {
    font-size: 3rem;
  }

}

@media only screen and (max-width: 767px) {

  .footer_field .field_of_footer_part .border_r {
    border: none;
  }

  .partition_img_box .partition_img {
    margin-bottom: 50px;
  }

}

@media only screen and (max-width: 600px) {
  .swiper_slider .swiper-wrapper .swiper-slide .img_of_gallery_slider{
    height: 500px;
  }
  .swiper_slider .swiper-wrapper .swiper-slide .content_of_slider{
    height: 300px;
  }
}

@media only screen and (max-width: 500px) {
}