@font-face {
  font-family: main_font;
  src: url(../fonts/Nunito-Italic.ttf);
}
@font-face {
  font-family: second_font;
  src: url(../fonts/OptimusPrinceps.ttf);
}
html {
  scroll-behavior: smooth;
}

ul,
li {
  list-style-type: none;
}

.dir_rtl {
  direction: rtl;
}

.index_page {
  background-image: url("../img/1.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  font-family: second_font;
}
.index_page .nav_bar_index {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
}
.index_page .nav_bar_index .logo-of_fashion_web_page {
  width: 190px;
  height: 80px;
}
.index_page .nav_bar_index .bottom_of_close {
  display: none;
}
.index_page .nav_bar_index .bottom_of_menu_bar, .index_page .nav_bar_index .bottom_of_close {
  border: none;
  width: 46px;
  height: 40px;
}
.index_page .nav_bar_index .bottom_of_menu_bar:focus, .index_page .nav_bar_index .bottom_of_close:focus {
  outline: none;
}
.index_page .nav_bar_index .bottom_of_menu_bar .menu_icon, .index_page .nav_bar_index .bottom_of_menu_bar .close_icon, .index_page .nav_bar_index .bottom_of_close .menu_icon, .index_page .nav_bar_index .bottom_of_close .close_icon {
  font-size: 1.7rem;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  top: 20px;
  right: 30px;
}
.index_page .nav_bar_index .bottom_of_menu_bar .close_icon, .index_page .nav_bar_index .bottom_of_close .close_icon {
  font-size: 1.7rem;
  padding: 5px 13px;
}
.index_page .content_of_index .content_of_index_box_menu {
  height: 80vh;
}
.index_page .content_of_index .content_of_index_box_menu .first_text_about_uniti {
  font-size: 1.8rem;
  text-align: center;
  width: 85%;
  margin: auto;
  padding-top: 20vh;
  font-weight: 600;
}
.index_page .content_of_index .content_of_index_box_menu .ul_menu_box {
  padding-top: 18vh;
}
.index_page .content_of_index .content_of_index_box_menu .menu_options {
  font-size: 1.7rem;
  list-style-type: none;
  text-align: center;
  display: none;
  transition: all 0.2s ease-in;
  font-weight: 600;
}
.index_page .content_of_index .content_of_index_box_menu .menu_options a {
  color: black;
}
.index_page .content_of_index .content_of_index_box_menu .menu_options a:hover {
  text-decoration: none;
}
.index_page .content_of_index .content_of_index_box_menu .menu_options:hover {
  transform: scale(1.1);
}
.index_page .footer_of_index .sign_in_up {
  display: inline-block;
  margin-right: 20px;
  padding-top: 15px;
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
  transition: all 0.2s ease-in;
}
.index_page .footer_of_index .sign_in_up:hover {
  transform: scale(1.1);
}
.index_page .footer_of_index .social_media {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  margin-right: 15px;
  padding-top: 15px;
  transition: all 0.2s ease-in;
}
.index_page .footer_of_index .social_media:hover {
  transform: scale(1.1);
}

.modal_of_sign_in {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.55);
  position: fixed;
  top: 0;
}
.modal_of_sign_in .modal_box {
  width: 40%;
  position: absolute;
  left: 30%;
  top: 70px;
  background-color: white;
  border-radius: 5px;
  font-family: second_font;
}
.modal_of_sign_in .modal_box .modal_content {
  padding: 50px;
}
.modal_of_sign_in .modal_box .modal_content .header_of_modal {
  height: 70px;
}
.modal_of_sign_in .modal_box .modal_content .header_of_modal .btn_of_close {
  border: none;
  background-color: transparent;
}
.modal_of_sign_in .modal_box .modal_content .header_of_modal .btn_of_close:focus {
  outline: none;
}
.modal_of_sign_in .modal_box .modal_content .header_of_modal .btn_of_close .close_icon {
  font-size: 1.5rem;
  font-weight: 500;
}
.modal_of_sign_in .modal_box .modal_content .header_of_modal .title_of_modal {
  font-size: 1.5rem;
}
.modal_of_sign_in .modal_box .modal_content form .form-group label {
  font-weight: 600;
}
.modal_of_sign_in .modal_box .modal_content form .form-group .form-control {
  transition: all 0.3s ease-in-out;
}
.modal_of_sign_in .modal_box .modal_content form .form-group .form-control:focus {
  border: 1px solid #ced4da;
  box-shadow: none;
  background-color: #F5F6F6;
}
.modal_of_sign_in .modal_box .modal_content form .btn_submit_style {
  width: 100%;
  font-weight: 500;
  background-color: #CAA661;
  color: white;
  font-size: 1.3rem;
  margin-top: 30px;
  transition: all 0.3s ease-in-out;
}
.modal_of_sign_in .modal_box .modal_content form .btn_submit_style:hover {
  background-color: black;
  color: #fff;
}

.modal_of_sign_up {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.55);
  position: fixed;
  top: 0;
}
.modal_of_sign_up .modal_box {
  width: 40%;
  position: absolute;
  left: 30%;
  top: 130px;
  background-color: white;
  border-radius: 5px;
  font-family: second_font;
}
.modal_of_sign_up .modal_box .modal_content {
  padding: 50px;
}
.modal_of_sign_up .modal_box .modal_content .header_of_modal {
  height: 70px;
}
.modal_of_sign_up .modal_box .modal_content .header_of_modal .btn_of_close {
  border: none;
  background-color: transparent;
}
.modal_of_sign_up .modal_box .modal_content .header_of_modal .btn_of_close:focus {
  outline: none;
}
.modal_of_sign_up .modal_box .modal_content .header_of_modal .btn_of_close .close_icon {
  font-size: 1.5rem;
  font-weight: 500;
}
.modal_of_sign_up .modal_box .modal_content .header_of_modal .title_of_modal {
  font-size: 1.5rem;
}
.modal_of_sign_up .modal_box .modal_content form .form-group label {
  font-weight: 600;
}
.modal_of_sign_up .modal_box .modal_content form .form-group .form-control {
  transition: all 0.3s ease-in-out;
}
.modal_of_sign_up .modal_box .modal_content form .form-group .form-control:focus {
  border: 1px solid #ced4da;
  box-shadow: none;
  background-color: #F5F6F6;
}
.modal_of_sign_up .modal_box .modal_content form .btn_submit_style {
  width: 100%;
  font-weight: 500;
  background-color: #CAA661;
  color: white;
  font-size: 1.3rem;
  margin-top: 30px;
  transition: all 0.3s ease-in-out;
}
.modal_of_sign_up .modal_box .modal_content form .btn_submit_style:hover {
  background-color: black;
  color: #fff;
}

.hide_first_text {
  display: none;
}

.show_menu_options {
  display: block;
}

.sign_in_up {
  border: none;
  background-color: transparent;
}
.sign_in_up:focus {
  outline: none;
}

@media only screen and (max-width: 1200px) {
  .first_text_about_uniti {
    font-size: 1.5rem !important;
  }
}
@media only screen and (max-width: 992px) {
  .first_text_about_uniti {
    font-size: 1.7rem !important;
  }
}
@media only screen and (max-width: 768px) {
  .first_text_about_uniti {
    font-size: 2.3rem !important;
  }
}

/*# sourceMappingURL=index.css.map */
