$color_white: #fff;
$orange_color_gradient: linear-gradient(to right, #FF7300, #FFC200);
$blue_color_gradient: linear-gradient(to right, #3D52EF, #55B9FC);
$color_light_orange: #FFC200;
$color_light_blue: #59CAFE;
$color_orange: #FF7300;
$color_blue: #3633EB;
$color_ghost_white: #F4F6FD;
$color_black: #000;
$color_gray :#7f7e7e;
$primary_color:#F64E60;


$d_gold: #CAAB68;
$l_gray: #b8b8b8;