@import '../Partials/main-color';
@import '../Partials/mixin';
@import '../Partials/btn';
@import '../Partials/uploader';
@import '../Partials/header-text';
@import '../Partials/checkbox-design';
@import '../Partials/tags';
@import '../Partials/uploader';
@import '../Partials/error';

.main_body {
    @include main_field
}

.main_col {
    @include main_col;
}

// tabs style
.shop_tabs {
    cursor: pointer;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    padding-right: 10px;
    margin-top: 10px;

    i {
        position: relative;
        top: 3px;
    }
}

.shop_tabs_active {
    background-color: #F3F6F9;
    color: $d_red;
}

.shop_tabs:hover {
    background-color: #F3F6F9;
}

.shop_tabs:hover p,
.shop_tabs:hover i {
    color: $d_red;
}

.shop_tabs i {
    display: inline-block;
    font-size: 1.5rem;
}

.shop_field_padding_custom {
    padding: 0px 70px;
}

.checkbox_text {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 4px;
    font-size: 0.9rem;
}

.option-input {
    margin-right: 0;
}

.shop_field_padding_custom {
    .attr_description_field {
        height: 100px !important;
    }
}

.field_of_shop_tabs {
    display: none;
}

#product_detail_tab {
    display: block;
}

#attributes {
    overflow: auto;
}

#tax_tab {
    display: none;
}

.add_layer , .remove_layer {
    font-size: 1.7rem;
    color: #7fe0dc;
    float: left;
    position: relative;
    top: 10px;

    &:hover {
        color: $d_green;
    }
}

.remove_layer{
    display: none;
}