@import "../../css/mixin/main-mixin";
@import "../../css/mixin/cb-mixin";
@import "../../css/variable/color";


.navbar_field {
  background-color: $d_bg;
  position: relative;
  margin-bottom: 50px;
}

