@import "../../css/mixin/main-mixin";
@import "../../css/mixin/cb-mixin";
@import "../../css/variable/color";


.header_of_articles_show {
  width: 100%;
  height: 100vh;
  background-color: $d_bg;
  padding-top: 150px;
  color: white;
  font-family:accent-font;
  direction: rtl;
  text-align: right;
}